<div ng-if="showPromotedHashtags">
  <hr/>
  <h3 ng-if="promotedHashtags">Popular Hashtags</h3>
  <div class="list-group">
    <a class="list-group-item" bindonce ng-repeat="hashtagResult in promotedHashtags" ng-href="/explore/morsels/search?q={{formatQuery(hashtagResult.name)}}&type=hashtag" ng-click="clickHashtag(hashtagResult.name, true)"><span bo-text="'#'+hashtagResult.name"></span><span class="badge" bo-text="hashtagResult.tags_count"></span></a>
  </div>
  <div ng-if="!promotedHashtags" class="loader"></div>
  <div mrsl-view-more="loadPromotedHashtags" mrsl-view-more-data="promotedHashtags" mrsl-view-more-copy="View more hashtags" mrsl-view-more-list-type="Hashtags" mrsl-view-more-view="search_matches_morsels" mrsl-view-more-delay="true"></div>
</div>

<div ng-if="!showPromotedHashtags">
  <div class="list-group">
    <a ng-href="/explore/morsels/search?q={{formatQuery(morselSearch.model.query)}}" ng-bind="'Search morsels for &quot;'+morselSearch.model.query+'&quot;'" class="list-group-item" ng-click="clickSearchResult()"></a>
    <a class="list-group-item" bindonce ng-repeat="hashtagResult in hashtagResults" ng-href="/explore/morsels/search?q={{formatQuery(hashtagResult.name)}}&type=hashtag" ng-click="clickHashtag(hashtagResult.name)"><span bo-text="'#'+hashtagResult.name"></span><span class="badge" bo-text="hashtagResult.tags_count"></span></a>
  </div>
  <div ng-if="!hashtagResults" class="loader"></div>
  <div mrsl-view-more="loadHashtagResults" mrsl-view-more-data="hashtagResults" mrsl-view-more-copy="View more hashtags" mrsl-view-more-list-type="Hashtags" mrsl-view-more-view="search_matches_morsels" mrsl-view-more-delay="true"></div>
</div>