<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h4 class="h2">Comments</h4>
</div>
<div class="modal-body user-list comment-list">
  <div mrsl-view-more mrsl-view-more-func="getComments" mrsl-view-more-data="item.comments" mrsl-view-more-inc="increment" mrsl-view-more-copy="View previous comments" mrsl-view-more-order="last"></div>
  <ul ng-show="item.comments.length > 0">
    <li bindonce ng-repeat="comment in item.comments | reverse" class="view-more-list">
      <div class="user-info">
        <div mrsl-user-image mrsl-username="comment.creator.username" mrsl-user-photos="comment.creator.photos" mrsl-user-image-size="profile-pic-xs"></div>
        <span ng-click="deleteComment(comment.id)" class="close" ng-show="(item.creator_id === currentUser.id) || (comment.creator.id === currentUser.id)">&times;</span>
        <div class="user-body user-extra-info">
          <h5 class="user-info-main">
            <a bo-href="'/'+comment.creator.username.toLowerCase()" bo-text="comment.creator.username"></a>
          </h5>
          <span am-time-ago="comment.created_at" class="time-ago"></span>
          <p class="user-list-text" bo-html="formatComment(comment.description)"></p>
        </div>
      </div>
    </li>
  </ul>
  <div ng-show="!item.comments" class="loader"></div>
  <div ng-show="item.comments && item.comments.length === 0" class="empty-state">
    <p>There are no comments</p>
  </div>
  <div class="add-comment">
    <form role="form" ng-submit="addComment()" name="addCommentForm" novalidate>
      <div class="form-group">
        <textarea class="form-control" rows="3" ng-model="comment.description" placeholder="Write your comment" required></textarea>
      </div>
      <button type="submit" ng-disabled="addCommentForm.$invalid" class="btn btn-primary">Add Comment</button>
    </form>
  </div>
</div>