.search-page {
  .search-menu {
    margin-top: 60px;
    list-style: none;

    li {
      margin: 10px 0;
    }

    .btn {
      text-align: left;
      display: block;
    }
  }

  h2 {
    text-align: center;
  }

  .empty-state {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .search-main {
    .user-list {
      margin-top: 15px;
    }
  }
}