<div class="form-group item-description">
  <p ng-hide="editingDescription" ng-bind-html="item.description ? formatDescription() : placeholderDescription" ng-class="{'no-text':!item.description}" ng-click="edit()"></p>
  <ng-form ng-show="editingDescription" name="itemDescriptionForm">
    <textarea ng-attr-placeholder="{{placeholderDescription}}" ng-model="updatedDescription" name="itemDescription" class="form-control"></textarea>
    <div class="form-group-btns">
      <button type="button" class="btn btn-link" ng-click="cancel()">Cancel</button>
      <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
    </div>
  </ng-form>
</div>