//forms
.padded-form {
  padding-bottom: 25px;
}

.btn-submit-wrap {
  float: right;
  display: inline-block;

  &.btn-submit-block {
    float: none;
    display: block;

    .btn {
      width: 100%;
      float: none;
    }
  }
}

.label-btns {
  .control-label {
    display: block;
  }

  .radio {
    display: inline-block;
    padding: 0;

    label {
      /*@extend .btn;
      @extend .btn-default;*/
      display: block;
      white-space: normal;
    }

    input[type="radio"], input[type="checkbox"] {
      display: none;

      &:checked + label {
        background-color: darken($btn-default-bg, 8%);
        border-color: darken($btn-default-border, 12%);
      }
    }

    & + .radio {
      margin-top: 10px;
    }
  }
}

//general image styles
img {
  max-width: 100%;
}

.profile-pic-link {
  display: inline-block;
  padding: $profile-bic-border-width;

  img {
    @include box-shadow(0 0 0 1px hsl(0, 0%, 90%), 0 0 0 2px hsl(0, 0%, 98%));
  }
}

.profile-pic-xs {
  width: $profile-pic-xs;
  height: $profile-pic-xs;
}

.profile-pic-s {
  width: $profile-pic-s;
  height: $profile-pic-s;
}

.profile-pic-m {
  width: $profile-pic-m;
  height: $profile-pic-m;
}

.profile-pic-l {
  width: $profile-pic-l;
  height: $profile-pic-l;
}

.user-info {
  overflow: hidden;

  .profile-pic-link {
    margin: 0 5px;
    float: left;
  }
  .user-body {
    overflow: hidden;
  }

  &.user-info-stacked {
    h5 {
      font-size: 22px;
      line-height: 30px;
      margin: 5px auto 0;

      a {
        color: $morsel-primary;
        text-transform: none;
      }
    }

    h6 {
      margin: 5px auto 0;
      line-height: 20px;

      a {
        font-size: 16px;
        text-transform: none;
        color: $morsel-primary;
      }

      span {
        font-size: 14px;
      }
    }

    .profile-pic-link {
      float: none;
    }
  }
}

.caption {
  color: $morsel-medium;
  font-style: italic;
}

.morsel-icon {
  background-image: url(images/icons/morsel-icon.png);
  background-size: cover;
  height: 14px;
  width: 14px;
  display: inline-block;
}

.time-ago {
  font-size: 12px;
  margin: 0;
}

.empty-state {
  text-align: center;
  color: $morsel-medium;
}

.loader {
  width: 100%;
  background: url(images/icons/loader.gif) center center no-repeat;
  height: 100px;

  &.loader-white {
    background-image: url(images/icons/loader-white.gif);
  }
}

.view-more-btn {
  text-align: center;

  .loader, .btn {
    height: 40px !important;
  }

  .btn-primary {
    margin: 15px 0;
  }
}

.view-more-list {
  @include opacity(1);
  @include transition(all linear .5s);

  &.ng-move, &.ng-enter {
    position: relative;
    @include opacity(.5);
  }
}

form {
  .image-add {
    display: block;

    .img-circle {
      display: block;
      height: $profile-pic-l;
      width: $profile-pic-l;
      background-color: $morsel-light;
      margin: 0 auto 10px;
      position: relative;

      &:hover {
        .plus-sign {
          @include opacity(.9);
          color: $morsel-primary;
        }
      }
    }

    &.avatar-add {
      .img-circle {
        background-image: url(images/utility/avatars/avatar_144x144.jpg);
      }
    }

    .plus-sign {
      line-height: $profile-pic-l;
      text-align: center;
      z-index: 5;
      font-size: $profile-pic-l/2;
      display: block;
      @include transition(all .2s ease-in-out);
      @include opacity(.7);
    }

    input[type="file"] {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      font-size: 50px;
      cursor: pointer;
      @include opacity(0);
    }

    .image-preview {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 8;
      width: 100%;
      height: 100%;
      background-color: $morsel-background;

      img {
        width: 100%;
        height: 100%;
        display: block;
      }

      & + .image-preview {
        z-index: 7;
      }
    }
  }
  .drop-box {
    display: none;
  }
}

.text-danger, .text-success, .text-warning {
  font-weight: 400;
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.centered {
  position: relative;

  .centered-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    text-align: center;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }

  .centered-text {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    word-break: break-word;
  }
}

.activity-feed {
  $activity-feed-padding-right: $profile-pic-xs + 10px;

  ul {
    margin: 0;
  }

  li {
    border-bottom: 1px solid $morsel-light;
    margin-bottom: 15px;
    padding-bottom: 15px;
    list-style: none;

    &:last-child {
      margin: 0;
      border: 0;
      padding: 0;
    }

    .profile-pic-link {
      margin-left: 0;
      width: $profile-pic-xs;
      height: $profile-pic-xs;
    }
    
    .user-body {
      position: relative;

      p {
        padding-right: $activity-feed-padding-right;
        margin-bottom: 15px;
      }

      .time-ago {
        position: absolute;
        right: $activity-feed-padding-right;
        bottom: 0;
        display: block;
        text-align: right;
        color: $morsel-medium;
      }

      .activity-subject {
        float: right;
        width: $profile-pic-xs;
        height: $profile-pic-xs;
        margin-right: 0;
        text-align: center;

        img {
          max-height: 100%;
        }
      }
    }
  }
}

.morsel-text {
  background: url(images/logos/morsel-text.png) center top no-repeat;
  background-size: 130px 59px;
  width: 130px;
  height: 59px;
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
}

@include error-page();

.nav-tabs {
  margin: 0;
  background-color: $morsel-off-white;

  > li {
    text-align: center;

    > a {
      @include border-radius(0);
      margin: 0;
    }

    & + li {
      > a {
        border-left: 1px solid $morsel-light;
      }
    }
  }
}

.preloaded-image {
  @include transition(all .3s ease-out);
}

.image-loading {
  @include filter(blur(10px));
}

.itunes-link {
  display: inline-block;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .morsel-text {
    background-image: url(images/logos/morsel-text@2x.png);
  }
}

.container-margin-bottom {
  margin-bottom: 25px;
}

.container-no-padding {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: $screen-sm-min) {
  $activity-feed-padding-right: $profile-pic-s + 10px;

  .activity-feed {
    li {
      .profile-pic-link {
        width: $profile-pic-s;
        height: $profile-pic-s;
      }
      .user-body {
        p {
          padding-right: $activity-feed-padding-right;
        }

        .time-ago {
          right: $activity-feed-padding-right;
        }

        .activity-subject {
          width: $profile-pic-s;
          height: $profile-pic-s;
        }
      }
    }
  }

  .user-info {
    .profile-pic-link {
      margin: 0 15px;
    }
  }

  .morsel-text {
    &.morsel-text-300 {
      width: 300px;
      height: 158px;
      background-size: 300px 158px;
      background-image: url(images/logos/morsel-text_300.png);
    }
  }
}

@media (min-width: $screen-xs-min) {
  form {
    .image-add {
      .img-circle:hover {
        .drop-box {
          border: 2px dashed $morsel-primary;
        }
      }
    }
    .drop-box {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 9;
      width: 100%;
      height: 100%;
    }
  }

  .container-max-xs {
    width: $screen-xs;

    &.container-shadow {
      @include container-shadow();
    }
  }
}

@media (min-width: $screen-sm-min) {
  .container-max-sm {
    width: $screen-sm;
  }

  //to be put on .container or equivalent
  .container-shadow {
    @include container-shadow();
    @include border-bottom-left-radius(5px);
    @include border-bottom-right-radius(5px);
  }
}

@media (max-width: $screen-md) {
  .user-fino-stacked {
    .profile-pic-link {
      width: $profile-pic-xs;
      height: $profile-pic-xs;
    }
  }
}