a {
  &:hover {
    cursor: pointer;
  }

  > i {
    vertical-align: middle;
    margin-right: 10px;
  }
}

p {
  > i {
    vertical-align: middle;
    margin-right: 10px;
  }
}

ul {
  margin: 0 0 10px 12px;
  padding: 0;
  list-style-image: url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==');

  li {
    line-height: 22px;
    font-size: 14px;
    font-weight: 300;
  }
}

//type
h1, .h1 {
  a {
    color: $headings-color;
  }
}

h2, .h2 {
  a {
    color: $headings-color;
  }
}

h3, .h3 {
  a {
    color: $headings-color;
  }
}

h4, .h4 {
  font-family: $font-family-base;

  a {
    color: $headings-color;
  }
}

h5, .h5 {
  a {
    color: $headings-color;
  }
}

h6, .h6 {
  a {
    color: $headings-color;
  }
}

.small-caps {
  font-variant: small-caps;

  .btn {
    font-variant: normal;
  }
}

p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
}

label {
  font-family: $font-family-secondary;
  font-weight: normal;

  &.required {
    &:after {
      content: '*';
      color: $brand-danger;
    }
  }
}

button[type="submit"] {
  float: right;
}

hr {
  clear: both;
  @include morsel-border();
}