a {
  &:hover {
    cursor: pointer;
  }
  
  &:hover, &:active {
    text-decoration: none;
  }

  > i {
    vertical-align: middle;
    margin-right: 10px;
  }
}

p {
  line-height: 1.5;
  font-family: $font-family-secondary;

  > i {
    vertical-align: middle;
    margin-right: 10px;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

ul {
  margin: 0 0 10px 12px;
  padding: 0;
  list-style-image: url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==');

  li {
    line-height: 22px;
    font-size: 14px;
  }
}

//type
h4, .h4 {
  font-family: $font-family-base;
}

.link-heading {
  a {
    color: $headings-color;
  }
}

label {
  font-weight: normal;
  font-size: 16px;
  
  &.required {
    &:after {
      content: '*';
      color: $brand-danger;
    }
  }
}

button {
  &[type="submit"] {
    float: right;
  }

  &.btn-link {
    &:focus {
      outline: none;
    }
  }
}

hr {
  clear: both;
  @include morsel-border();
}