//page layout
.page-wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: url(images/bg/light-line.png) right top repeat;
  position: absolute;
}

.morsel-bg {
  background-color: $morsel-background;
}

.morsel-icon {
  @include replace-text-with-dimensions('logos/morsel-m.png');
  background-size: image-width('logos/morsel-m.png') image-height('logos/morsel-m.png');
  display: inline-block;
}

//side nav and header
.side-nav {
  position: absolute;
  width: $sidenav-width;
  z-index: 1;
  min-height: 100%;
  right: 0;
  padding: 0;
  @include opacity(0);
  @include transition(all .2s ease-out);
  display: none;

  &.open {
    display: block;
    @include opacity(1);
  }

  .prompt-btns {
    overflow: hidden;

    a {
      background-color: $btn-primary-bg;
      width: 50%;
      float: left;
      border-right: 2px solid $morsel-primary-light;
      padding: 20px;

      &:last-child {
        border: 0;
      }
    }
  }

  .profile-link {
    background-color: $btn-primary-bg;
    padding: 10px 20px;
    display: block;

    > span {
      float: left;
      margin-right: 10px;
    }

    h5 {
      color: $btn-default-color;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  > span {
    padding: 8px 20px 8px 20px;
    display: block;
    color: $morsel-dark;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border-left: 2px solid $morsel-medium;
  }

  a {
    color: $btn-default-color;
    display: block;
    padding: 10px 20px;
    text-transform: none;
    background-color: $morsel-primary;

    &:hover, &:focus {
      background-color: $morsel-secondary;
      background-image: none;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: block;
      float: none;
      margin: 0;

      & + li {
        border-top: 2px solid $morsel-primary-light;
      }

      &:last-child {
        display: block;
      }

      a {
        font-size: 16px;

        i {
          vertical-align: middle;
          margin-right: 10px;
        }
      }

      &.active {
        a {
          background-color: $morsel-secondary;
        }
      }
    }
  }

  .morsel-social-links {
    border-top: 2px solid $morsel-primary-light;
    overflow: hidden;

    a {
      display: inline-block;
      width: 50%;
      text-align: center;
      float: left;
    }
  }

  .menu-copyright {
    margin-top: 10px;
    padding: 20px 0;
    text-align: center;
    color: $morsel-medium;
  }
}

.site {
  background: $morsel-background url(images/bg/tile.png) left top repeat;
  width: 100%;
  min-height: 100%;
  position: relative;
  z-index: 10;
  left: 0;
  @include transition(all .2s ease-out);
  @include translate3d(0, 0, 0);
  overflow: hidden;

  &.open {
    @include translate3d(-$sidenav-width, 0, 0);

    .main-header {
      background-color: rgba(1, 1, 1, 0.5);

      li {
        @include opacity(0);
      }
    }

    .main-view {
      &:after {
        content: ' ';
        position: absolute;
        background-color: rgba(1,1,1,.5);
        width: 100%;
        height: 100%;
        display: block;
        z-index: 10;
        top: 0;
        left: 0;
      }
    }
  }
}

.main-header {
  z-index: 11;

  .container {
    position: relative;
  }

  .morsel-logo {
    margin: 0;
    position: absolute;
    left: 10px;
    top: 14px;
    z-index: 11;
    @include transition(all .2s ease-out);
    @include opacity(1);

    a {
      @extend .morsel-icon;
      display: block;
    }

    .open & {
      @include opacity(0);
      top: -30px;
    }
  }

  nav {
    .site.open & {
      padding: 12px 0;
    }
  }

  > .side-nav-trigger {
    position: absolute;
    top: $side-nav-trigger-vert;
    right: 20px;
    @include transition(opacity .2s ease-out);
    padding: $padding-base-vertical 5px;
    color: $morsel-dark;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
    z-index: 12;

    &:hover {
      color: $link-hover-color;
    }
  }

  &.mini-header {
    nav {
      display: none;
    }
  }

  &.full-header {
    height: $mini-header-height;
  }
}

nav {
  display: none;
  float: right;
  padding: 25px 0;
  
  ul {
    list-style: none;
    overflow: hidden;
    margin: 0;

    li {
      float: left;
      margin: 0 5px;
      @include transition(opacity .2s ease-out);

      a {
        padding: $padding-base-vertical 5px;
        color: $morsel-dark;
        text-transform: uppercase;
        font-size: 16px;
        display: block;
      }

      .btn {
        text-transform: none;
      }
    }
  }
}

.side-nav-trigger {
  &:after {
    width: 18px;
    height: 14px;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAOCAMAAAAVBLyFAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRFOUA4////////Q/v6MgAAAAN0Uk5T//8A18oNQQAAAB1JREFUeNpiYMQADIwMaAC7EKZGJgzAMHSMBwgwAGTKAMGbmQmrAAAAAElFTkSuQmCC);
    content: ' ';
    display: inline-block;
    margin-left: 3px;
    visibility: visible;
  }

  &:hover {
    &:after {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAOCAMAAAAVBLyFAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRF6WFE////////SehjnAAAAAN0Uk5T//8A18oNQQAAAB1JREFUeNpiYMQADIwMaAC7EKZGJgzAMHSMBwgwAGTKAMGbmQmrAAAAAElFTkSuQmCC);
    }
  }
}

.main-view {
  position: relative;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .main-header {
    .morsel-logo {
      a {
        @include replace-text('logos/morsel-m@2x.png');
      }
    }
  }
}

@media (min-width: $screen-xs-min) {
  .site {
    &.open {
      .main-header {
        .morsel-logo {
          @include translate3d($sidenav-width, 0, 0);
        }
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .main-header {
    &.full-header {
      background-image: url(images/bg/light-line.png);
      height: auto;

      .morsel-logo {
        left: -5px;
        top: -25px;

        &:hover {
          top: 0;
        }

        a {
          @include replace-text-with-dimensions('logos/morsel-header.png');
          background-size: initial;
        }

        .site.open & {
          top: -45px;
          @include opacity(1);
        }
      }

      .side-nav-trigger {
        top: $full-nav-vert-padding;
        @include transition(top .2s ease-out);

        .site.open & {
          top: $side-nav-trigger-vert;
        }
      }
    }
  }

  nav {
    padding: $full-nav-vert-padding 0;
    @include transition(padding .2s ease-out);
    display: block;
  }
}

@media (min-width: $screen-md-min) {
  .main-header {
    &.full-header {
      .morsel-logo {
        left: 22px;
      }
    }
  }
}

@media (min-width: $screen-lg-min) {
  .main-header {
    &.full-header {
      .morsel-logo {
        left: 47px;
      }
    }
  }
}