//page layout
.page-wrapper {
  width: 100%;
  height: 100%;
  background: url(images/bg/light-line.png) right top repeat;
  position: absolute;
}

.morsel-bg {
  background-color: $morsel-background;
}

.morsel-icon {
  @include replace-text-with-dimensions('logos/morsel-m.png');
  background-size: image-width('logos/morsel-m.png') image-height('logos/morsel-m.png');
  display: inline-block;
}

//side nav and header
.side-nav {
  position: absolute;
  width: $sidenav-width;
  z-index: 1;
  min-height: 100%;
  right: 0;
  padding: 0;
  @include opacity(0);
  @include transition(all .2s ease-out);
  display: none;
  background-image: url(images/bg/menu.jpg);
  background-size: cover;

  &.open {
    display: block;
    @include opacity(1);
  }

  .prompt-btns {
    overflow: hidden;
    text-align: center;

    a {
      width: 50%;
      float: left;
      border-right: 1px solid rgba($morsel-off-white, .7);
      padding: 20px;
      font-weight: 300;

      &:last-child {
        border: 0;
      }
    }
  }

  .profile-link {
    background-color: $morsel-off-white;
    padding: 10px 20px;
    display: block;
    @include box-shadow(0px 4px 7px 0px rgba(0, 0, 0, 0.1));

    > span {
      float: left;
      margin-right: 10px;
    }

    h5 {
      color: $morsel-dark;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover, &:focus {      
      h5 {
        color: white;
      }
    }
  }

  a {
    display: block;
    padding: 10px 20px;
    text-transform: none;
    background-color: rgba($morsel-off-white, .5);
    font-size: 15px;
    @include transition(background-color .1s ease-out);

    &:hover, &:focus {
      background-color: rgba($morsel-off-white, .3);
      text-decoration: none;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 25px;

    li {
      display: block;
      float: none;
      margin: 0;

      & + li {
        border-top: 1px solid rgba($morsel-off-white, .7);
      }

      &:last-child {
        display: block;
      }

      &.active {
        a {
          background-color: desaturate(rgba($morsel-primary, .1), 50%);
        }
      }
    }

    &.secondary-menu {
      a {
        font-size: 14px;
        padding: 8px 20px;
      }
    }
  }

  .morsel-social-links {
    overflow: hidden;

    a {
      display: inline-block;
      width: 50%;
      text-align: center;
      float: left;
      border-right: 1px solid rgba($morsel-off-white, .7);

      &:last-child {
        border: 0;
      }
    }
  }

  .menu-copyright {
    margin-top: 10px;
    padding: 20px 0;
    text-align: center;
    color: $morsel-medium;
  }
}

.site {
  background: $morsel-background url(images/bg/tile.png) left top repeat;
  width: 100%;
  min-height: 100%;
  position: relative;
  z-index: 10;
  left: 0;
  @include transition(all .2s ease-out);
  @include translate(0, 0);
  overflow: hidden;

  &.open {
    @include translate(-$sidenav-width, 0);

    .main-header {
      background-color: rgba(1, 1, 1, 0.5);
    }

    .main-view {
      overflow: hidden;
      
      &:after {
        content: ' ';
        position: absolute;
        background-color: rgba(1,1,1,.5);
        width: 100%;
        height: 100%;
        display: block;
        z-index: 10;
        top: 0;
        left: 0;
      }
    }
  }
}

.main-header {
  z-index: 11;

  .container {
    position: relative;
  }

  .morsel-logo {
    margin: 0;
    position: absolute;
    left: 10px;
    top: 14px;
    z-index: 11;
    @include transition(all .2s ease-out);
    @include opacity(1);

    a {
      @extend .morsel-icon;
      display: block;
    }

    .open & {
      @include opacity(0);
      top: -30px;
    }

    &.hide-logo {
      display: none;
    }
  }

  &.full-header {
    height: $mini-header-height;
  }

  &.mini-header {
    height: 0;
  }

  &.full-width-header {
    > .container {
      width: 100%;

      .morsel-logo {
        left: 18px;
      }
    }
  }
}

.side-nav-trigger {
  position: absolute;
  top: $side-nav-trigger-vert;
  right: 20px;
  @include transition(opacity .2s ease-out);
  padding: $padding-base-vertical 5px;
  color: $morsel-dark;
  text-transform: uppercase;
  font-size: 16px;
  display: block;
  z-index: 12;

  &:after {
    content: '';
    background-image: url($side-nav-trigger-full);
    background-position: right top;
    height: image-height($side-nav-trigger)/2;
    width: 19px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
  }

  &:hover {
    background-position: left bottom;

    &:after {
      background-position: right bottom;
    }
  }
}

.main-view {
  position: relative;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .main-header {
    .morsel-logo {
      a {
        @include replace-text('logos/morsel-m@2x.png');
      }
    }
  }
}

@media (min-width: $screen-xs-min) {
  .site {
    &.open {
      .main-header {
        .morsel-logo {
          @include translate($sidenav-width, 0);
        }
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .main-header {
    &.full-header {
      background-image: url(images/bg/light-line.png);

      .morsel-logo {
        left: -5px;
        top: -25px;

        &:hover {
          top: 0;
        }

        a {
          @include replace-text-with-dimensions('logos/morsel-header.png');
          background-size: auto;
        }

        .site.open & {
          top: -45px;
          @include opacity(1);
        }
      }
    }
  }

  .side-nav-trigger {
    width: image-width($side-nav-trigger);
    height: image-height($side-nav-trigger)/2;
    @include replace-text($side-nav-trigger);
    background-position: left top;
  }
}

@media (min-width: $screen-md-min) {
  .main-header {
    &.full-header {
      .morsel-logo {
        left: 22px;
      }
    }
  }
}

@media (min-width: $screen-lg-min) {
  .main-header {
    &.full-header {
      .morsel-logo {
        left: 47px;
      }
    }
  }
}