//page layout
.page-wrapper {
  width: 100%;
  background: url(images/bg/light-line.png) right top repeat;
  position: absolute;
}

.morsel-bg {
  background-color: $morsel-background;
}

.morsel-icon {
  @include replace-text-with-dimensions('logos/morsel-m.png');
  background-size: image-width('logos/morsel-m.png') image-height('logos/morsel-m.png');
  display: inline-block;
}

.main-header {
  z-index: 11;
  position: fixed;
  width: 100%;

  .header-wrap {
    @include translateY(0);
    @include transition(all linear .3s);
    background-color: rgba(256,256,256,.9);
    @include box-shadow(0px 1px 7px 0px rgba(0, 0, 0, 0.1));
    padding: 5px 10px;
  }

  .main-nav {
    float: right;
  }

  &:hover {
    .header-wrap {
      @include translateY(0);
    }
  }

  .morsel-logo {
    margin: 6px 0;
    display: inline-block;
    vertical-align: middle;

    a {
      display: block;
    }
  }

  h6 {
    margin: 0;
  }

  &.hide-header {
    .header-wrap {
      @include translateY(-$header-height);
    }

    &:hover {
      .header-wrap {
        @include translateY(0);
      }
    }
  }

  .header-dropdown {
    position: relative;

    .dropdown-menu {
      margin: 0;
    }
  }
}

.main-nav {
  > ul {
    margin: 0;

    > li {
      display: inline-block;
      margin: 0 5px;

      &:last-child {
        margin-right: 0;
      }

      > a {
        padding: 11px 5px;
        display: block;
      }
    }
  }

  a {
    font-weight: 400;
  }
}

.site {
  background: $morsel-background url(images/bg/tile.png) left top repeat;
  width: 100%;
  min-height: 100%;
  position: relative;
  z-index: 10;
  left: 0;
}

.main-view {
  position: relative;
}

.centered-list-header {
  h2 {
    text-align: center;
  }
}

.morsel-app-icon {
  @include replace-text('logos/morsel-app-icon.png');
  background-size: image-width('logos/morsel-app-icon.png') image-height('logos/morsel-app-icon.png');
  height: image-height('logos/morsel-app-icon.png');
  width: image-width('logos/morsel-app-icon.png');
  display: inline-block;
}

.main-footer {
  text-align: center;
  padding: 20px 0;
  background-image: url(images/bg/footer.jpg);

  .morsel-social-links {
    list-style: none;
    margin: 20px 0;
    
    li {
      display: inline-block;
      margin: 0 5px;
    }
  }

  a, p {
    color: white;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .main-header {
    .morsel-logo {
      a {
        @include replace-text('logos/morsel-m@2x.png');
      }
    }
  }

  .morsel-app-icon {
    @include replace-text('logos/morsel-app-icon@2x.png');
  }
}

@media (min-width: $screen-sm-min) {
  .main-header {
    .morsel-logo {
      margin: 2px 0;
    }

    nav {
      > ul {
        > li {
          margin: 0 10px;
        }
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  .main-footer {
    .mixpanel-logo {
      position: absolute;
      bottom: 20px;
      left: 20px;
    }
  }
}

@media (min-width: $screen-lg-min) {

}