@each $color in $socialPalette {
  .btn-#{nth($color, 1)} {
    background-color: nth($color, 2);

    &:hover, &.active {
      background-color: darken(nth($color, 2), 10%);
    }
  }
}

.btn-social {
  color: white;
}

.social-sharing {
  padding: 10px;
  text-align: center;

  > .btn-social {
    font-size: 0;
  }

  .social-sharing-additional {
    display: none;

    &.expanded {
      display: inline-block;
      
      & + .share-expand {
        i {
          //@extend .common-contract;
        }
      }
    }
  }

  .btn-social {
    padding-left: 6px;
    padding-right: 6px;
    display: inline-block;

    i {
      vertical-align: middle;
      margin-right: 0;
    }
  }

  .share-expand {
    display: none;

    i {
      margin: 0;
    }
  }
}

/* embed btn css */
.btn-embed-code {
  background-color: #ee8872;
}


textarea.myclass {
  height: 100%;
}

div.myclass{
  height: 120px; 
}

/* end embed btn css */

@media (min-width: $screen-md-min) {
  .full-social-btns {
    padding: 0;
    text-align: left;

    > .btn-social {
      font-size: $font-size-base;

      &:before {
        margin-right: 5px;
      }
    }

    .social-sharing-additional {
      &.expanded {
        display: inline-block;
      }
    }

    /*.share-expand {
      display: inline-block;
    }*/

    .btn-social {
      margin-right: 10px;
      padding-left: $padding-base-horizontal;
      padding-right: $padding-base-horizontal;
    }
  }
}