// Colors
$morsel-primary: #e96144; //salmon
$morsel-secondary: #51ba3d; //green
$morsel-tertiary: #f0cf69; //yellow
$morsel-background: #FFFFFF; //white
$morsel-background-dark: #030000;
$morsel-light: #e2ddd7; //light gray
$morsel-medium: #93a491; //medium gray
$morsel-dark: #394038; //dark gray
$morsel-light-off: #f3f1ef;
$morsel-primary-light: lighten($morsel-primary, 10%);
$morsel-primary-dark: #87392b;
$morsel-primary-bright: #d62600;
$morsel-secondary-bright: #31961c;
$morsel-lightest: #fbfbfa;
$morsel-off-white: #f9f7f7;

$colorPalette: 
  morsel-primary $morsel-primary,
  morsel-primary-light $morsel-primary-light,
  morsel-primary-dark $morsel-primary-dark,
  morsel-primary-bright $morsel-primary-bright,
  morsel-secondary $morsel-secondary,
  morsel-secondary-bright $morsel-secondary-bright,
  morsel-tertiary $morsel-tertiary,
  morsel-background $morsel-background,
  morsel-light $morsel-light,
  morsel-medium $morsel-medium,
  morsel-dark $morsel-dark,
  morsel-light-off $morsel-light-off,
  morsel-lightest $morsel-lightest,
  morsel-off-white $morsel-off-white;

//fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400);

$font-family-base:            "Roboto", Helvetica, Arial, sans-serif !default;
$font-family-secondary:       "Roboto Slab", "Helvetica Neue Light", "Helvetica Neue", "Arial", sans-serif;
$icon-font-path:              "vendor/";

//backgrounds
$body-bg: white;

//typography
$headings-color: $morsel-medium;
$headings-font-family: $font-family-secondary;
$headings-font-weight: 700;

$font-size-h1: 64px;
$font-size-h2: 26px;
$font-size-h3: 20px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h6: 14px;

$link-color: $morsel-primary-light;
$text-color: $morsel-dark;
$link-hover-color: $morsel-primary;

$morsel-static-header: white;

//images
//morsels
$arrow-height: 60px;

$indicator-size: 10px;

//users
$profile-pic-xs: 40px;
$profile-pic-s: 72px;
$profile-pic-m: 80px;
$profile-pic-l: 144px;

//layout
$sidenav-width: 250px;
$mini-header-height: 60px;
$full-nav-vert-padding: 25px;
$side-nav-trigger-vert: 12px;

//forms
$input-bg: $morsel-lightest;
$input-height-base: 33px;

//buttons
$btn-default-color: white;
$btn-default-bg: $morsel-secondary;
$btn-default-border: darken($morsel-secondary, 5%);

$btn-primary-bg: $morsel-primary;
$btn-primary-border: darken($morsel-primary, 5%);

//social
$socialPalette: 
  facebook #2a5e9d,
  twitter #00c2f6,
  linkedin #0073a3,
  pinterest #cd1e23,
  stumbleupon #ff4d20,
  google-plus #ee3e18,
  expand #c5c5c5,
  email $morsel-secondary;

//nav-tabs
$nav-tabs-border-color: $morsel-primary;
$nav-tabs-active-link-hover-bg: $morsel-primary;
$nav-tabs-active-link-hover-border-color: $morsel-primary;
$nav-tabs-active-link-hover-color: white;

//list-groups
$list-group-bg: $morsel-light-off;

// Core Bootstrap variables and mixins
@import "../../../vendor/sass-bootstrap/lib/_variables.scss";



