//forms
.padded-form {
  padding-top: 25px;
  padding-bottom: 25px;
}

.btn-submit-wrap {
  float: right;
  display: inline-block;
}

//general image styles
img {
  max-width: 100%;
}

.profile-pic-link {
  display: inline-block;
}

.profile-pic-xs {
  width: $profile-pic-xs;
  height: $profile-pic-xs;
}

.profile-pic-s {
  width: $profile-pic-s;
  height: $profile-pic-s;
}

.profile-pic-m {
  width: $profile-pic-m;
  height: $profile-pic-m;
}

.profile-pic-l {
  width: $profile-pic-l;
  height: $profile-pic-l;
}

.user-info {
  padding: 15px;
  overflow: hidden;

  //default size is $profile-pic-s
  $profile-pic-margin: 20px;

  > div {
    float: left;
  }

  .profile-pic-link {
    margin-left: $profile-pic-margin;
    float: left;

    & + div {
      margin-left: $profile-pic-s + 2*$profile-pic-margin;
    }
  }

  .user-info-main {
    margin: 2px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  &.user-info-xs {
    padding: 15px;

    $profile-pic-margin: 10px;

    .profile-pic-link {
      margin-left: $profile-pic-margin;
      float: left;
    }
  }
}

.caption {
  color: $morsel-medium;
  font-style: italic;
}

//commonly used items
.like-morsel {
  position: absolute;
  top: 50px;
  left: 50px;

  &:hover {
    cursor: pointer;
  }
}

.morsel-icon {
  background-image: url(images/icons/morsel-icon.png);
  background-size: cover;
  height: 14px;
  width: 14px;
  display: inline-block;
}

.time-ago {
  color: $morsel-medium;
  font-size: 12px;
  margin: 0;
}

.empty-state {
  text-align: center;
  color: $morsel-medium;
}

.loader {
  width: 100%;
  background: url(images/icons/loader.gif) center center no-repeat;
  height: 100px;
}

form {
  .avatar-add {
    display: block;
    background-image: url(images/utility/avatar.jpg);
    height: $profile-pic-l;
    width: $profile-pic-l;
    margin: 0 auto 10px;
    position: relative;

    .plus-sign {
      line-height: $profile-pic-l;
      text-align: center;
      z-index: 5;
      font-size: $profile-pic-l/2;
      display: block;
      @include transition(all .2s ease-in-out);
      @include opacity(.7);
    }

    &:hover {
      .plus-sign {
        @include opacity(.9);
        color: $morsel-primary;
      }
    }

    input[type="file"] {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      font-size: 50px;
      cursor: pointer;
      @include opacity(0);
    }

    .avatar-preview {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 8;
      width: 100%;
      height: 100%;
      background-color: $morsel-background;

      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
  .drop-box {
    display: none;
  }
}

.text-danger, .text-success, .text-warning {
  font-weight: 400;
}

@media (min-width: $screen-xs-min) {
  form {
    .avatar-add {
      &:hover {
        .drop-box {
          border: 2px dashed $morsel-primary;
        }
      }
    }
    .drop-box {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 9;
      width: 100%;
      height: 100%;
    }
  }

  .container-max-xs {
    width: $screen-xs;

    &.container-shadow {
      @include container-shadow();
    }
  }
}

@media (min-width: $screen-sm-min) {
  //to be put on .container or equivalent
  .container-shadow {
    @include container-shadow();
  }
}