body {
  background-color: $bg-main;
}

.morsel-primary {
  background-color: $morsel-primary;
}

.morsel-secondary {
  background-color: $morsel-secondary;
}

.morsel-tertiary {
  background-color: $morsel-tertiary;
}

.morsel-interface {
  background-color: $morsel-interface;
}

.morsel-light-content {
  background-color: $morsel-light-content;
}

.morsel-dark-content {
  background-color: $morsel-dark-content;
}