body {
  font-weight: lighter;
}

.subheading {
  color: $morsel-light-content;
  font-family: $font-family-secondary;
}

blockquote {
  font-family: $font-family-secondary;
  font-weight: 100;
  color: $morsel-light-content;
}

img {
  max-width: 100%;
}

/* for angular bootstrap */
.nav, .pagination, .carousel a {
  cursor: pointer;
}

.profile-pic-link {
  display: inline-block;
}

.profile-pic {
  width: 100px;
  height: 100px;
}