body {
  font-weight: lighter;
}

.subheading {
  color: $morsel-light-content;
  font-family: $font-family-secondary;
}

blockquote {
  font-family: $font-family-secondary;
  font-weight: 100;
  color: $morsel-light-content;
}

img {
  max-width: 100%;
}