// Our variables

$morselHeight: 400px;

// Colors
$morsel-primary: #e96144; //salmon
$morsel-secondary: #51ba3d; //green
$morsel-tertiary: #f0cf69; //yellow
$morsel-background: #FFFFFF; //white
$morsel-light: #e2ddd7; //light gray
$morsel-medium: #93a590; //medium gray
$morsel-dark: #394038; //dark gray
$morsel-light-content: $morsel-dark;
$morsel-dark-content: $morsel-light;

// Overwrite any bootstrap vars with our own

$icon-font-path:              "vendor/";
$body-bg: gray;

//fonts
$font-family-base:            "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-secondary:       "Helvetica", "Arial", sans-serif;
$headings-color:              $morsel-primary;
$link-color: $morsel-secondary;

// Core Bootstrap variables and mixins
@import "../../vendor/sass-bootstrap/lib/_variables.scss";