// Our variables

$morselFeedHeight: 400px;

// Colors
$morsel-primary: #e96144; //salmon
$morsel-secondary: #51ba3d; //green
$morsel-tertiary: #f0cf69; //yellow
$morsel-background: #FFFFFF; //white
$morsel-light: #e2ddd7; //light gray
$morsel-medium: #93a590; //medium gray
$morsel-dark: #394038; //dark gray
$profile-pic-small: 75px;
$profile-pic-margin: 20px;
$logo-margin: 15px;
$logo-sm-width: 50px;
$logo-md-width: 120px;
$btn-primary-bg: $morsel-primary;


// Overwrite any bootstrap vars with our own

$icon-font-path:              "vendor/";
$body-bg: gray;

//fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300);
$font-family-base:            "Helvetica Neue Light", "Helvetica Neue", "Roboto Slab", Helvetica, Arial, sans-serif !default;
$font-family-secondary:       "Roboto Slab", "Helvetica", "Arial", sans-serif;

$headings-color:              $morsel-primary;
$link-color: $morsel-secondary;

//image sizes

//morsels
$morsel-pic-big: 640px;

// Core Bootstrap variables and mixins
@import "../../vendor/sass-bootstrap/lib/_variables.scss";



