// Overwrite any bootstrap vars with our own

$icon-font-path: "vendor/";

// Core Bootstrap variables and mixins
@import "../../vendor/sass-bootstrap/lib/_variables.scss";

// Our variables

// Colors
$bg-main: $gray;
$morsel-primary: #e96144;
$morsel-secondary: #f0cf69;
$morsel-tertiary: #51ba3c;
$morsel-interface: #e2ddd7;
$morsel-light-content: #93a590;
$morsel-dark-content: #394038;