.press-kit {
  background-color: white;

  .morsel {
    .morsel-info {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba(0,0,0,.4);
      color: white;
    }
  }

  .gi {
    min-height: 250px;
    border: 1px solid black;
  }
}