.press-kit {
  background-color: white;

  .morsel {
    .morsel-info {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba(0,0,0,.2);
      color: white;
    }
  }

  .gi {
    min-height: 250px;
    border: 1px solid black;
  }

  .morsels-wrap {
    .morsel-indicator-wrap {
      position: absolute;
      width: 100%;
      top: -19px;
      z-index: 10;
      background-color: rgba(0,0,0,.2);
      @include transition(top .2s ease-out);

      .morsel-indicators {
        display: block;
      }
    }

    &:hover {
      .morsel-indicator-wrap {
        top: 0px;
      }
    }
  }
}