<div class="press-kit">
  <div morsel-swipe="{{post.morsels.length > 1}}" morsel-swipe-index="{{postMorselNumber}}" morsel-swipe-morsels="post.morsels">
    <div class="morsels-wrap">
      <div morselControls></div>
      <div class="morsel-indicator-wrap">
        <div morselIndicatorTop></div>
      </div>
      <div morsel-press-share></div>
      <div morsels>
        <ul class="morsels">
          <li ng-repeat="morsel in post.morsels | orderBy:'sort_order'" class="morsel">
            <div ng-if="morsel.photos" class="morsel-img" href="{{morsel.photos._640x640}}" ng-style="{'background-image': 'url('+morsel.photos._640x640+')'}">
              <div class="morsel-info">
                <h2>{{post.title}}</h2>
                <p>{{morsel.description}}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-slim">
      <div class="col-slim-4 fact-sheet">
        <div class="restaurant-main-info">
          <img src="http://spoonfeed.s3.amazonaws.com/production/images/1080/big_logo/the%20butcher%20and%20larder%20logo.jpeg?1322678585" />
          <h1>The Butcher &amp; Larder</h1>
        </div>
        <div class="restaurant-facts">
          <div>
            <div class="vcard">
              <div class="org">The Butcher &amp; Larder</div>
              <div class="adr">
                <div class="street-address">1026 N Milwaukee Avenue</div>
                <span class="locality">Chicago</span>,
                <span class="postal-code">60642</span>,
                <abbr class="region" title="Illinois">IL</abbr>
                <div class="country-name">U.S.A</div>
              </div>
              <div class="tel">+1.773.687.8280</div>
            </div>
            <a href="http://maps.google.com/maps?q=1026 N Milwaukee Avenue+Chicago, IL 60642" onclick="window.open(this.href);return false;">link to Google Map</a>
          </div>
          <div>
            <h4>Phone: <span>773 687 8280</span></h4>
            <h4>Website: <span><a href="http://www.thebutcherandlarder.com">http://www.thebutcherandlarder.com</a></span></h4>
            <h4>Twitter: <span><a href="http://twitter.com/butcherlarder">@butcherlarder</a></span></h4>
            <h4>Opening Date: <span>January  8, 2010</span></h4>
          </div>
          <div>
            <h4>Media Contact: <span><a href="mailto:7500butcher@gmail.com?subject=Inquiry%20about%20The%20Butcher%20%26%20Larder">Rob Levitt</a></span></h4>
          </div>
        </div>
      </div>
      <div class="col-slim-8">
        <div class="row-slim">
          <div class="col-slim-12">
            <div morsel-swipe="{{post2.morsels.length > 1}}" morsel-swipe-index="{{post2MorselNumber}}" morsel-swipe-morsels="post2.morsels">
              <div class="morsels-wrap">
                <div morselControls></div>
                <div class="morsel-indicator-wrap">
                  <div morselIndicatorTop></div>
                </div>
                <div morsel-press-share></div>
                <div morsels>
                  <ul class="morsels">
                    <li ng-repeat="morsel in post2.morsels | orderBy:'sort_order'" class="morsel">
                      <div ng-if="morsel.photos" class="morsel-img" href="{{morsel.photos._640x640}}" ng-style="{'background-image': 'url('+morsel.photos._640x640+')'}">
                        <div class="morsel-info">
                          <h2>{{post2.title}}</h2>
                          <p>{{morsel.description}}</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row-slim">
          <div class="col-slim-6">
            <div morsel-swipe="{{post3.morsels.length > 1}}" morsel-swipe-index="{{post3MorselNumber}}" morsel-swipe-morsels="post3.morsels">
              <div class="morsels-wrap">
                <div morselControls></div>
                <div class="morsel-indicator-wrap">
                  <div morselIndicatorTop></div>
                </div>
                <div morsel-press-share></div>
                <div morsels>
                  <ul class="morsels">
                    <li ng-repeat="morsel in post3.morsels | orderBy:'sort_order'" class="morsel">
                      <div ng-if="morsel.photos" class="morsel-img" href="{{morsel.photos._640x640}}" ng-style="{'background-image': 'url('+morsel.photos._640x640+')'}">
                        <div class="morsel-info">
                          <h2>{{post3.title}}</h2>
                          <p>{{morsel.description}}</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-slim-6 restaurant-staff">
            <h5>Staff</h5>
            <div class="user-info user-info-s">
              <div user-image username="post.creator.username" user-photos="post.creator.photos" user-image-size="profile-pic-s"></div>
              <div>
                <h3 class="user-info-main">{{post.creator.first_name}} {{post.creator.last_name}}</h3>
                <p>{{post.creator.title}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-slim">
      <div class="col-slim-4">
        <div morsel-swipe="{{post4.morsels.length > 1}}" morsel-swipe-index="{{post4MorselNumber}}" morsel-swipe-morsels="post4.morsels">
          <div class="morsels-wrap">
            <div morselControls></div>
            <div class="morsel-indicator-wrap">
              <div morselIndicatorTop></div>
            </div>
            <div morsel-press-share></div>
            <div morsels>
              <ul class="morsels">
                <li ng-repeat="morsel in post4.morsels | orderBy:'sort_order'" class="morsel">
                  <div ng-if="morsel.photos" class="morsel-img" href="{{morsel.photos._640x640}}" ng-style="{'background-image': 'url('+morsel.photos._640x640+')'}">
                    <div class="morsel-info">
                      <h2>{{post4.title}}</h2>
                      <p>{{morsel.description}}</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-slim-4 press-block press-tags">
        A placeholder for a visual representation of all the tags associated with the restaurant
      </div>
      <div class="col-slim-4">
        <div morsel-swipe="{{post5.morsels.length > 1}}" morsel-swipe-index="{{post5MorselNumber}}" morsel-swipe-morsels="post5.morsels">
          <div class="morsels-wrap">
            <div morselControls></div>
            <div class="morsel-indicator-wrap">
              <div morselIndicatorTop></div>
            </div>
            <div morsel-press-share></div>
            <div morsels>
              <ul class="morsels">
                <li ng-repeat="morsel in post5.morsels | orderBy:'sort_order'" class="morsel">
                  <div ng-if="morsel.photos" class="morsel-img" href="{{morsel.photos._640x640}}" ng-style="{'background-image': 'url('+morsel.photos._640x640+')'}">
                    <div class="morsel-info">
                      <h2>{{post5.title}}</h2>
                      <p>{{morsel.description}}</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="press-footer">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="/">Placeholder</a>
          </li>
          <li>
            <a href="/">Placeholder</a>
          </li>
          <li>
            <a href="/">Placeholder</a>
          </li>
        </ul>
      </nav>
      <div>
        <a href="" class="text-hide morsel-link">Morsel</a>
      </div>
    </div>
  </footer>
</div>