<form role="form">
	<div class="form-group">
    <textarea class="form-control" id="textarea" rows="3" placeholder="Write your comment"></textarea>
	</div>
	<button type="submit" class="btn btn-primary">Add Comment</button>
</form>