<div class="morsel-comments">
  <div class="add-comment-morsel">
    <div class="user-info user-info-s">
      <a href="#" class="profile-pic-link profile-pic-s">
        {{> atoms-avatar-s }}
      </a>
      <div>
        <form role="form" ng-submit="addComment()" name="addCommentForm" novalidate>
          <div class="form-group">
            <textarea class="form-control" rows="3" ng-model="addCommentDescription" placeholder="Write your comment" required></textarea>
          </div>
          <button type="submit" ng-disabled="addCommentForm.$invalid" class="btn btn-primary">Add Comment</button>
        </form>
      </div>
    </div>
  </div>
</div>