.comments-header {
  margin: 5px 0 5px 20px !important;

  i {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }
}

.comments-body {
  ul {
    margin: 0;
  }

  .empty-state {
    border-bottom: 1px solid $morsel-light;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .add-comment {
    padding-top: 15px;
    border-top: 1px solid white;
    overflow: hidden;
  }
}

.morsel-comment {
  list-style: none;
  border-bottom: 1px solid $morsel-light;
  margin-bottom: 15px;

  .user-info-main {
    margin: 0 8px 0 0;
    display: inline-block;
  }

  .time-ago {
    font-style: italic;
    display: inline-block;
  }

  .comment-text {
    margin-top: 10px;
  }

  &:last-child {
    margin: 0;
    border: 0;
  }
}