.immersive {
  header {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: none;
    width: 100%;

    h1 {
      float: left;
      margin-left: 50px;
    }

    nav {
      float: right;
      margin-right: 50px;
    }
  }

  h2 {
    margin: 0;
    position: absolute;
    top: 100px;
    right: 50px;
    width: 200px;
    color: white;
    z-index: 2;
  }

  .stories-wrap {
    width: 100%;
  }

  .stories {
    list-style: none;
    position: relative;
    @include translate3d(0,0,0);
    white-space: nowrap;
    overflow: visible;
    padding: 0;
    margin: 0;
  }

  .story {
    position: relative;
    white-space: normal;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    height: 100%;
    @include backface-visibility(hidden);
    
    p {
      padding-top: 30%;
      border: 1px dotted aliceblue;
      color: aliceblue;
      font-size: 30px;
      width: 50%;
      margin: 0 auto;
    }
  }

  .morsels {
    list-style: none;
    margin: 0;

    .morsel {
      display: block;

      .morsel-info {
        position: absolute;
        top: 200px;
        right: 50px;
        width: 200px;
        color: white;
        z-index: 2;
      }
    }
  }
}