//page layout
.page-wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: url(images/bg/light-line.png) right top repeat;
  position: absolute;
}

.morsel-bg {
  background-color: $morsel-background;
}

//side nav and header
.side-nav {
  position: absolute;
  width: $sidenav-width;
  z-index: 1;
  min-height: 100%;
  right: 0;
  padding: 0;
  @include opacity(0);
  @include transition(all .2s ease-out);

  &.open {
    @include opacity(1);
  }

  .prompt-btns {
    overflow: hidden;

    a {
      background-color: $btn-primary-bg;
      width: 50%;
      float: left;
      border-right: 2px solid $morsel-primary-light;
      padding: 20px;

      &:last-child {
        border: 0;
      }
    }
  }

  .profile-link {
    background-color: $btn-primary-bg;
    padding: 10px 20px;
    display: block;

    img {
      float: left;
      margin-right: 10px;
    }

    h5 {
      color: $btn-default-color;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  > span {
    padding: 8px 20px 8px 20px;
    display: block;
    color: $morsel-dark;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border-left: 2px solid $morsel-medium;
  }

  a {
    color: $btn-default-color;
    display: block;
    padding: 10px 20px;
    text-transform: none;

    &:hover, &:focus {
      background-color: $morsel-secondary;
      background-image: none;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: block;
      float: none;
      margin: 0;

      & + li {
        border-top: 2px solid $morsel-primary-light;
      }

      &:last-child {
        display: block;
      }

      a {
        font-size: 16px;

        @include background-image(linear-gradient(0% 1%, $morsel-primary 3%, $morsel-primary 70%, $morsel-primary-light));
         //@include background-image(linear-gradient(0% 1%, $morsel-primary-dark 3%, $morsel-primary 10%, $morsel-primary 70%, $morsel-primary-light));

        i {
          vertical-align: middle;
          margin-right: 10px;
        }
      }

      &.active {
        a {
          background-color: $morsel-secondary;
        }
      }
    }
  }
}

.site {
  background: $morsel-background url(images/bg/tile.png) left top repeat;
  width: 100%;
  min-height: 100%;
  position: relative;
  z-index: 10;
  left: 0;
  @include transition(all .2s ease-out);
  @include translate3d(0, 0, 0);
  overflow: hidden;

  &.open {
    @include translate3d(-$sidenav-width, 0, 0);

    header {
      li {
        @include opacity(0);
      }

      > .side-nav-trigger {
        @include opacity(1);
      }
    }

    .main-view {
      &:after {
        content: ' ';
        position: absolute;
        background-color: rgba(1,1,1,.5);
        width: 100%;
        height: 100%;
        display: block;
        z-index: 10;
        top: 0;
        left: 0;
      }
    }
  }
}

header {
  z-index: 11;

  .container {
    position: relative;
  }

  .morsel-logo {
    margin: 0;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 11;
    @include transition(all .2s ease-out);
    @include opacity(1);

    a {
      @include replace-text-with-dimensions('logos/morsel-text.png');
      display: block;
    }

    .open & {
      @include opacity(0);
      top: -30px;
    }
  }

  > .side-nav-trigger {
    position: absolute;
    top: 12px;
    right: 20px;
    @include opacity(0);
    @include transition(opacity .2s ease-out);
    padding: $padding-base-vertical 5px;
    color: $morsel-dark;
    text-transform: uppercase;
    font-size: 16px;
    display: block;

    &:hover {
      color: $link-hover-color;
    }
  }
}

nav {
  display: block;
  float: right;
  padding: 25px 0;

  .site.open & {
    padding: 12px 0;
  }
  
  ul {
    list-style: none;
    overflow: hidden;

    li {
      float: left;
      margin: 0 5px;
      display: none;
      @include transition(opacity .2s ease-out);

      a {
        padding: $padding-base-vertical 5px;
        color: $morsel-dark;
        text-transform: uppercase;
        font-size: 16px;
        display: block;
      }

      .btn {
        text-transform: none;
      }

      &:last-child {
        display: inline-block;
      }
    }
  }
}

footer {
  display: none;
}

.side-nav-trigger {
  &:after {
    width: 16px;
    height: 12px;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAMAAABcOc2zAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFOUA4////68BBvwAAAAJ0Uk5T/wDltzBKAAAAFklEQVR42mJgIAgY0QARAgNjKECAAQAnDABhhodsmAAAAABJRU5ErkJggg==);
    content: ' ';
    display: inline-block;
    margin-left: 3px;
    visibility: visible;
  }

  &:hover {
    &:after {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAMAAABcOc2zAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF6WFE////JLZEAAAAAAJ0Uk5T/wDltzBKAAAAFklEQVR42mJgIAgY0QARAgNjKECAAQAnDABhhodsmAAAAABJRU5ErkJggg==);
    }
  }
}

.main-view {
  position: relative;
  padding-bottom: 30px;
}

@media (min-width: $screen-xs-min) {
  .site {
    &.open {
      header {
        .morsel-logo {
          @include translate3d($sidenav-width, 0, 0);
        }
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  header {
    background-image: url(images/bg/light-line.png);

    .morsel-logo {
      left: 0;
      top: 0;

      a {
        @include replace-text-with-dimensions('logos/morsel-header.png');
      }

      .site.open & {
        top: -45px;
        @include opacity(1);
      }
    }
  }

  nav {
    padding: 35px 0;
    @include transition(padding .2s ease-out);

    ul li {
      display: inline-block;
    }
  }

  footer {
    display: block;
    background-color: $morsel-off-white;
    overflow: hidden;
    padding: 10px 0;
    margin-top: 20px;
    @include box-shadow(0px 1px 7px 0px rgba(0, 0, 0, 0.5));

    .container {
      display: block;
    }

    .morsel-link {
      @include replace-text-with-dimensions('logos/morsel-text-sm.png');
      display: block;
      float: left;
    }

    form {
      margin-right: 15px;
    }

    nav {
      padding: 0;

      li {
        line-height: $input-height-base;
        
        a {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }

    nav, form, .btn{
      float: right;
    }
  }
}