.modal-header {
  h4 {
    margin: 5px 0 5px 20px !important;

    i {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
    }
  }
}

@media (max-width: $screen-sm-max) {
  .modal-header {
    h4 {
      font-size: 22px;
    }
  }
}