@each $color in $socialPalette {
  .share-#{nth($color, 1)} {
    background-color: nth($color, 2);

    &:hover {
      background-color: darken(nth($color, 2), 10%);
    }
  }
}

.social-sharing {
  padding: 20px;

  > .btn-social {
    font-size: 0;
  }

  .social-sharing-additional {
    display: inline-block;

    &.expanded {
      display: block;
      
      & + .share-expand {
        i {
          @extend .common-share-contract;
        }
      }
    }
  }

  .btn-social {
    color: white;
    font-weight: 300;
    display: inline-block;

    i {
      vertical-align: middle;
    }
  }

  .share-expand {
    display: none;

    i {
      margin: 0;
    }
  }
}

@media (min-width: $screen-md-min) {
  .social-sharing {
    padding: 0;

    .social-sharing-additional {
      display: none;

      &.expanded {
        display: inline-block;
      }
    }

    .share-expand {
      display: inline-block;
    }

    .btn-social {
      margin-right: 10px;

      i {
        margin-right: 8px;
      }
    }
  }
}