<div class="social-sharing" ng-class="{'full-social-btns':fullBtns}">
  <a class="btn btn-social share-facebook" ng-click="shareSocial('facebook')">
    <i class="common-share-facebook"></i>Share on Facebook
  </a>
  <a class="btn btn-social share-twitter" ng-click="shareSocial('twitter')">
    <i class="common-share-twitter"></i>Share on Twitter
  </a>
  <div class="social-sharing-additional" ng-class="{expanded: socialExpanded}">
    <a class="btn btn-social share-linkedin" ng-click="shareSocial('linkedin')">
      <i class="common-share-linkedin"></i>
    </a>
    <a class="btn btn-social share-pinterest" ng-click="shareSocial('pinterest')">
      <i class="common-share-pinterest"></i>
    </a>
    <a class="btn btn-social share-google-plus" ng-click="shareSocial('google_plus')">
      <i class="common-share-google-plus"></i>
    </a>
  </div>
  <a ng-click="socialExpanded = !socialExpanded" class="btn btn-social share-expand"><i class="common-share-expand"></i></a>
</div>