<div class="image-upload">
  <div class="alert alert-danger" ng-if="errorMsg != null">{{errorMsg}}</div>
  <div class="image-upload-select" ng-show="!selectedFiles || selectedFiles.length === 0">
    <button type="button" ng-file-select="onFileSelect($files)" title="select file" onclick="this.value = null" class="btn btn-primary btn-block" data-accept="image/jpeg, image/jpg, image/png, image/gif" ng-if="!usingFlash"><span class="visible-xs-inline-block visible-sm-inline-block">Upload an image from your device</span><span class="hidden-xs hidden-sm">Upload an image from your computer</span></button>
    <div ng-if="usingFlash">
      <p>Uploading images is currently not available in this browser</p>
    </div>
    <!--<button ng-file-select="onFileSelect($files)" title="select file" onclick="this.value = null" class="btn btn-primary btn-block" data-accept="image/*" ng-if="!usingFlash || (usingFlash && hasFlashInstalled)">Upload an image from your computer</button>
    <div ng-if="usingFlash && !hasFlashInstalled">
      <p>You must have Adobe Flash Player installed to upload images</p>
      <a mrsl-flash-download></a>
    </div>-->
    <div ng-show="dropSupported" class="drop-box" ng-file-drop="onFileSelect($files)" ng-file-drop-available="dropSupported=true"
      ng-file-drag-over-class="dragOverClass($event)" ng-file-drag-over-delay="100">or drag and drop image file here</div>
    <p class="help-block">Note: non-square photos will be auto-cropped into a square upon upload</p>
  </div>
  <div ng-show="selectedFiles && selectedFiles.length > 0" class="image-upload-preview">
    <div class="sel-file" ng-repeat="f in selectedFiles">
      <div class="progress image-upload-progress" ng-show="displayProgress >= 0">
        <progressbar class="progress-striped active" max="100" value="displayProgress" type="success"></progressbar>
      </div>
      <div class="image-upload-preview-img" ng-style="{'background-image':'url('+dataUrls[$index]+')'}"></div>
    </div>
  </div>
</div>