<div class="form-group" ng-class="{'has-error': (inForm[inputName].$dirty && hasClientError()) || inForm[inputName].$error.server, 'label-btns': labelBtns}">
  <label class="control-label" ng-class="{'required':required === 'true'}" for="{{inputName}}">{{enName}}</label>

  <div ng-if="labelBtns" ng-repeat="radioVal in multipleVals" class="radio">
    <input id="{{inputName}}-{{radioVal.value}}" type="radio" ng-change="removeServerError();toggleChecked(formModel[inputName])" name="{{inputName}}" ng-attr="customValAttrs" ng-model="formModel[inputName]" value="{{radioVal.value}}" ng-required="{{required}}">
    <label class="btn btn-default" for="{{inputName}}-{{radioVal.value}}">
      {{radioVal.name}}
    </label>
  </div>

  <div ng-if="!labelBtns" ng-repeat="radioVal in multipleVals" class="radio">
    <label>
      <input type="radio" ng-change="removeServerError();toggleChecked(formModel[inputName])" name="{{inputName}}" ng-attr="customValAttrs" ng-model="formModel[inputName]" value="{{radioVal.value}}" ng-required="{{required}}">
      {{radioVal.name}}
    </label>
  </div>

  <p class="help-block">{{helpText}}</p>

  <span ng-repeat="(errorType, message) in builtInErrorMessages">
    <span ng-show="inForm[inputName].$dirty && inForm[inputName].$error[errorType]" class="help-block">{{message}}</span>
  </span>

  <span ng-show="inForm[inputName].$error.serverErrors && inForm[inputName].$error.server" class="help-block" ng-repeat="message in inForm[inputName].$error.serverErrors">{{message}}</span>
</div>