<div class="form-group" ng-class="{'has-error': (inForm[inputName].$dirty && hasClientError()) || inForm[inputName].$error.server}">
  <div class="checkbox">
    <label class="control-label" ng-class="{'required':required === 'true'}" for="{{inputName}}">
      <input type="checkbox" id="{{inputName}}" ng-change="removeServerError()" name="{{inputName}}" ng-attr="customValAttrs" ng-model="formModel[inputName]" value="true" ng-required="{{required}}">
      {{enName}}
    </label>
  </div>

  <p class="help-block">{{helpText}}</p>

  <span ng-repeat="(errorType, message) in builtInErrorMessages">
    <span ng-show="inForm[inputName].$dirty && inForm[inputName].$error[errorType]" class="help-block">{{message}}</span>
  </span>

  <span ng-show="inForm[inputName].$error.serverErrors && inForm[inputName].$error.server" class="help-block" ng-repeat="message in inForm[inputName].$error.serverErrors">{{message}}</span>
</div>