<div class="container morsel-bg container-shadow container-max-xs">
  <form name="loginForm" method="post" ng-submit="login()" class="padded-form" novalidate>
    <div class="row">
      <div class="col-md-12">
        <div ng-repeat="(inputName, inputErrors) in serverErrors">
          <p ng-repeat="inputError in inputErrors">{{inputName}} {{inputError}}</p>
        </div>

        <div class="form-group">
          <label class="control-label" for="email">Email</label>
          <input class="form-control" type="email" ng-model="email" id="email" placeholder="johnsmith@example.com" name="email" required />
          <span ng-show="form.email.$dirty && form.email.$error.email" class="help-block">Email is invalid</span>
        </div>

        <div class="form-group">
          <label class="control-label" for="password">Password</label>
          <input class="form-control" type="password" id="password" ng-model="password" name="password" required/>
          <span ng-show="form.password.$dirty && form.password.$error.required" class="hel-block">Please enter a password</span>
        </div>

        <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Log In</button>
      </div>
    </div>
  </form>
</div>