$app-demo-screen-width:243px;
$app-demo-screen-height: 431px;
$app-demo-header-height: 49px;
$app-demo-screen-flick-height: $app-demo-screen-height - $app-demo-header-height;
$app-demo-duration: 18s;
$app-demo-delay: 2s;

@mixin app-demo-translate($x,$y,$o) {
  @include opacity($o);
  @include translate(-$app-demo-screen-width*$x, -$app-demo-screen-flick-height*$y);
}

@include keyframes(app-demo) {
  0% {
    @include app-demo-translate(0,0,1);
  }

  4% {
    @include app-demo-translate(1,0,1);
  }

  12% {
    @include app-demo-translate(1,0,1);
  }

  16% {
    @include app-demo-translate(2,0,1);
  }

  24% {
    @include app-demo-translate(2,0,1);
  }

  28% {
    @include app-demo-translate(2,1,1);
  }

  36% {
    @include app-demo-translate(2,1,1);
  }

  40% {
    @include app-demo-translate(2,2,1);
  }

  48% {
    @include app-demo-translate(2,2,1);
  }

  52% {
    @include app-demo-translate(2,3,1);
  }

  60% {
    @include app-demo-translate(2,3,1);
  }

  64% {
    @include app-demo-translate(2,4,1);
  }

  72% {
    @include app-demo-translate(2,4,1);
  }

  76% {
    @include app-demo-translate(1,4,1);
  }

  84% {
    @include app-demo-translate(1,4,1);
  }

  88% {
    @include app-demo-translate(0,4,1);
  }

  96% {
    @include app-demo-translate(0,4,1);
  }

  97% {
    @include app-demo-translate(0,4,0);
  }

  99% {
    @include app-demo-translate(0,0,0);
  }

  100% {
    @include app-demo-translate(0,0,1);
  }
}

.home-page {
  section {
    padding: 20px 0;
  }

  .app-demo {
    position: absolute;
    right: 0;

    .app-screenshots {
      display: none;
    }
  }

  .create-section {
    background-color: $morsel-new-beige;
  }

  .featured-morsels-section {
    background-color: $morsel-background;
  }
}

@media (min-width: $screen-xs-min) {
}

@media (min-width: $screen-sm-min) {
  .home-page {

    section {
      padding: 40px 0;
    }

    .app-demo {
      width: 325px;
      height: 614px;
      position: relative;
    }
  }
}

@media (min-width: $screen-md-min) {
  .home-page {
    .app-demo {
      .app-screenshots {
        display: block;
        width: $app-demo-screen-width;
        height: $app-demo-screen-height - $app-demo-header-height;
        position: absolute;
        left: 41px;
        top: 91px + $app-demo-header-height;
        overflow: hidden;

        img {
          max-width: none;
          -webkit-animation-name: app-demo;
          animation-name: app-demo;
          -webkit-animation-duration: $app-demo-duration;
          -webkit-animation-delay: $app-demo-delay;
          -webkit-animation-iteration-count: infinite;
          animation-duration: $app-demo-duration;
          animation-delay: $app-demo-delay;
          animation-iteration-count: infinite;
        }
      }
    }
  }
}