$app-demo-screen-width:243px;
$app-demo-screen-height: 431px;
$app-demo-header-height: 49px;
$app-demo-screen-flick-height: $app-demo-screen-height - $app-demo-header-height;
$app-demo-duration: 18s;
$app-demo-delay: 2s;

@mixin app-demo-translate($x,$y,$o) {
  @include opacity($o);
  @include translate(-$app-demo-screen-width*$x, -$app-demo-screen-flick-height*$y);
}

@include keyframes(app-demo) {
  0% {
    @include app-demo-translate(0,0,1);
  }

  4% {
    @include app-demo-translate(1,0,1);
  }

  12% {
    @include app-demo-translate(1,0,1);
  }

  16% {
    @include app-demo-translate(2,0,1);
  }

  24% {
    @include app-demo-translate(2,0,1);
  }

  28% {
    @include app-demo-translate(2,1,1);
  }

  36% {
    @include app-demo-translate(2,1,1);
  }

  40% {
    @include app-demo-translate(2,2,1);
  }

  48% {
    @include app-demo-translate(2,2,1);
  }

  52% {
    @include app-demo-translate(2,3,1);
  }

  60% {
    @include app-demo-translate(2,3,1);
  }

  64% {
    @include app-demo-translate(2,4,1);
  }

  72% {
    @include app-demo-translate(2,4,1);
  }

  76% {
    @include app-demo-translate(1,4,1);
  }

  84% {
    @include app-demo-translate(1,4,1);
  }

  88% {
    @include app-demo-translate(0,4,1);
  }

  96% {
    @include app-demo-translate(0,4,1);
  }

  97% {
    @include app-demo-translate(0,4,0);
  }

  99% {
    @include app-demo-translate(0,0,0);
  }

  100% {
    @include app-demo-translate(0,0,1);
  }
}

.home-page {
  section {
    padding: 35px 0;
  }

  .home-masthead {
    background: url(images/bg/home.jpg) center no-repeat;
    background-size: cover;
    padding: $header-height 0 0;
    min-height: 275px;

    h1 {
      text-align: center;
      color: white;
      @include text-shadow(0px 1px 2px rgba(0, 0, 0, 1));
      font-size: 25px;
      margin: 25% 0;
    }
  }

  .featured-morsels-section {
    background-color: $morsel-background;
    padding-top: 20px;

    ul {
      margin: 0;
      list-style: none;
    }

    .morsel-block {
      height: 250px;

      .centered-text {
        font-size: 24px;
        line-height: 30px;
      }
    }

    .featured-morsels {
      margin: 30px 0 35px;

      h5 {
        margin-bottom: 30px;
      }
    }
  }

  .create-section {
    background-color: $morsel-new-beige;
  }

  .app-demo {
    text-align: center;

    .app-screenshots {
      display: none;
    }
  }

  .create-info {
    text-align: center;
    padding-top: 30px;

    h3 {
      margin: 30px 0;
      font-size: 18px;
      color: $morsel-medium-dark;

      span {
        color: $morsel-secondary;
        font-size: 26px;
        line-height: 50px;
        display: block;
      }
    }

    .itunes-link {
      img {
        width: 200px;
      }
    }
  }

  .headline-button {
    overflow: hidden;

    h2 {
      color: $morsel-medium-dark;
      text-align: center;
      font-size: 22px;
    }

    .btn {
      margin-top: $line-height-computed;
      display: block;
    }
  }

  hr {
    margin: 35px 0;
  }
}

@media (min-width: $screen-xs-min) {
  .home-page {
    .home-masthead {
      h1 {
        font-size: 36px;
        margin: 20% 0;
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .home-page {
    section {
      padding: 50px 0;
    }

    .home-masthead {
      h1 {
        font-size: 58px;
        margin: 15% 0;
      }
    }

    .featured-morsels-section {
      padding-top: 25px;

      .morsel-block {
        height: 320px;
      }

      .featured-morsels {
        margin-bottom: 50px;
      }
    }

    .headline-button {
      h2 {
        width: 75%;
        text-align: left;
        float: left;
        font-size: 26px;
      }

      .btn {
        float: right;
        display: inline-block;
      }
    }

    .app-demo {
      width: 325px;
      height: 614px;
      position: relative;
      float: left;

      .app-screenshots {
        display: block;
        width: $app-demo-screen-width;
        height: $app-demo-screen-height - $app-demo-header-height;
        position: absolute;
        left: 41px;
        top: 91px + $app-demo-header-height;
        overflow: hidden;

        img {
          max-width: none;
          -webkit-animation-name: app-demo;
          animation-name: app-demo;
          -webkit-animation-duration: $app-demo-duration;
          -webkit-animation-delay: $app-demo-delay;
          -webkit-animation-iteration-count: infinite;
          animation-duration: $app-demo-duration;
          animation-delay: $app-demo-delay;
          animation-iteration-count: infinite;
        }
      }
    }

    .create-info {
      text-align: left;
      padding: 60px 0 0 375px;

      h3 {
        font-size: 24px;

        span {
          font-size: 36px;
        }
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  .home-page {
    .home-masthead {
      h1 {
        font-size: 62px;
        margin: 8% 0;
      }
    }
  }
}