<div class="home-page main-view-offset" ng-style="viewOptions.minimumMainHeight()">
  <section class="home-masthead">
    <div class="container">
      <h1>Discover and express<br/>your passion for food</h1>
    </div>
  </section>
  <section class="featured-morsels-section">
    <div class="container container-max-mrsl-feed">
      <div class="headline-button">
        <h2 class="small-caps">Explore the stories, inspirations and techniques that make every cook's food their own</h2>
        <a href="/explore" class="btn btn-primary btn-lg">Explore morsels</a>
      </div>
      <hr />
      <div class="featured-morsels" ng-if="featuredMorsels">
        <h5 class="text-center">Featured morsels</h5>
        <div class="row no-gutter">
          <div class="col-sm-4">
            <div mrsl-morsel-block="featuredMorsels[0]"></div>
          </div>
          <div class="col-sm-8">
            <div mrsl-morsel-block="featuredMorsels[1]"></div>
          </div>
        </div>
        <div class="row no-gutter">
          <div class="col-sm-8">
            <div mrsl-morsel-block="featuredMorsels[2]"></div>
          </div>
          <div class="col-sm-4">
            <div mrsl-morsel-block="featuredMorsels[3]"></div>
          </div>
        </div>
        <div class="row no-gutter">
          <div class="col-sm-4">
            <div mrsl-morsel-block="featuredMorsels[4]"></div>
          </div>
          <div class="col-sm-8">
            <div mrsl-morsel-block="featuredMorsels[5]"></div>
          </div>
        </div>
      </div>
      <div class="loader" ng-if="!featuredMorsels"></div>
      <div class="headline-button">
        <h2 ng-bind="'Share what you\'re doing in the kitchen. '+ (isLoggedIn ? 'C' : 'Sign up and c') + 'reate your first morsel now!'"></h2>
        <a href="/join" target="_self" class="btn btn-primary btn-lg" ng-if="!isLoggedIn">Sign up</a>
        <a href="/add" target="_self" class="btn btn-primary btn-lg" ng-if="isLoggedIn">Create a morsel</a>
      </div>
    </div>
  </section>
  <section class="create-section">
    <div class="container container-max-sm">
      <div class="app-demo">
        <div class="app-screenshots">
          <img src="/assets/images/media/app-demo.jpg" title="Morsel app available now for iOS" />
        </div>
        <img src="/assets/images/media/iphone-ode-to-trotter.png" />
      </div>
      <div class="create-info">
        <i class="morsel-app-icon">Morsel</i>
        <h3><span>Get the Morsel app</span>Explore and create on the go</h3>
        <a mrsl-itunes-link></a>
      </div>
    </div>
  </section>
</div>