/*
These are styles related to the styleguide implementation of Morsel. any actual styles should be updated in /src/sass
*/
/* line 8, style.scss */
body {
  background-color: white;
  padding: 15px;
}

/* line 14, style.scss */
.morsel-primary {
  background-color: #e96144;
}

/* line 18, style.scss */
.morsel-secondary {
  background-color: #f0cf69;
}

/* line 22, style.scss */
.morsel-tertiary {
  background-color: #51ba3c;
}

/* line 26, style.scss */
.morsel-interface {
  background-color: #e2ddd7;
}

/* line 30, style.scss */
.morsel-light-content {
  background-color: #93a590;
}

/* line 34, style.scss */
.morsel-dark-content {
  background-color: #394038;
}

/* line 39, style.scss */
.font-primary {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 43, style.scss */
.font-secondary {
  font-family: "Helvetica", "Arial", sans-serif;
}
