<div class="pic-header">
  <h1>About Morsel</h1>
</div>
<div class="container container-shadow morsel-bg container-margin-bottom">
  <div class="row-fluid">
    <h2>What is Morsel?</h2>
    <p>Morsel is a collaborative platform where chefs, sommeliers and mixologists can share the stories and beauty of their work. Morsel helps amplify the stories through syndication to social networks and the media.</p>
    <h2>Why Morsel?</h2>
    <p>Behind every great restaurant is a team of kickass people. With more than 20 years of industry experience, on and off the line, we know that each person brings something interesting to the table. We created Morsel to showcase the "interesting" and recognize the artistry, hard work and sometimes batshit crazy ideas that result in delicious dishes or the perfect pairing.</p>
    <ul class="about-bullets">
      <li>
        <span class="about-increase-exposure"></span>
        <h3 class="h5">Increase your exposure</h3>
        <p>The Morsel community is made up of other culinary professionals, national and local media and diners. Morsel's app puts your content in front of them everyday!</p>
      </li>
      <li>
        <span class="about-build-brand"></span>
        <h3 class="h5">Build your brand</h3>
        <p>Display your work alongside some of the best in the country and the world!</p>
      </li>
      <li>
        <span class="about-work-smarter"></span>
        <h3 class="h5">Work Smarter</h3>
        <p>Morsel distributes your content to existing social networks to save you time and energy.</p>
      </li>
    </ul>
    <hr />
    <h2>Team</h2>
    <p>Morsel is built by a small team passionate about food, drink and technology in Chicago, Illinois.</p>
    <ul class="about-team">
      <li>
        <img src="">
        <a href="/chris" target="_self">Chris Zamierowski</a>
        <p>Front-end Engineer</p>
      </li>
      <li>
        <img src="">
        <a href="/ellen" target="_self">Ellen Malloy</a>
        <p>Co-founder &amp; CRO</p>
      </li>
      <li>
        <img src="">
        <a href="/javierotero" target="_self">Javier Otero</a>
        <p>iOS Engineer</p>
      </li>
      <li>
        <img src="">
        <a href="/kris" target="_self">Kris Petersen</a>
        <p>Co-founder &amp; CEO</p>
      </li>
      <li>
        <img src="">
        <a href="/marty" target="_self">Marty Trzpit</a>
        <p>Back-end &amp; iOS Engineer</p>
      </li>
    </ul>
    <p>Have a question? <a href="/contact" target="_self">Contact Us</a></p>
  </div>
</div>