<div class="pic-header">
  <h1>About Morsel</h1>
  {{> picHeaderLink}}
</div>
<div class="container container-shadow morsel-bg container-margin-bottom">
  <h2>We believe stories make food and drinks taste better!</h2>
  <p>So we built a product to make it easy for chefs, cooks, mixologists, sommeliers, baristas, etc. to tell theirs.</p>
  <p>Ever notice when you go to a restaurant the servers have great stories to tell about the food, drinks and wine list? That's because the stories help you understand the chef's vision, the mixologist's creativity and the sommelier's understanding of what makes a great pairing. And in the end, you're likely to enjoy the experience a little bit more.</p>
  <h2>Our Story</h2>
  <p>The Morsel journey began with a restaurant publicist who heard those compelling, insightful stories straight from chefs, every day. She knew only a fraction were getting outside the four walls of the restaurant and she knew the secret to building restaurant business was getting those stories to diners hungry for insights into the inspirations, philosophies and vision of chefs.</p>
  <p>As we set off to solve that problem for chefs, we quickly realized that so many of the non-chefs around us had inspirations and stories about their culinary creations, as well, and Morsel as we know it was born. A community of people passionate about food and drink with a curiosity of what inspires others. So what are your food and drink inspirations and stories? <a href="/apps" target="_self">Download the app</a> or <a href="/add" target="_self">create one on web</a> and start telling them today.</p>
  <hr />
  <h2>Our Team</h2>
  <p>Morsel is built by a small team passionate about food, drink and technology in Chicago, Illinois.</p>
  <ul class="about-team row">
    <li class="col-xs-6 col-sm-4 col-md-3">
      <img src="/assets/images/media/team/leigh.jpg" class="img-circle">
      <a href="http://twitter.com/literalleigh" target="_blank">Leigh Bush</a>
      <p>Content Curator</p>
    </li>
    <li class="col-xs-6 col-sm-4 col-md-3">
      <img src="/assets/images/media/team/caroline.jpg" class="img-circle">
      <a href="http://twitter.com/CDMarie19" target="_blank">Caroline DeWeirdt</a>
      <p>Marketing Intern</p>
    </li>
    <li class="col-xs-6 col-sm-4 col-md-3">
      <img src="/assets/images/media/team/andrea.jpg" class="img-circle">
      <span>Andrea Donadio</span>
      <p>Photography</p>
    </li>
    <li class="col-xs-6 col-sm-4 col-md-3">
      <img src="/assets/images/media/team/ellen.jpg" class="img-circle">
      <a href="http://twitter.com/ellenmalloy" target="_blank">Ellen Malloy</a>
      <p>Co-founder &amp; CRO</p>
    </li>
    <li class="col-xs-6 col-sm-4 col-md-3">
      <img src="/assets/images/media/team/javier.jpg" class="img-circle">
      <a href="http://twitter.com/javier_e_otero" target="_blank">Javier Otero</a>
      <p>iOS Engineer</p>
    </li>
    <li class="col-xs-6 col-sm-4 col-md-3">
      <img src="/assets/images/media/team/kris.jpg" class="img-circle">
      <a href="http://twitter.com/krispetersen" target="_blank">Kris Petersen</a>
      <p>Co-founder &amp; CEO</p>
    </li>
    <li class="col-xs-6 col-sm-4 col-md-3">
      <img src="/assets/images/media/team/marty.jpg" class="img-circle">
      <a href="http://twitter.com/martytrzpit" target="_blank">Marty Trzpit</a>
      <p>Backend/iOS Engineer</p>
    </li>
    <li class="col-xs-6 col-sm-4 col-md-3">
      <img src="/assets/images/media/team/chris.jpg" class="img-circle">
      <a href="http://twitter.com/zamierowski" target="_blank">Chris Zamierowski</a>
      <p>Front-end Engineer</p>
    </li>
  </ul>
  <p>Have a question? <a href="/contact" target="_self">Contact Us</a></p>
</div>