<div class="pic-header">
  <h1>Download Morsel</h1>
</div>
<div class="container container-shadow morsel-bg container-margin-bottom">
  <div class="row-fluid">
    <div class="col-md-4">
      <img src="/assets/images/utility/iphone.png" />
    </div>
    <div class="col-md-8">
      <h2>Morsel Tagline!</h2>
      <p>The Morsel app allows...</p>
      <a href="itunes" target="_blank">
        <img src="/assets/images/utility/Download_on_the_App_Store_Badge_US-UK_135x40.svg" />
      </a>
    </div>
  </div>
</div>