<div class="pic-header">
  <h1>Download Morsel</h1>
  {{> picHeaderLink}}
</div>
<div class="container container-shadow morsel-bg container-margin-bottom apps-page">
  <div class="col-sm-6 col-md-4">
    <img src="/assets/images/media/iphone-publican-oyster.png" title="Morsel app available now for iOS" />
  </div>
  <div class="col-sm-6 col-md-7 col-md-offset-1">
    <h2>Take Morsel on the go!</h2>
    <p>Available for your iPhone or iPod, Morsel is your backstage pass into to the inspirations and stories of top chefs, mixologists, sommeliers, cicerones and restaurants. Foodies and at home cooks rejoice! Download the app now to enjoy and capture the inspriation, process, techniques and beauty of the food and drinks we love!</p>
    <p>Are you a chef, mixologist, sommelier, cicerone, etc? Get started using Morsel to tell your stories, document your creations and connect with your peers around the world. Join our premier community of talented individuals and start creating morsels today!</p>
    <a mrsl-itunes-link></a>
  </div>
</div>