<div class="pic-header">
  <h1>Press &amp; Media</h1>
</div>
<div class="container container-shadow morsel-bg container-margin-bottom">
  <div class="row-fluid">
    <p>For media inquiries, please send an email to <a href="mailto:press@eatmorsel.com" target="_blank">press@eatmorsel.com</a></p>
    <h2>In the News</h2>
    <p class="h5">Coming Soon...</p>
    <hr/>
    <h2>Resources</h2>
    <div class="press-resources">
      <div>
        <img src="/assets/images/press/morsel-logo.png" title="Morsel logo" />
        <span>Morsel Logo (1200x630)</span>
        <a href="/assets/images/press/morsel-logo.png" target="_blank">.png download</a>
      </div>
      <div>
        <img src="/assets/images/press/morsel-icon.png" title="Morsel logo" />
        <span>Morsel Icon (500x500)</span>
        <a href="/assets/images/press/morsel-icon.png" target="_blank">.png download</a>
      </div>
    </div>
  </div>
</div>