.user-profile {
  .user-username {
    margin: 5px 0;
    color: $morsel-medium;
    font-size: 15px;
    font-family: inherit;
  }

  .user-stats {
    text-align: center;
    margin: 0;
    z-index: 2;

    li {
      list-style: none;
      display: inline-block;
      text-align: center;
      padding: 0 10px;

      a {
        color: $morsel-primary;
        margin: 0;

        &:hover {
          span {
            color: $morsel-primary;
          }
        }
      }

      span {
        display: block;
        color: $morsel-dark;
      }

      & + li {
        border-left: 1px solid $morsel-medium;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .user-tags {
    padding-top: 15px;
    padding-bottom: 15px;

    > span {
      padding: 2px 5px;
    }

    ul {
      margin: 0;
      display: inline;

      li {
        display: inline-block;
        list-style: none;
        padding: 2px 5px;
        color: $morsel-medium;
      }
    }

    .user-tags-empty {
      color: $morsel-medium;
    }
  }

  .edit-profile-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
  }

  .professional-tabs {
    .nav-tabs {
      > li {
        width: percentage(1/4);
      }
    }
  }
}

@media (max-width: $screen-md) {
  .profile {
    .user-stats {
      padding: 0;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .profile {
    .user-stats {
      margin-top: 20px;

      li {
        padding: 0 15px;
      }
    }
  }
}