<div class="row no-gutter collections-tab">
  <div ng-if="canEdit" class="col-sm-4 col-md-3">
    <button mrsl-new-collection></button>
  </div>
  <div class="col-sm-4 col-md-3" bindonce ng-repeat="collection in userCollections">
    <div mrsl-collection-block="collection"></div>
  </div>
</div>
<div ng-if="!userCollections" class="loader"></div>
<div mrsl-view-more mrsl-view-more-func="loadCollections" mrsl-view-more-data="userCollections" mrsl-view-more-inc="collectionsIncrement" mrsl-view-more-copy="View more collections" mrsl-view-more-btn="true"></div>
<div ng-if="userCollections && userCollections.length === 0" class="empty-state">
  <p bo-if="!canEdit">This user hasn't made any collections yet</p>
</div>