<div class="row no-gutter">
  <div class="col-sm-4 col-md-3" bindonce ng-repeat="morsel in morsels | reverse">
    <div mrsl-morsel-block="morsel" mrsl-morsel-block-spacer="true"></div>
  </div>
</div>
<div ng-if="!morsels" class="loader"></div>
<div mrsl-view-more mrsl-view-more-func="getMorsels" mrsl-view-more-data="morsels" mrsl-view-more-inc="morselIncrement" mrsl-view-more-copy="View more morsels" mrsl-view-more-btn="true"></div>
<div ng-if="morsels && morsels.length === 0" class="empty-state">
  <p bo-if="!canEdit">This user hasn't made any morsels yet</p>
  <p bo-if="canEdit">You haven't made any morsels yet. <a href="/add" target="_self">Create one now</a>.</p>
</div>