<div class="profile" ng-style="viewOptions.minimumMainHeight()">
  <div class="container">
    <a href="/account/edit-profile" ng-show="canEdit" class="edit-profile-btn" target="_self"><i class="common-settings"></i></a>
    <hr />
    <div class="user-container">
      <div class="user-info col-sm-6">
        <div class="row">
          <div class="col-xs-4">
            <div class="row">
              <div mrsl-user-image mrsl-username="user.username" mrsl-user-photos="user.photos" mrsl-user-image-size="profile-pic-m" mrsl-no-link="true" class="col-12"></div>
              <div class="col-12">
                <button mrsl-follow mrsl-id-to-follow="user.id" mrsl-is-following="user.following"></button>
              </div>
            </div>
          </div>
          <div class="user-body col-xs-8">
            <h3 class="user-username" ng-bind="user.username"></h3>
            <h1 class="h3" ng-bind="user.first_name+' '+user.last_name"></h1>
            <p ng-bind="user.bio"></p>
          </div>
        </div>
      </div>
      <ul class="user-stats col-sm-6">
        <li>
          <a mrsl-followers mrsl-follow-id="user.id" mrsl-follower-count="user.follower_count"></a>
        </li>
        <li>
          <a mrsl-followed-users mrsl-follower-id="user.id" mrsl-following-count="user.followed_user_count"></a>
        </li>
      </ul>
      <div class="user-bg" mrsl-responsive-images="{{getUserPhoto()}}" mrsl-ri-image-type="background"></div>
    </div>
    <hr />

    <div ng-if="isChef">
      <tabset>
        <tab heading="Morsels">
          <ul class="clearfix user-morsels">
            <li ng-repeat="morsel in morsels | reverse">
              <a ng-click="goTo(user.username+'/'+morsel.id+'-'+morsel.slug)" class="centered-white">
                <div>
                  <span class="user-morsel-title">{{morsel.title}}</span>
                </div>
                <img mrsl-responsive-images="{{getCoverPhotoArray(morsel)}}" />
              </a>
            </li>
          </ul>
          <div ng-show="!morsels" class="loader"></div>
          <div ng-show="morsels && morsels.length === 0" class="empty-state">
            <p ng-if="!canEdit">This user hasn't made any morsels yet</p>
            <p ng-if="canEdit">You haven't made any morsels yet. <a href="" target="_blank">Download the app</a> to make one!</p>
          </div>
        </tab>
        <tab heading="Tags" select="loadTags()">
          <div class="user-tags col-sm-6">
            <span class="h5">Cuisines:</span>
            <ul>
              <li ng-show="cuisines.length === 0">
                <span ng-hide="canEdit" class="user-tags-empty">None selected</span>
                <a ng-show="canEdit" href="/account/edit-profile" target="_self">Add &#43;</a>
              </li>
              <li ng-repeat="cuisine in cuisines" >
                <a mrsl-cuisine-users mrsl-cuisine="cuisine"></a>{{$last ? '':','}}
              </li>
            </ul>
          </div>
          <div class="user-tags col-sm-6">
            <span class="h5">Specialties:</span>
            <ul>
              <li ng-show="specialties.length === 0">
                <span ng-hide="canEdit" class="user-tags-empty">None selected</span>
                <a ng-show="canEdit" href="/account/edit-profile" target="_self">Add &#43;</a>
              </li>
              <li ng-repeat="specialty in specialties">
                <a mrsl-specialty-users mrsl-specialty="specialty"></a>{{$last ? '':','}}
              </li>
            </ul>
          </div>
          <div ng-show="!specialties && !cuisines" class="loader"></div>
        </tab>
        <tab heading="Likes" select="loadLikeFeed()">
          <div mrsl-likeable-feed="likeFeed" mrsl-likeable-feed-user="user"></div>
        </tab>
      </tabset>
    </div>

    <div ng-if="!isChef" class="user-likes">
      <div mrsl-likeable-feed="likeFeed" mrsl-likeable-feed-user="user"></div>
    </div>
  </div>
</div>