<div bindonce="user" class="profile user-profile header-padding" ng-style="viewOptions.minimumMainHeight()">
  <div class="container container-shadow container-no-padding morsel-bg">
    <a href="/account/edit-profile" bo-if="canEdit" class="edit-profile-btn" target="_self"><i class="common-gear"></i></a>
    <div class="profile-container header-padding">
      <div class="profile-info col-sm-6">
        <div class="row">
          <div class="col-xs-4">
            <div class="row">
              <div mrsl-user-image mrsl-username="user.username" mrsl-user-photos="user.photos" mrsl-user-image-size="profile-pic-m" mrsl-no-link="true" class="col-12"></div>
              <div class="col-12">
                <button mrsl-follow mrsl-id-to-follow="user.id" mrsl-is-following="user.following"></button>
              </div>
            </div>
          </div>
          <div class="profile-body col-xs-8">
            <h3 class="user-username" bo-text="user.username"></h3>
            <h1 class="h3" mrsl-users-name="user"></h1>
            <p bo-text="user.bio"></p>
          </div>
        </div>
      </div>
      <ul class="user-stats col-sm-6">
        <li>
          <div mrsl-followers mrsl-follow-id="user.id" mrsl-follower-count="user.follower_count"></div>
        </li>
        <li>
          <div mrsl-followed-users mrsl-follower-id="user.id" mrsl-following-count="user.followed_user_count"></div>
        </li>
      </ul>
      <div class="profile-bg" mrsl-responsive-images="{{getUserPhoto()}}" mrsl-ri-image-type="background"></div>
    </div>
    <div>
      <tabset bo-class="{'professional-tabs':isProfessional}">
        <tab heading="Morsels">
          <div class="row no-gutter">
            <div class="col-sm-4 col-md-3" bindonce ng-repeat="morsel in morsels | reverse">
              <div mrsl-morsel-block="morsel" mrsl-morsel-block-spacer="true"></div>
            </div>
          </div>
          <div ng-if="!morsels" class="loader"></div>
          <div mrsl-view-more mrsl-view-more-func="getMorsels" mrsl-view-more-data="morsels" mrsl-view-more-inc="morselIncrement" mrsl-view-more-copy="View more morsels" mrsl-view-more-btn="true"></div>
          <div ng-if="morsels && morsels.length === 0" class="empty-state">
            <p bo-if="!canEdit">This user hasn't made any morsels yet</p>
            <p bo-if="canEdit">You haven't made any morsels yet. <a href="/add" target="_self">Create one now</a>.</p>
          </div>
        </tab>
        <tab heading="Places" select="loadPlaces()" bo-show="isProfessional">
          <div class="profile-tab-content" mrsl-place-list="userPlaces" mrsl-place-list-empty="'This user isn\'t associated with any places'"></div>
        </tab>
        <tab heading="Likes" select="loadLikeFeed()">
          <div class="profile-tab-content" mrsl-likeable-feed="likeFeed" mrsl-likeable-feed-user="user"></div>
        </tab>
      </tabset>
    </div>
  </div>
</div>