<li class="morsel-comment">
  <div class="user-info user-info-s">
    <a href="#" class="profile-pic-link profile-pic-s">
      {{> atoms-avatar }}
    </a>
    <div>
      <span class="time-ago">18 Days ago</span>
      <h5 class="user-info-main">{{name.first}} {{name.last}}</h5>
      <p class="comment-description">{{description}}</p>
    </div>
  </div>
</li>