.about-team {
  overflow: hidden;

  li {
    list-style: none;
    width: 20%;
    float: left;
    text-align: center;
  }
}

.about-bullets {
  margin: 40px 10px 40px;

  li {
    list-style: none;
    margin-bottom: 15px;

    span {
      background: url("images/icons/about-icons.png") no-repeat;
      display: block;
      height: 48px;
      width: 70px;
      float: left;
      margin-right: 15px;
    }

    h3, p {
      overflow: hidden;
    }
  }

  .about-increase-exposure {
    background-position: -213px 0;
  }

  .about-build-brand {
    background-position: -284px 0;
  }

  .about-work-smarter {
    background-position: -355px 0;
  }
}

@media (min-width: $screen-md-min) {
  .about-bullets {
    margin-left: 60px;
    margin-right: 60px;
  } 
}