<div class="social-sharing" ng-class="{'full-social-btns':fullBtns}">
  <a class="btn btn-social btn-facebook" ng-click="shareSocial('facebook')">Share on Facebook</a>
  <a class="btn btn-social btn-twitter" ng-click="shareSocial('twitter')">Share on Twitter</a>
  <div class="social-sharing-additional" ng-class="{expanded: socialExpanded}">
    <a class="btn btn-social btn-linkedin" ng-click="shareSocial('linkedin')"></a>
    <a class="btn btn-social btn-pinterest" ng-click="shareSocial('pinterest')"></a>
    <a class="btn btn-social btn-google-plus" ng-click="shareSocial('google_plus')"></a>
  </div>
  <a ng-click="socialExpanded = !socialExpanded" class="btn btn-social share-expand"><i class="common-expand"></i></a>
</div>