<!DOCTYPE html>
<html id="ng-app" ng-app="Morsel" ng-controller="AppCtrl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title ng-bind="pageTitle">{{{metadata.title}}}</title>
    <meta name="description" content="{{{metadata.description}}}">
    <meta name="keywords" content="{{{metadata.keywords}}}" />
    <meta name="prerender-status-code" content="404">

  </head>
  <body>
    <div class="page-wrapper">
      404!
    </div>
  </body>
</html>