<!DOCTYPE html>
<html id="ng-app" ng-app="Morsel" ng-controller="AppCtrl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title ng-bind="pageTitle">{{@metadata.title}}</title>
    <meta name="description" content="{{@metadata.description}}">
    <meta name="keywords" content="{{@metadata.keywords}}" />
    <meta name="prerender-status-code" content="404">
    <link rel="shortcut icon" href="<%= favicon_dir %>/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/error-page.css" />
  </head>
  <body>
    <div class="error-page">
      <h1>Morsel</h1>
      <p>Oops, that page doesn't exist. Try one of these instead:</p>
      <ul class="links">
        <li>
          <a href="/">Morsel Home</a>
        </li>
        <li>
          <a href="http://insights.eatmorsel.com">Morsel Insights Blog</a>
        </li>
      </ul>
    </div>
  </body>
</html>