<!DOCTYPE html>
<html id="ng-app" ng-app="Morsel" ng-controller="AppCtrl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{{metadata.title}}}</title>
    <meta name="description" content="{{{metadata.description}}}">

    <!-- social media tags -->
    <meta name="twitter:card" content="{{{metadata.twitter.card}}}">
    <meta name="twitter:site" content="{{{metadata.twitter.site}}}">
    <meta name="twitter:title" content="{{{metadata.title}}}">
    <meta name="twitter:description" content="{{{metadata.description}}}">
    <meta name="twitter:creator" content="{{{metadata.twitter.creator}}}">
    <meta name="twitter:image:src" content="{{{metadata.image}}}">
    <meta name="twitter:url" content="{{{metadata.url}}}">
    <meta property="og:title" content="{{{metadata.title}}}" />
    <meta property="og:type" content="{{{metadata.og.type}}}" />
    <meta property="og:url" content="{{{metadata.url}}}" />
    <meta property="og:image" content="{{{metadata.image}}}" />
    <meta property="og:description" content="{{{metadata.description}}}">

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <base href="{{{metabase}}}">
    <meta name="fragment" content="!" />

    <link rel="canonical" href="{{{metadata.url}}}">
    <link rel="shortcut icon" href="<%= favicon_dir %>/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="<%= favicon_dir %>/apple-touch-icon.png" />

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <script type="text/javascript">
      var MorselConfig = {
        version: '<%= version %>',
        apiUrl: '{{{apiUrl}}}'
      };
    </script>
    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

  </head>
  <body>
    <div class="page-wrapper">
      <div id="site" ng-class="{site: true, open:menuOpen}">
        <div ui-view="main" class="main-view" ng-click="menuOpen = false"></div>
      </div>
    </div>
    {{> partials/ga}}
  </body>
</html>
