<!DOCTYPE html>
<html id="ng-app" ng-app="Morsel.login" ng-controller="LoginAppCtrl">
  <head>
    {{> headContent}}
    <!-- compiled CSS -->
    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>
    <!-- compiled JavaScript -->
    <% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>
  </head>
  <body class="login">
    <header class="login-header" ng-hide="viewOptions.hideHeader">
      <div class="container">
        <h1 class="text-hide">
          <a href="/" target="_self" class="morsel-text">Morsel</a>
        </h1>
      </div>
    </header>

    <div ui-view="main" class="main-view"></div>

    <footer class="login-footer" ng-hide="viewOptions.hideFooter">
      <div class="container">
        <div class="footer-inner">&copy; Morsel Labs, Inc. 2014</div>
      </div>
    </footer>
    {{> ga}}
  </body>
</html>