<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{{metadata.title}}}</title>
    <meta name="description" content="{{{metadata.description}}}">

    <!-- social media tags -->
    <meta name="twitter:card" content="{{{metadata.twitter.card}}}">
    <meta name="twitter:site" content="{{{metadata.twitter.site}}}">
    <meta name="twitter:title" content="{{{metadata.title}}}">
    <meta name="twitter:description" content="{{{metadata.description}}}">
    <meta name="twitter:creator" content="{{{metadata.twitter.creator}}}">
    <meta name="twitter:image:src" content="{{{metadata.image}}}">
    <meta name="twitter:url" content="{{{metadata.url}}}">
    <meta property="og:locale" content="{{metadata.og.locale}}"/>
    <meta property="og:title" content="{{{metadata.title}}}" />
    <meta property="og:type" content="{{{metadata.og.type}}}" />
    <meta property="og:url" content="{{{metadata.url}}}" />
    <meta property="og:image" content="{{{metadata.image}}}" />
    <meta property="og:description" content="{{{metadata.description}}}">
    <meta property="og:site_name" content="{{{metadata.og.site_name}}}"/>
    <meta property="fb:app_id" content="{{{metadata.fb_app_id}}}"/>

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="fragment" content="!" />

    <link rel="canonical" href="{{{metadata.url}}}">
    <link rel="shortcut icon" href="<%= favicon_dir %>/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="<%= favicon_dir %>/apple-touch-icon.png" />

    <!-- compiled CSS -->
    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>

    <script type="text/javascript">
      var MorselConfig = {
        version: '<%= version %>',
        apiUrl: '{{{apiUrl}}}'
      };
    </script>
    <!-- compiled JavaScript -->
    <% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>
    {{> partials/mixpanel}}
  </head>
  <body>
    <header class="main-header" ng-class="{'mini-header': viewOptions.miniHeader, 'full-header': !viewOptions.miniHeader}">
      <div class="container">
        <h1 class="morsel-logo">
          <a ng-click="goTo('home')">Morsel</a>
        </h1>
        <nav role="navigation">
          <ul>
            <li ng-if="!isLoggedIn">
              <a ng-click="goTo('join')" class="btn btn-primary">Sign Up</a>
            </li>
            <li ng-class="{active:$uiRoute}">
              <a ng-click="">Placeholder</a>
            </li>
            <li ng-class="{active:$uiRoute}">
              <a ng-click="">Placeholder</a>
            </li>
            <li ng-class="{active:$uiRoute}">
              <a ng-click="">Get the App</a>
            </li>
          </ul>
        </nav>
      </div>
      <a ng-click="menuOpen = !menuOpen" class="side-nav-trigger"></a>
    </header>
    <div>
    {{#staticPartial.terms}}
    {{> partials/static/terms}}
    {{/staticPartial.terms}}
    </div>
    <footer class="footer" ng-class="{hide: viewOptions.hideFooter}">
      <div class="container">
        <div class="footer-inner">
          <a ng-click="goTo('home')" class="text-hide morsel-link">Morsel</a>
          <a ng-click="goTo('join')" class="btn btn-primary" ng-if="!isLoggedIn">Sign Up</a>
          <form role="form">
            <input class="form-control" type="text" placeholder="Search chefs, dishes, ingredients" />
          </form>
          <nav role="navigation">
            <ul class="">
              <li ui-route="/add-morsel">
                <a ng-click="goTo('add-morsel')">Add Morsel</a>
              </li>
              <li ui-route="/myfeed">
                <a ng-click="goTo('myfeed')" ng-if="isLoggedIn">My Feed</a>
              </li>
              <li>
                <a ng-click="">Get The App</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
    {{> partials/ga}}
  </body>
</html>