<nav role="navigation" class="main-nav">
  <ul>
    <li>
      <a class="btn btn-primary">Sign Up</a>
    </li>
    <li>
      <a>Placeholder</a>
    </li>
    <li>
      <a>Placeholder</a>
    </li>
    <li>
      <a>Get the App</a>
    </li>
    <li>
      <a class="side-nav-trigger">Menu</a>
    </li>
  </ul>
</nav>