.add-morsel {
  padding-top: $mini-header-height;

  .container {
    padding-top: 15px;
  }

  .add-morsel-info {
    border-right: 1px solid $morsel-light;

    p {
      font-size: 16px;

      span {
        font-weight: normal;
        font-family: $font-family-base;

        &.no-title {
          color: $morsel-medium;
          font-style: italic;
        }
      }
    }

    .add-morsel-info-wrap {
      padding: 20px;
    }

    .add-morsel-actions {

    }
  }

  .add-morsel-items {
    .empty-state {
      margin: 50px 0;
    }

    ul {
      margin: 0;
    }

    .add-morsel-items-wrap {
    }

    .add-morsel-item {
      border-bottom: 1px solid $morsel-light;
      list-style: none;
      padding: 10px;
      overflow: hidden;

      &:last-child {
        border: none;
      }

      .item-photo {
        float: left;
        margin-right: 15px;
        position: relative;

        img {
          width: 100px;
          height: 100px;
          border: 1px solid $morsel-light;
        }

        &:hover {
          cursor: pointer;
        }

        &.uploading {
          .loader {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255,255,255,.7);
            z-index: 10;
          }

          &:hover {
            cursor: wait;
          }
        }
      }

      .item-description {
        .no-description {
          color: $morsel-medium;
          font-style: italic;
        }
      }
      textarea {
        height: 100px;
      }
    }
  }
}

.add-item-photo-preview {
  text-align: center;

  .modal-dialog {
    max-height: 90%;
    display: inline-block;
    width: auto;
  }

  .modal-content {
    background-color: $morsel-background-dark;
    display: inline-block;
  }

  .modal-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: none;
    z-index: 2;
    text-align: left;

    &:after {
      display: none;
    }
  }
  .modal-body {
    padding: 0;
    min-width: 300px;
    min-height: 300px;
    height: auto;

    img {
      max-height: 100%;
    }

    .image-upload {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.7);

      .image-upload-select {
        padding: 60px 20px 20px;
      }

      .btn-block {
        margin-bottom: 30px;
      }

      .drop-box {
        border: 3px dashed $morsel-primary-light;
        background-color: rgba(255,255,255,.3);
        padding: 20% 0;
        color: white;

        &.dragover {
          border-color: $morsel-primary;
        }
      }

      .image-upload-preview-img {
        position: absolute;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        &:after {
          content: ' ';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: white;
          @include opacity(.5);
          z-index: 3;
        }
      }

      .image-upload-progress {
        z-index: 5;
        position: absolute;
        top: 50%;
        margin-top: -10px;
        width: 90%;
        left: 5%;
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .add-morsel {
    background-color: $morsel-background-dark;
    background-image: url(images/bg/morsel-detail-noise.png);
  }
}