.add-morsel {
  padding-top: $mini-header-height;

  .container {
    padding-top: 15px;
  }

  .add-morsel-info {
    border-right: 1px solid $morsel-light;

    p {
      font-size: 16px;

      span {
        font-weight: normal;
        font-family: $font-family-base;

        &.no-title {
          color: $morsel-medium;
          font-style: italic;
        }
      }
    }

    .add-morsel-info-wrap {
      padding: 20px;
    }

    .add-morsel-actions {

    }
  }

  .add-morsel-items {
    .empty-state {
      margin: 50px 0;
    }

    ul {
      margin: 0;
    }

    .add-morsel-items-wrap {
    }

    .add-morsel-item {
      border-bottom: 1px solid $morsel-light;
      list-style: none;
      padding: 10px;
      overflow: hidden;

      &:last-child {
        border: none;
      }

      .item-photo {
        width: 100px;
        height: 100px;
        float: left;
        margin-right: 15px;

        &:hover {
          cursor: pointer;
        }
      }

      .item-description {
        .no-description {
          color: $morsel-medium;
          font-style: italic;
        }
      }
      textarea {
        height: 100px;
      }
    }
  }
}

.add-item-photo-preview {
  text-align: center;

  .modal-dialog {
    height: 90%;
    display: inline-block;
    width: auto;
  }

  .modal-content {
    background-color: black;
    display: inline-block;
  }

  .modal-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: none;
    z-index: 2;
    text-align: left;

    &:after {
      display: none;
    }
  }
  .modal-body {
    padding: 0;

    img {
      max-height: 100%;
    }
  }
}