<div class="item-photo" ng-class="{'uploading':item.uploading}" title="{{item.uploading ? 'Your photo is still uploading':'Click to see your photo full-size'}}">
  <ng-form name="itemPhotoForm">
    <div class="item-photo-wrap" ng-click="openItemPhotoOverlay()">
      <div class="loader" ng-show="item.uploading"></div>
      <img ng-src="{{findItemThumbnail(item)}}" />
      <span ng-if="primaryId == item.id" class="banner banner-cover" title="This photo is the cover photo - use the app to change which photo is used as the cover photo">Cover</span>
    </div>
    <input name="itemHiddenPhoto" class="hidden" ng-model="fake">
  </ng-form>
</div>