<div class="add-morsel header-padding" ng-style="viewOptions.minimumMainHeight()">
  <div class="container container-shadow morsel-bg">
    <div class="template-help" ng-show="morselDataLoaded && !morselDeleted && !morselEditForm.$error.loading" mrsl-add-template="morselTemplate" mrsl-add-template-help="true"></div>
    <form name="morselEditForm" ng-submit="popSummaryOverlay()" novalidate>
      <div ng-show="alertMessage" class="alert alert-{{alertType}}">
        <p ng-bind-html="alertMessage"></p>
      </div>
      <div mrsl-base-errors mrsl-val-form="morselEditForm"></div>
      <div ng-if="(!morselDeleted && (!morselDataLoaded || deletingMorsel))" class="loader"></div>
      <div ng-if="morselEditForm.$error.loading" class="publishing-state">
        <p class="empty-state">Your morsel is publishing...</p>
        <div class="loader"></div>
      </div>
      <div ng-if="!morselDeleted && (morselDataLoaded && !deletingMorsel) && !morselEditForm.$error.loading" class="row" bindonce="morsel">
        <div class="col-sm-5">
          <div class="add-morsel-info form-horizontal">
            <div class="add-morsel-info-wrap">
              <h2 bo-text="morsel.draft ? 'Morsel Add' : 'Morsel Edit'"></h2>
              <div mrsl-edit-morsel-title="morsel" mrsl-edit-morsel-title-template="morselTemplate"></div>
              <div edit-video-morsel="morsel"></div>
              <div mrsl-edit-morsel-summary="morsel" ng-if="!morsel.draft"></div>
              <div class="form-group" ng-if="places.placeOptions">
                <label class="control-label col-sm-3">Location:</label>
                <div class="col-sm-9">
                  <select ng-model="places.selectedPlace" ng-options="place.name + ' - ' + place.city + ', ' + place.state for place in places.placeOptions | orderBy:'name'" name="morselPlace" class="form-control" ng-disabled="morselEditForm.morselPlace.$invalid">
                    <option value="">None/Personal</option>
                  </select>
                  <div mrsl-add-place="places.placeOptions"></div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3">Tagged Users:</label>
                <div class="col-sm-9">
                  <div mrsl-tag-users="morsel"></div>
                </div>
              </div>
              <div class="add-morsel-social form-group">
                <label class="control-label col-sm-3">Social Sharing:</label>
                <div class="col-sm-9">
                  <div class="checkbox" ng-class="{disabled:!social.canPublish.facebook}">
                    <label>
                      <input type="checkbox" value="" name="socialFacebook" ng-model="social.model.facebook" ng-disabled="!social.canPublish.facebook">
                      <i class="common-facebook"></i>
                      Post to Facebook
                    </label>
                    <p class="help-block">You haven't given Morsel permission to post to Facebook. <btn ng-click="addFacebook()" class="btn-link">Click here</btn> to give permission.</p>
                  </div>
                  <div class="checkbox" ng-class="{disabled:!social.canPublish.twitter}">
                    <label>
                      <input type="checkbox" value="" name="socialTwitter" ng-model="social.model.twitter" ng-disabled="!social.canPublish.twitter">
                      <i class="common-twitter"></i>
                      Post to Twitter
                    </label>
                    <p class="help-block">You haven't given Morsel permission to post to Twitter. Please go to your <a href="/account/social-accounts" target="_self">Social Accounts Settings</a> to give permission.</p>
                  </div>
                </div>
              </div>
              <div class="add-morsel-actions">
                <button type="button" class="btn btn-danger pull-left" ng-click="deleteMorsel()" name="deleteMorsel" ng-model="fake">Delete Morsel</button>
                <a bo-href="'/'+morsel.creator.username.toLowerCase()+'/'+morsel.id+'-'+morsel.slug" class="btn btn-info" target="_blank" bo-text="morsel.draft ? 'Preview':'Go to morsel'"></a>
                <button mrsl-submit-btn mrsl-submit-btn-form="morselEditForm" mrsl-submit-btn-copy="Next" mrsl-submit-btn-tooltip-placement="bottom" mrsl-submit-btn-custom-messages="customPublishTooltips" mrsl-submit-btn-submit-copy="Publishing..." ng-if="morsel.draft && morselDataLoaded"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-7 items-wrap">
          <div id="item-reorder">
            <ul class="add-morsel-items" data-sortable="itemOrderListeners" data-ng-model="morsel.items">
              <li class="add-morsel-item" ng-if="morsel.items" ng-repeat="item in morsel.items" data-sortable-item>
                <div data-sortable-item-handle title="Drag to reorder your items" ng-hide="updatingOrder || morsel.items.length === 1"></div>
                <div mrsl-edit-item="item" mrsl-edit-item-morsel="morsel"></div>
              </li>
              <li ng-if="!morsel.items || morsel.items.length === 0">
                <p class="empty-state">This morsel doesn't have any items</p>
              </li>
            </ul>
            <div ng-class="{'loader': addingItem}" class="text-center">
              <button type="button" class="btn-link add-item-btn" ng-click="addItem()" ng-hide="addingItem"><span>&#43;</span> Add item</button>
            </div>
            <input name="itemReorderHidden" class="hidden" ng-model="fake">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
