<li ng-repeat="post in posts" class="post">
  <h3 class="post-title">title: {{post.title}}</h3>
  <a href="#/users/{{post.creator.id}}" class="profile-pic-link">
    <img ng-src="{{post.creator.photo_url}}" class="img-circle profile-pic" />
  </a>
  <carousel interval="none" class="morsels">
    <slide ng-repeat="morsel in post.morsels" active="slide.active" class="morsel">
      <!--<a ng-href="#/users/{{post.creator.id}}/post/{{post.id}}">-->
      <p class="morsel-description">{{morsel.description}}</p>
      <span class="like-morsel">user {{isExists(morsel.liked) && 'has' || 'hasnt'}} liked this</span>
      <img ng-src="{{morsel.photo_url}}" />
      <!--</a>-->
    </li>
  </carousel>
</li>