@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
/*
These are styles related to the styleguide implementation of Morsel. any actual styles should be updated in /src/sass
*/
/* line 8, style.scss */
body {
  margin: 0;
}
/* line 11, style.scss */
body > .container {
  background-color: white;
  width: auto;
}

/* line 18, style.scss */
.font-primary {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
/* line 21, style.scss */
.font-primary:after {
  content: '"Roboto", Helvetica, Arial, sans-serif';
}
/* line 26, style.scss */
.font-primary.italic:after {
  font-style: italic;
}
/* line 32, style.scss */
.font-primary.light:after {
  font-weight: 300;
}

/* line 38, style.scss */
.font-secondary {
  font-family: "Roboto Slab", "Helvetica Neue Light", "Helvetica Neue", "Arial", sans-serif;
}
/* line 41, style.scss */
.font-secondary:after {
  content: '"Roboto Slab", "Helvetica Neue Light", "Helvetica Neue", "Arial", sans-serif';
}
/* line 46, style.scss */
.font-secondary.italic:after {
  font-style: italic;
}
/* line 52, style.scss */
.font-secondary.bold:after {
  font-weight: 700;
}

/* line 62, style.scss */
.sg-colors li {
  margin: 0 1.2em 0.2em 0;
  width: 8em;
}
/* line 68, style.scss */
.sg-colors li.morsel-primary .sg-swatch {
  background-color: #e96144;
}
/* line 72, style.scss */
.sg-colors li.morsel-primary .sg-label:after {
  content: "morsel-primary: #e96144";
  display: inline-block;
}
/* line 68, style.scss */
.sg-colors li.morsel-primary-light .sg-swatch {
  background-color: #ee8872;
}
/* line 72, style.scss */
.sg-colors li.morsel-primary-light .sg-label:after {
  content: "morsel-primary-light: #ee8872";
  display: inline-block;
}
/* line 68, style.scss */
.sg-colors li.morsel-primary-dark .sg-swatch {
  background-color: #87392b;
}
/* line 72, style.scss */
.sg-colors li.morsel-primary-dark .sg-label:after {
  content: "morsel-primary-dark: #87392b";
  display: inline-block;
}
/* line 68, style.scss */
.sg-colors li.morsel-primary-bright .sg-swatch {
  background-color: #d62600;
}
/* line 72, style.scss */
.sg-colors li.morsel-primary-bright .sg-label:after {
  content: "morsel-primary-bright: #d62600";
  display: inline-block;
}
/* line 68, style.scss */
.sg-colors li.morsel-secondary .sg-swatch {
  background-color: #51ba3d;
}
/* line 72, style.scss */
.sg-colors li.morsel-secondary .sg-label:after {
  content: "morsel-secondary: #51ba3d";
  display: inline-block;
}
/* line 68, style.scss */
.sg-colors li.morsel-secondary-bright .sg-swatch {
  background-color: #31961c;
}
/* line 72, style.scss */
.sg-colors li.morsel-secondary-bright .sg-label:after {
  content: "morsel-secondary-bright: #31961c";
  display: inline-block;
}
/* line 68, style.scss */
.sg-colors li.morsel-tertiary .sg-swatch {
  background-color: #f0cf69;
}
/* line 72, style.scss */
.sg-colors li.morsel-tertiary .sg-label:after {
  content: "morsel-tertiary: #f0cf69";
  display: inline-block;
}
/* line 68, style.scss */
.sg-colors li.morsel-background .sg-swatch {
  background-color: white;
}
/* line 72, style.scss */
.sg-colors li.morsel-background .sg-label:after {
  content: "morsel-background: white";
  display: inline-block;
}
/* line 68, style.scss */
.sg-colors li.morsel-light .sg-swatch {
  background-color: #e2ddd7;
}
/* line 72, style.scss */
.sg-colors li.morsel-light .sg-label:after {
  content: "morsel-light: #e2ddd7";
  display: inline-block;
}
/* line 68, style.scss */
.sg-colors li.morsel-medium .sg-swatch {
  background-color: #93a491;
}
/* line 72, style.scss */
.sg-colors li.morsel-medium .sg-label:after {
  content: "morsel-medium: #93a491";
  display: inline-block;
}
/* line 68, style.scss */
.sg-colors li.morsel-dark .sg-swatch {
  background-color: #394038;
}
/* line 72, style.scss */
.sg-colors li.morsel-dark .sg-label:after {
  content: "morsel-dark: #394038";
  display: inline-block;
}
/* line 68, style.scss */
.sg-colors li.morsel-light-off .sg-swatch {
  background-color: #f3f1ef;
}
/* line 72, style.scss */
.sg-colors li.morsel-light-off .sg-label:after {
  content: "morsel-light-off: #f3f1ef";
  display: inline-block;
}
/* line 68, style.scss */
.sg-colors li.morsel-lightest .sg-swatch {
  background-color: #fbfbfa;
}
/* line 72, style.scss */
.sg-colors li.morsel-lightest .sg-label:after {
  content: "morsel-lightest: #fbfbfa";
  display: inline-block;
}
/* line 68, style.scss */
.sg-colors li.morsel-off-white .sg-swatch {
  background-color: #f9f7f7;
}
/* line 72, style.scss */
.sg-colors li.morsel-off-white .sg-label:after {
  content: "morsel-off-white: #f9f7f7";
  display: inline-block;
}
/* line 79, style.scss */
.sg-colors li:before {
  display: none;
}
/* line 84, style.scss */
.sg-colors .sg-colors-sub {
  border: 0;
  padding: 0;
  display: block;
}
/* line 89, style.scss */
.sg-colors .sg-colors-sub .sg-colors {
  margin: 0;
}

/* line 95, style.scss */
header {
  margin-bottom: 50px;
}

/* line 100, style.scss */
.morsel-comments {
  position: relative !important;
}
