/*
These are styles related to the styleguide implementation of Morsel. any actual styles should be updated in /src/sass
*/

@import "../../../src/sass/_variables.scss";

//make our body color different so we can differentiate the style guide
body {
  margin: 0;

  > .container {
    background-color: white;
    width: auto;
  }
}

//text
.font-primary {
  font-family: $font-family-base;

  &:after {
    content: '#{$font-family-base}';
  }

  &.italic {
    &:after {
      font-style: italic;
    }
  }

  &.light {
    &:after {
      font-weight: 300;
    }
  }
}

.font-secondary {
  font-family: $font-family-secondary;

  &:after {
    content: '#{$font-family-secondary}';
  }

  &.italic {
    &:after {
      font-style: italic;
    }
  }

  &.bold {
    &:after {
      font-weight: 700;
    }
  }
}

//styleguide style

//color swatches
.sg-colors {
  li {
    margin: 0 1.2em 0.2em 0;
    width: 8em;

    @each $color in $colorPalette {
      &.#{nth($color, 1)} {
        .sg-swatch {
          background-color: nth($color, 2);
        }
        
        .sg-label:after {
          content: '#{nth($color, 1)}: #{nth($color, 2)}';
          display: inline-block;
        }
      }
    }

    &:before {
      display: none;
    }
  }

  .sg-colors-sub {
    border: 0;
    padding: 0;
    display: block;

    .sg-colors {
      margin: 0;
    }
  }
}

header {
  //so our overflowing logo still shows
  margin-bottom: 50px;
}

.morsel-comments {
  position: relative !important;
}