<form name="form" method="post" ng-submit="join()" novalidate>
  <div ng-repeat="(inputName, inputErrors) in serverErrors">
    <p ng-repeat="inputError in inputErrors">{{inputName}} {{inputError}}</p>
  </div>

  <label for="first-name">First Name</label>
  <input type="text" name="first_name" id="first-name" placeholder="John" ng-model="first_name" autofocus />

  <label for="last-name">Last Name</label>
  <input type="text" name="last_name" id="last-name" placeholder="Smith" ng-model="last_name" />

  <label for="title">Title</label>
  <input type="text" name="title" id="title" placeholder="Executive Chef at McDonalds" ng-model="title" />

    <label for="username">Username</label>
  <input type="text" name="username" id="username" placeholder="slimychef923" ng-model="username" />

  <label for="email">Email</label>
  <input type="email" ng-model="email" name="email" id="email" placeholder="Email" required />
  <span ng-show="form.email.$dirty && form.email.$error.email">Email is invalid</span>

  <label for="password">Password</label>
  <input type="password" name="password" id="password" ng-model="password" required match="verification" />
  <span ng-show="form.password.$dirty && form.password.$error.required">Please enter a password</span>

  <label for="verification">Repeat password</label>
  <input type="password" name="verification" id="verification" ng-model="verification" required match="password" />
  <span ng-show="form.verification.$dirty && form.verification.$error.required">Please repeat your password</span>
  <span ng-show="form.verification.$dirty && form.verification.$error.match && !form.verification.$error.required">Passwords don't match</span>

  <label for="bio">Bio</label>
  <textarea ng-model="bio" name="bio" id="bio" placeholder="Tell us a little about yourself"></textarea>

  <label for="photo">Photo</label>
  <input type="file" id="photo" ng-file-select="onFileSelect($files)">

  <input type="submit" value="Sign up" ng-disabled="form.$invalid"  />
</form>

<div class="upload-div">
  <div ng-show="dropSupported" class="drop-box" ng-file-drop="onFileSelect($files);" ng-file-drop-available="dropSupported=true" style="height:200px;width:200px;background-color:gray">or drop files here</div>
  <div ng-show="!dropSupported">HTML5 Drop File is not supported on this browser</div>

  <div ng-show="selectedFile != null">
    <div class="sel-file" >
      <img ng-show="dataUrl" ng-src="{{dataUrl}}">
    </div>
  </div>
</div>