<div class="container morsel-bg container-shadow container-max-xs">
  <form name="joinForm" method="post" ng-submit="join()" class="padded-form" novalidate>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <div class="avatar-add img-circle" tooltip-placement="bottom" tooltip="Click to select or drag and drop a photo here" tooltip-trigger="{{{true:'mouseenter', false:'never'}[dropSupported]}}">
            <div ng-show="dropSupported" class="drop-box " ng-file-drop="onFileSelect($files);" ng-file-drop-available="dropSupported=true"></div>
            <span class="h1 plus-sign">+</span>
            <input type="file" id="photo" ng-file-select="onFileSelect($files)">
            <div ng-show="selectedFile != null" class="avatar-preview" >
              <img class="img-circle" ng-show="dataUrl" ng-src="{{dataUrl}}">
            </div>
          </div>
          <label class="control-label center-block text-center" for="photo">Profile Photo</label>
        </div>
      </div>
      <div class="col-md-7">
        <div ng-repeat="(inputName, inputErrors) in serverErrors">
          <p ng-repeat="inputError in inputErrors">{{inputName}} {{inputError}}</p>
        </div>
        <div class="form-group">
          <label class="control-label" for="first-name">First Name</label>
          <input class="form-control" type="text" id="first-name" placeholder="John" ng-model="first_name" autofocus />
        </div>
        <div class="form-group">
          <label class="control-label" for="last-name">Last Name</label>
          <input class="form-control" type="text" id="last-name" placeholder="Smith" ng-model="last_name" />
        </div>
        <div class="form-group">
          <label class="control-label" for="title">Title</label>
          <input class="form-control" type="text" id="title" placeholder="Executive Chef at John's Grill" ng-model="title" />
        </div>
        <div class="form-group" >
          <label class="control-label required" for="username">Username</label>
          <input class="form-control" type="text" id="username" placeholder="johnnyboy" ng-model="username" name="username" required />
        </div>
        <div class="form-group">
          <label class="control-label required" for="email">Email</label>
          <input class="form-control" type="email" ng-model="email" id="email" placeholder="johnsmith@example.com" name="email" required />
        </div>
        <div class="form-group">
          <label class="control-label required" for="password">Password</label>
          <input class="form-control" type="password" id="password" ng-model="password" required match="verification" name="password" />
        </div>
        <div class="form-group">
          <label class="control-label required" for="verification">Repeat password</label>
          <input class="form-control" type="password" id="verification" ng-model="verification" required match="password" name="verification" />
        </div>
        <div class="form-group">
          <label class="control-label" for="bio">Bio</label>
          <textarea class="form-control" ng-model="bio" id="bio" placeholder="Tell us a little about yourself"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="joinForm.$invalid">Sign Up</button>
      </div>
    </div>
  </form>
</div>