<div class="immersive">
  <div ng-class="{'in-morsel': immersiveState.inMorsel, 'on-share': immersiveState.onShare}">
    <header class="immersive-header user-info">
      <div class="morsel-container">
        <a ng-click="goHome()" class="morsel-logo"><i>Morsel</i><span>Claim Your Username</span></a>
      </div>
    </header>
    <div class="morsel current-morsel">
      <div mrsl-morsel-swipe="{{morsel.items.length > 0}}" mrsl-morsel-swipe-count="{{morsel.items.length}}" ng-style="{'height': immersiveHeight}">
        <div class="morsel-title">
          <div class="morsel-container">
            <h1>{{morsel.title}}</h1>
          </div>
        </div>
        <div mrsl-item-indicators mrsl-index="currentIndicatorIndex" mrsl-count="itemCount"></div>
        <ul class="items">
          <li class="cover-page extra-page" ng-style="{'height': immersiveHeight}">
            <div class="morsel-container">
              <div ng-if="morsel.items" class="cover-photo-wrap" mrsl-responsive-images="{{getCoverPhotoArray(morsel)}}" mrsl-ri-image-type="background"></div>
              <div class="cover-title-wrap">
                <h2 class="cover-title">{{morsel.title}}</h2>
              </div>
              <div class="cover-info">
                <div class="user-info">
                  <div mrsl-user-image mrsl-username="owner.username" mrsl-user-photos="owner.photos" mrsl-user-image-size="profile-pic-xs"></div>
                  <h5 class="h2 overflow-ellipsis">{{owner.first_name + ' ' + owner.last_name}}</h5>
                </div>
                <div mrsl-item-thumbnails mrsl-index="currentIndicatorIndex" mrsl-morsel="morsel"></div>
                <div class="cover-actions">
                  <span am-time-ago="morsel.created_at" class="time-ago"></span>
                  <a ng-click="currentIndicatorIndex = morsel.items.length+1"><i class="common-share"></i></a>
                </div>
              </div>
              <div class="cover-browse">
                <span>Scroll</span>
                <i class="glyphicon glyphicon-circle-arrow-down"></i>
              </div>
            </div>
          </li>
          <li ng-repeat="item in morsel.items" class="item" ng-class="{'full-photo': fullPhoto}" ng-style="{'height': immersiveHeight}">
            <div class="morsel-container">
              <div class="item-photo-wrap">
                <img class="item-img" mrsl-responsive-images="{{getItemPhotoArray(item)}}" />
              </div>
              <div class="item-info">
                <div class="user-info">
                  <div mrsl-user-image mrsl-username="owner.username" mrsl-user-photos="owner.photos" mrsl-user-image-size="profile-pic-xs"></div>
                  <h5 class="h2 overflow-ellipsis">{{owner.first_name + ' ' + owner.last_name}}</h5>
                </div>
                <div mrsl-item-action-bar mrsl-item="item" mrsl-index="$parent.currentIndicatorIndex" mrsl-items="morsel.items"></div>
                <p mrsl-text-limit class="item-description" mrsl-char-limit="200" mrsl-text-content="item.description"></p>
                <div mrsl-social-sharing="morsel"></div>
              </div>
            </div>
          </li>
          <li class="share-page extra-page" ng-style="{'height': immersiveHeight}">
            <div class="morsel-container">
              <div ng-if="morsel.items" class="cover-photo-wrap" mrsl-responsive-images="{{getCoverPhotoArray(morsel)}}" mrsl-ri-image-type="background"></div>
              <div class="cover-title-wrap">
                <h2 class="cover-title">{{morsel.title}}</h2>
              </div>
              <h5 class="share-this-morsel h2">Share this morsel:</h5>
              <div mrsl-social-sharing="morsel" mrsl-social-full="true"></div>
              <hr />
              <div class="user-info">
                <div mrsl-user-image mrsl-username="owner.username" mrsl-user-photos="owner.photos" mrsl-user-image-size="profile-pic-m"></div>
                <h4 class="h3">{{owner.first_name + ' ' + owner.last_name}}</h4>
                <h5>{{owner.title}}</h5>
                <p>{{owner.bio}}</p>
              </header>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <footer class="immersive-footer user-info">
      <div mrsl-user-image mrsl-username="owner.username" mrsl-user-photos="owner.photos" mrsl-user-image-size="profile-pic-xs"></div>
      <h2 class="overflow-ellipsis">{{owner.first_name + ' ' + owner.last_name}}</h2>
    </footer>
  </div>
</div>