<div class="container search-page header-padding">
  <h2 class="text-center col-sm-9 col-sm-offset-3">Explore</h2>
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group search-menu container-shadow">
        <a href="/explore/morsels" class="list-group-item h6" ui-route="/explore/morsels" ng-class="{active:$uiRoute}">Morsels</a>
        <a href="/explore/users" class="list-group-item h6" ui-route="/explore/users" ng-class="{active:$uiRoute}">Users</a>
      </div>
      <div ng-if="!search.hideSuggestedUsers" mrsl-suggested-users="search.suggestedUsers"></div>
    </div>
    <div class="col-sm-9">
      <div class="search-main container-shadow container-round morsel-bg">
        <div ng-if="search.alertMessage" class="alert alert-{{search.alertType}}">
          <p ng-bind="search.alertMessage"></p>
        </div>
        <input type="text" ng-attr-placeholder="{{search.searchPlaceholder}}" class="form-control" ng-model="search.query" ng-change="search.customSearch()" ng-focus="search.customFocus()" />
        <div ui-view="explore-results"></div>
      </div>
    </div>
  </div>
</div>