<div class="dark-bg explore">
  <div class="container morsel-bg container-shadow container-no-padding morsel-grid-container" ng-style="viewOptions.minimumMainHeight()">
    <ul class="clearfix morsel-grid">
      <li bindonce ng-repeat="feedItem in feedItems" class="morsel-grid-item">
        <a bo-href="'/'+feedItem.subject.creator.username.toLowerCase()+'/'+feedItem.subject.id+'-'+feedItem.subject.slug" class="centered centered-white" ng-if="feedItem.subject">
          <div class="centered-wrap">
            <span class="centered-text">{{feedItem.subject.title}}</span>
          </div>
          <img mrsl-responsive-images="{{getCoverPhotoArray(feedItem.subject)}}" />
        </a>
      </li>
    </ul>
    <div ng-if="!feedItems" class="loader"></div>
    <div mrsl-view-more mrsl-view-more-func="getExploreFeed" mrsl-view-more-data="feedItems" mrsl-view-more-inc="exploreIncrement" mrsl-view-more-copy="View more morsels" mrsl-view-more-order="last"></div>
    <div ng-if="feedItems && feedItems.length === 0" class="empty-state">
      <p>No morsels</p>
    </div>
  </div>
</div>