<header class="main-header">
  <h1 class="morsel-logo">
    {{#if pageType.public}}
    <a href="/" class="morsel-icon">Morsel</a>
    {{else}}
    <a href="/" target="_self" class="morsel-icon">Morsel</a>
    {{/if}}
  </h1>
  <nav>
    <ul>
      <li>
        {{#if pageType.public}}
        <a href="/explore">Explore</a>
        {{else}}
        <a href="/explore" target="_self">Explore</a>
        {{/if}}
      </li>
      <li>
        {{#if pageType.static}}
        <a href="/apps">Get the App</a>
        {{else}}
        <a href="/apps" target="_self">Get the App</a>
        {{/if}}
      </li>
      <li ng-if="!isLoggedIn">
        <a href="/join" target="_self" class="btn btn-default">Sign Up</a>
      </li>
      <li>
        <a ng-click="toggleMenu()">Menu <i class="common-burger"></i></a>
      </li>
    </ul>
  </nav>
</header>