<header class="main-header" ng-class="{'mini-header': viewOptions.miniHeader, 'full-header': !viewOptions.miniHeader, 'full-width-header': viewOptions.fullWidthHeader}">
  <div class="container">
    <h1 class="morsel-logo" ng-class="{'hide-logo':viewOptions.hideLogo}">
      {{#if pageType.public}}
      <a href="/">Morsel</a>
      {{else}}
      <a href="/" target="_self">Morsel</a>
      {{/if}}
    </h1>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/join" ng-if="!isLoggedIn" target="_self">
          <span class="common-signup text-hide">Sign Up</span>
        </a>
      </li>
      <li>
        <a ng-click="toggleMenu()" class="hidden-xs"><span class="common-menu text-hide">Menu</span></a>
        <a ng-click="toggleMenu()" class="visible-xs-inline-block"><span class="common-burger text-hide">Menu</span></a>
      </li>
    </ul>
  </nav>
</header>