<header class="main-header" ng-class="{'mini-header': viewOptions.miniHeader, 'full-header': !viewOptions.miniHeader, 'full-width-header': viewOptions.fullWidthHeader}">
  <div class="container">
    <h1 class="morsel-logo">
      {{#pageType.public}}
      <a href="/">Morsel</a>
      {{/pageType.public}}
      {{#pageType.account}}
      <a href="/" target="_self">Morsel</a>
      {{/pageType.account}}
      {{#pageType.static}}
      <a href="/" target="_self">Morsel</a>
      {{/pageType.static}}
    </h1>
  </div>
  <a ng-click="menuOpen = !menuOpen" class="side-nav-trigger"></a>
</header>