<div class="page-wrapper">
  {{> sidenav}}

  <div id="site" ng-class="{site: true, open:menuOpen}">
    {{> header}}

    <div ui-view="main" class="main-view" ng-click="menuOpen = false">
      {{#staticPartial.about}}
      {{> static/about}}
      {{/staticPartial.about}}
      {{#staticPartial.press}}
      {{> static/press}}
      {{/staticPartial.press}}
      {{#staticPartial.privacy}}
      {{> static/privacy}}
      {{/staticPartial.privacy}}
      {{#staticPartial.terms}}
      {{> static/terms}}
      {{/staticPartial.terms}}
    </div>
  </div>
</div>