<div class="page-wrapper">
  {{> header}}
  <div class="site">
    <div ui-view="main" class="main-view">
      {{#staticPartial.about}}
      {{> static/about}}
      {{/staticPartial.about}}
      {{#staticPartial.apps}}
      {{> static/apps}}
      {{/staticPartial.apps}}
      {{#staticPartial.press}}
      {{> static/press}}
      {{/staticPartial.press}}
      {{#staticPartial.privacy}}
      {{> static/privacy}}
      {{/staticPartial.privacy}}
      {{#staticPartial.terms}}
      {{> static/terms}}
      {{/staticPartial.terms}}
    </div>
  </div>
  {{> footer}}
</div>