<div class="shadow-user" ng-if="shadowUser">
  <h5 class="overflow-ellipsis"><a href="/logout" target="_self" class="btn btn-default hidden-xs">Log Out</a><a href="/logout" target="_self" class="btn btn-default btn-xs visible-xs-inline-block">Log Out</a>You are logged in as <span ng-bind="currentUser.first_name + ' ' +currentUser.last_name"></span>.</h5>
</div>