<nav class="side-nav" ng-class="{open:menuOpen}" role="navigation" ng-style="viewOptions.minimumMainHeight()">
  <a ng-if="isLoggedIn" ng-click="goToProfile()" class="profile-link">
    <div mrsl-user-image mrsl-username="currentUser.username" mrsl-user-photos="currentUser.photos"  mrsl-no-link="true" mrsl-user-image-size="profile-pic-xs"></div>
    <h5 ng-bind="currentUser.first_name + ' ' + currentUser.last_name"></h5>
  </a>
  <div class="prompt-btns" ng-if="!isLoggedIn">
    <a href="/join" target="_self">Sign Up</a>
    <a href="/login"  target="_self">Login</a>
  </div>
  <ul>
    <li ui-route="/feed" ng-class="{active:$uiRoute}">
      {{#pageType.public}}
      <a href="/feed" ng-click="menuGoTo('feed')"><i class="common-feed"></i>Feed</a>
      {{/pageType.public}}
      {{#pageType.account}}
      <a href="/feed" target="_self"><i class="common-feed"></i>Feed</a>
      {{/pageType.account}}
      {{#pageType.static}}
      <a href="/feed" target="_self"><i class="common-feed"></i>Feed</a>
      {{/pageType.static}}
    </li>
    <li ui-route="/search/[\w\/\-]*" ng-class="{active:$uiRoute}">
      {{#pageType.public}}
      <a href="/search/people" ng-click="menuGoTo('search/people')"><i class="common-find-people"></i>Find people</a>
      {{/pageType.public}}
      {{#pageType.account}}
      <a href="/search/people" target="_self"><i class="common-find-people"></i>Find people</a>
      {{/pageType.account}}
      {{#pageType.static}}
      <a href="/search/people" target="_self"><i class="common-find-people"></i>Find people</a>
      {{/pageType.static}}
    </li>
    <li ui-route="/activity" ng-class="{active:$uiRoute}" ng-if="isLoggedIn">
      {{#pageType.public}}
      <a href="/activity" ng-click="menuGoTo('activity')"><i class="common-activity"></i>Activity</a>
      {{/pageType.public}}
      {{#pageType.account}}
      <a href="/activity" ng-click="menuGoTo('activity')" target="_self"><i class="common-activity"></i>Activity</a>
      {{/pageType.account}}
      {{#pageType.static}}
      <a href="/activity" ng-click="menuGoTo('activity')" target="_self"><i class="common-activity"></i>Activity</a>
      {{/pageType.static}}
    </li>
    <li ui-route="/account/[\w\/\-]*" ng-class="{active:$uiRoute}" ng-if="isLoggedIn">
      {{#pageType.public}}
      <a href="/account/edit-profile" target="_self"><i class="common-gear"></i>Settings</a>
      {{/pageType.public}}
      {{#pageType.account}}
      <a href="/account/edit-profile" ng-click="menuGoTo('account/edit-profile')"><i class="common-gear"></i>Settings</a>
      {{/pageType.account}}
      {{#pageType.static}}
      <a href="/account/edit-profile" target="_self"><i class="common-gear"></i>Settings</a>
      {{/pageType.static}}
    </li>
  </ul>
  <ul>
    <li ng-class="{active : currentRoute === '/about'}">
      <a href="/about" target="_self">About Morsel</a>
    </li>
    <li ng-class="{active : currentRoute === '/press'}">
      <a href="/press" target="_self">Press &amp; Media</a>
    </li>
    <li ui-route="/contact" ng-class="{active:$uiRoute}">
      {{#pageType.public}}
      <a href="/contact" ng-click="menuGoTo('contact')">Contact Us</a>
      {{/pageType.public}}
      {{#pageType.account}}
      <a href="/contact" target="_self">Contact Us</a>
      {{/pageType.account}}
      {{#pageType.static}}
      <a href="/contact" target="_self">Contact Us</a>
      {{/pageType.static}}
    </li>
    <li ng-class="{active : currentRoute === '/apps'}">
      <a href="/apps" target="_self">Get the App</a>
    </li>
    <li>
      <a href="http://insights.eatmorsel.com" target="_blank">Insights Blog</a>
    </li>
    <li ng-class="{active : currentRoute === '/terms'}">
      <a href="/terms" target="_self">Terms of Use</a>
    </li>
    <li ng-class="{active : currentRoute === '/privacy'}">
      <a href="/privacy" target="_self">Privacy Policy</a>
    </li>
    <li ng-if="isLoggedIn">
      <a href="/logout" target="_self">Logout</a>
    </li>
  </ul>
  <div class="morsel-social-links">
    <a href="https://facebook.com/eatmorsel" target="_blank"><i class="common-facebook"></i></a>
    <a href="https://twitter.com/eatmorsel" target="_blank"><i class="common-twitter"></i></a>
  </div>
  <p class="menu-copyright">&copy; Morsel Labs, Inc. 2014</p>
</nav>