<form name="form" method="post" ng-submit="submit()" novalidate>
  <div ng-repeat="(inputName, inputErrors) in serverErrors">
    <p ng-repeat="inputError in inputErrors">{{inputName}} {{inputError}}</p>
  </div>

  <label for="description">Description</label>
  <input type="text" id="description" placeholder="This is a description of my morsel" ng-model="description" autofocus />

  <label for="photo">Photo</label>
  <input type="file" id="photo" ng-file-select="onFileSelect($files)">

  <input type="submit" value="Add Morsel" ng-disabled="form.$invalid"  />
</form>

<div class="upload-div">
  <div ng-show="dropSupported" class="drop-box" ng-file-drop="onFileSelect($files);" ng-file-drop-available="dropSupported=true" style="height:200px;width:200px;background-color:gray">or drop files here</div>
  <div ng-show="!dropSupported">HTML5 Drop File is not supported on this browser</div>

  <div ng-show="selectedFile != null">
    <div class="sel-file" >
      <img ng-show="dataUrl" ng-src="{{dataUrl}}">
      <span class="progress" ng-show="progress >= 0">           
        <div style="width:{{progress}}%">{{progress}}%</div>
      </span>
    </div>
  </div>
</div>