$collection-block-cover-photo-margin: 1px;
$collection-block-border-radius: 5px;

.collection-detail {
  .profile-container {
    text-align: center;

    .user-info {
      display: inline-block;
    }
  }

  .alert {
    margin: 15px;
  }

  .collection-morsels {
    padding-bottom: 15px;

    &.owns-collection {
      .morsel-block-wrap {
        padding-bottom: 15px;
        border-bottom: 1px solid $morsel-light;
      }
    }
  }

  .morsel-block-wrap {
    &.removed {
      .morsel-block {
        @include opacity(.2);
      }

      .remove-from-collection-btn {
        visibility: hidden;
      }

      &:after {
        content: 'This morsel has been removed from the collection';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: $morsel-medium;
        padding: 150px 30px 0;
        display: block;
        text-align: center;
      }
    }
  }
}

.collection-block {
  border-bottom: 1px solid $morsel-light;
  overflow: auto;

  & > a {
    margin: 15px auto;
    background-color: $morsel-new-beige;
    text-align: center;
    @include box-shadow(0px 1px 7px 0px rgba(0, 0, 0, 0.2));
    display: block;
    width: $item-photo-sm*2+$collection-block-cover-photo-margin*4;
    @include border-radius($collection-block-border-radius);

    .collection-info {
      padding: 10px;
    }

    .collection-title {
      font-size: 16px;
    }

    &:hover {
      background-color: $morsel-light-off;
      @include box-shadow(0px 1px 7px 0px rgba(0, 0, 0, 0.4));

      .collection-title {
        color: $link-hover-color;
      }
    }
  }

  .cover-photos {
    height: $item-photo-sm*2+$collection-block-cover-photo-margin*4;
    width: $item-photo-sm*2+$collection-block-cover-photo-margin*4;
    list-style: none;
    margin: 0 auto;
    text-align: left;

    li {
      float: left;
      height: $item-photo-sm+px;
      width: $item-photo-sm+px;
      margin: $collection-block-cover-photo-margin;

      &:first-child {
        img {
          @include border-top-left-radius($collection-block-border-radius);
        }
      }

      &:nth-child(2) {
        img {
          @include border-top-right-radius($collection-block-border-radius);
        }
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .collection-detail {
    .collection-morsels {
      &.owns-collection {
        .morsel-block-wrap {
          padding-bottom: 0;
          border-bottom: none;

          &.removed {
            &:after {
              padding-top: 130px;
            }
          }
        }
      }
    }
  }

  .collection-block {
    border-bottom: none;
  }
}

@media (min-width: $screen-md-min) {
  .collection-detail {
    .collection-morsels {
      &.owns-collection {
        .morsel-block-wrap {
          .remove-from-collection-btn {
            @include transition(opacity .1s ease-in-out);
            @include opacity(0);
          }

          &:hover {
            .remove-from-collection-btn {
              @include opacity(1);
            }
          }
        }
      }
    }
  }
}