.event-morsels {
  text-align: center;

  h1 {
    color: $morsel-dark;
  }

  ul {
    text-align: left;
  }

  .event-img {
    margin: 30px auto;
  }

  .event-description {
    font-size: 16px;
  }
}

@media (min-width: $screen-sm-min) {
  .event-morsels {
    .event-img {
      max-width: 50%;
    }

    .event-description {
      padding: 0 20px;
    }
  }
}