$feed-notification-width: 90px;

.feed {
  background-color: $morsel-background-dark;
  background-image: url(images/bg/morsel-detail-noise.png);
  padding-bottom: 10px;
  
  .feed-container {
    margin: 0 auto;
    background-color: white;
  }

  .feed-notification {
    position: absolute;
    left: 0;
    top: 75%;
    background-color: $morsel-secondary;
    @include border-top-right-radius(5px);
    @include border-bottom-right-radius(5px);
    @include box-shadow(0px 1px 7px 0px rgba(0, 0, 0, 0.5));
    z-index: 2;
    @include transition(left .2s ease-out);
    text-align: center;

    a {
      color: white;
      padding: 10px;
      display: block;
      width: $feed-notification-width;
      text-transform: uppercase;
    }

    &:hover {
      background-color: darken($morsel-secondary, 10%);
    }

    &.no-new-items {
      left: -$feed-notification-width;
    }
  }
}

@media (min-width: $screen-md-min) {
  .feed {
    .feed-container {
      width: $screen-md-min;
    }
  }
}

@media (min-width: $max-grid-big-morsel-width*3) {
  .feed {
    .feed-container {
      width: $max-grid-big-morsel-width*3;
    }
  }
}