.morsel {
  position: relative;
  white-space: normal;
  width: 100%;
  height: 100%;
  background-color: $morsel-light-off;

  .morsel-loader {
    height: 250px;
    margin-top: $mini-header-height;
  }

  .morsel-container {
    position: relative;
    margin: 0 auto;
    height: 100%;
  }

  .cover-page {
    .cover-bg {
      display: block;
      background-color: rgba(0,0,0,.2);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }

    .cover-jumbo-info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 5;
      padding-bottom: $arrow-height + 10px;
    }

    .cover-info {
      text-align: center;

      h5, h6 {
        @include text-shadow(0px 1px 2px rgba(0, 0, 0, .8));
      }

      h6 {
        span {
          color: white;
        }
      }

      .time-ago {
        color: white;
        @include text-shadow(0px 1px 2px rgba(0, 0, 0, 1));
      }
    }
  }

  .extra-page {
    position: relative;
    overflow: hidden;

    .cover-photo-wrap {
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      position: relative;
    }

    .cover-title-wrap {
      display: table;
      text-align: center;
      height: 70%;
      width: 100%;
      z-index: 3;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3; 

      .cover-title {
        padding: 0 15px;
        text-align: center;
        margin: 0;
        white-space: normal;
        color: white;
        display: table-cell;
        vertical-align: middle;
        @include text-shadow(0px 1px 2px rgba(0, 0, 0, 1));
        text-transform: none;
      }
    }
  }

  .share-page {
    margin-top: 35px;
    padding-bottom: 15px;
    text-align: center;

    h4 {
      margin-top: 0;
    }

    .social-sharing {
      padding-bottom: 0;
      margin-bottom: 25px;
    }

    .share-this-morsel {
      text-align: center;
      margin: 10px auto 0;
      font-size: 20px;
    }

    .user-bio {
      padding: 0 10px;
    }

    hr {
      &:after {
        background-color: $morsel-light-off;
      }
    }

    .morsel-nav {

      &.morsel-prev {
        text-align: left;
        margin-left: 15px;
      }

      &.morsel-next {
        text-align: right;
        margin-right: 15px;
      }

      p {
        font-size: 12px;
        color: $morsel-medium;
      }

      h5 {
        margin: 0;

        a {
          color: $link-color;

          &:hover {
            color: $link-hover-color;
          }
        }
      }

      h6 {
        font-size: 16px;
      }
    }
  }

  .items {
    list-style: none;
    margin: 0;

    .item {
      display: block;
      position: relative;

      .item-wrap {
        text-align: center;
        position: relative;
      }

      .item-photo-wrap {
        display: inline-block;

        padding-bottom: 35px;
        @include morsel-border($morsel-light-off);
      }

      .item-img {
        max-height: 100%;
      }
      
      .item-description {
        p {
          padding: 25px 20px;
          margin: 0;
          font-size: 16px;
          line-height: 22px;
          font-family: $font-family-secondary;
        }
      }

      .item-actions {
        padding: 0;
        z-index: 10;
        margin-top: 10px;

        li {
          display: block;
          float: left;
          padding-left: 8px;
          padding-top: 3px;

          & + li {
            margin-left: 8px;
          }
        }

        a {
          line-height: 1;
          font-weight: bold;
          color: $morsel-dark;
        }

        div {
          display: inline-block;
          text-align: center;
        }

        i {
          vertical-align: middle;
          margin-right: 8px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  z-index: 10;

  &.banner-featured {
    @include replace-text-with-dimensions('graphics/banner-featured-top.png');
  }

  &.banner-draft {
    @include replace-text-with-dimensions('graphics/banner-draft-top.png');
  }
}

.morsel-control {
  display: block;
  width: $arrow-height;
  height: $arrow-height;
  z-index: 10;
  background-repeat: no-repeat;
  background-color: transparent;
  @include transition(background-color .1s ease-out, box-shadow .1s ease-out);
  @include box-shadow(0px 0px 0px 0px rgba(0, 0, 0, 0));
  @include border-top-right-radius(5px);
  @include border-top-left-radius(5px);

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAA8CAYAAACtrX6oAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAipJREFUeNrsnE1LAlEYRlUkIkJalPQLWkaLiHAVZWhfRKuIiKBo1f9pU7RoZ18SEUH9h4gWIq3CRYsWEa0iAnuHbjDIXJ3yjnOvnAMv4kyKj2d87thEyXq9noDuJcVbgGBAMCAYEAwIBgQDghEMCAYEA4IBwYBgQDCCAcGAYEAwIBgQDOFIt/Pgl63ZE7kZ9m1alXk2/BrH/Adi9vD2Lsb3q+N5hbvYBAujMiO++xcyMzLvhsIuypz57nvPOxSjYOfymq7ocfUC+w08V059Ynp8YxvW541iDc7LXDZU2V+ZVp+OXgeWOavztit4RaYWsH1Khc78s6auZAYD9t3ELNO5vO0KrsgU1K2J+vJqqqQ5ko9ktmMW7FxeExVdlZmTedLUVzlk6AlVU30B+/ZkNmU+LKhkp/KaWoO92lrQ1Fc+RH0Vm9TUscyuZeuuM3lNnmRV1JGtW6N09ZVTR31Q2HOZDUtPrpzIm4ogdKFFfWUaaqqsWYMOZNZkPi0+g7Y+bxRfk6ot6qukvuNNqprKampqx3K5TuRNRXhk6+qrqI7iawdr2bm8qYhDL8m8BuyblxkI2H7qQC07lTfqq0kPiZ/f1dZC/KzLcq3N24nLhfdN6stfU+syXwn3sSpvp64H/9bXmyas659ca/OmOxjaq69lmX3ftsculGtV3iT/Rqm74U92EAwIBgQDggHBgGBAMIIBwYBgQDAgGBAMCEYwIBgQDAgGBIM5vgUYAJXHm7NaPs02AAAAAElFTkSuQmCC);

  &:hover {
    cursor: pointer;
    background-color: $morsel-primary;
    @include box-shadow(0px 1px 7px 0px rgba(0, 0, 0, 0.5));
    background-position: right top;
  }

  &.morsel-control-down {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 50%;
    margin-left: -$arrow-height/2;
  }

  &.morsel-control-left {
    @include rotate(90deg);
  }

  &.morsel-control-right {
    @include rotate(-90deg);
  }
}

@media (min-width: $screen-sm-min) {
  .morsel {
    .extra-page {
      .cover-title-wrap {
        h2 {
          font-size: 30px;
        }
      }
    }

    .share-page {
      .morsel-nav {
        &.morsel-prev {
          margin-left: 30px;
        }

        &.morsel-next {
          margin-right: 30px;
        }
      }
    }

    .items {
      .item {
        .item-description {
          margin: 0 auto;
          width: 60%;

          p {
            color: $morsel-dark;
            font-size: 22px;
            line-height: 28px;
            padding-top: 35px;
            padding-bottom: 35px;
          }
        }
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  .morsel {
    .morsel-container {
      width: $screen-md-min;
    }

    .cover-page {
      padding-top: 0;

      .morsel-container {
        width: 100%;
        margin: 0;
      }
    }

    .items {
      .item {
        .user-info {
          h5 {
            font-size: 20px;
          }

          span {
            margin-left: 0;
          }
        }

        .item-img {
          background-position: left top;
        }

        .item-description {
          p {
            font-size: 26px;
            line-height: 34px;
          }
        }
      }
    }
    
    .extra-page {
      .cover-title-wrap {
        h2 {
          font-size: 40px;
        }
      }
    }

    .share-page {
      .share-this-morsel {
        display: inline-block;
        font-size: 26px;
        margin: 0 20px 0 0;
        vertical-align: middle;
      }

      .social-sharing {
        display: inline-block;
      }

      .user-bio {
        width: 50%;
        margin: 0 auto;
      }
    }
  }

  .banner {
    top: auto;
    bottom: 0;

    &.banner-featured {
      @include replace-text-with-dimensions('graphics/banner-featured-bottom.png');
    }

    &.banner-draft {
      @include replace-text-with-dimensions('graphics/banner-draft-bottom.png');
    }
  }
}