$morsel-header-padding: 10px;
$morsel-header-lg-line-height: 40px;
$detail-left-col-width: 55%;
$detail-right-col-width: 42%;
$cover-block-height: 140px;
$item-actions-width: 90px;
$item-info-bottom-height: 55px;

.morsel {
  position: relative;
  white-space: normal;
  vertical-align: top;
  display: inline-block;
  width: 100%;
  height: 100%;
  @include backface-visibility(hidden);

  &:last-child:after {
    @include replace-text-with-dimensions('icons/loader-030000.gif');
    display: block;
    content: ' ';
    position: absolute;
    right: -40px;
    top: 50%;
  }

  .morsel-title {
    position: fixed;
    top: 0;
    z-index: 2;
    text-align: center;
    padding: $morsel-header-padding;
    @include transition(all .2s ease-out);
    @include translate3d(0,-$mini-header-height,0);
    width: 100%;

    h1 {
      width: 50%;
      font-size: 14px;
      margin: 0 auto;
      color: $morsel-dark;
    }
  }

  .morsel-container {
    height: 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  }

  .cover-page {
    div[class*="col-"] {
      padding-left: 0;
      padding-right: 0;
    }

    .cover-actions {
      position: absolute;
      bottom: 5px;
      right: 5px;
      z-index: 2;
    }

    .cover-info {
      padding: 25px 5px 0;
      text-align: center;
      height: $cover-block-height;

      .time-ago {
        position: absolute;
        left: 5px;
        top: 3px;
      }

      .profile-pic-link {
        float: none;
      }
    }

    .cover-more {
      position: relative;
      height: $cover-block-height;
      overflow: hidden;

      .cover-more-btn {
        display: block;
        @include replace-text('icons/more.png');
        background-position: center center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        &:hover + .cover-more-bg {
          @include filter(grayscale(70%) blur(0px));
          @include opacity(.8);
        }
      }

      .cover-more-bg {
        background-position: center center;
        background-size: cover;
        @include filter(grayscale(100%) blur(2px));
        @include opacity(.5);
        @include transition(all .1s ease-out);
        width: 110%;
        height: 110%;
        position: absolute;
        top: -3px;
        left: -3px;
      }
    }
  }

  .user-info {
    h5 {
      margin-top: 10px;
      font-size: 15px;
      text-transform: none;
      color: $morsel-primary;

      a {
        color: $morsel-primary;
      }
    }
  }

  .extra-page {
    background-color: $morsel-light-off;
    position: relative;
    overflow: hidden;
    padding-top: $mini-header-height;

    .cover-photo-wrap {
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      position: relative;
    }

    .cover-title-wrap {
      display: table;
      text-align: center;
      width: 100%;
      z-index: 3;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2; 

      .cover-title {
        padding: 0 15px;
        text-align: center;
        margin: 0;
        white-space: normal;
        color: white;
        display: table-cell;
        vertical-align: middle;
        @include text-shadow(0px 1px 2px rgba(0, 0, 0, 1));
      }
    }
  }

  .share-page {
    .cover-photo-wrap, .cover-title-wrap {
      height: 20%;
    }

    .user-info {
      p {
        padding: 15px;
        clear: both;
      }
    }

    .social-sharing {
      padding-bottom: 0;
    }

    .share-this-morsel {
      text-align: center;
      margin: 10px auto 0;
      font-size: 20px;
    }

    hr {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  .items {
    list-style: none;
    margin: 0;

    .item {
      display: block;
      position: relative;

      .morsel-container {
        background-color: $morsel-light-off;
      }

      .item-photo-wrap {
        padding-top: $mini-header-height;
        text-align: center;
      }

      .item-img {
        max-height: 100%;
      }

      .item-info {
        width: 100%;
        height: 100%;
        background-color: $morsel-light-off;

        .item-info-bottom {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: $item-info-bottom-height;
          background-color: $morsel-background;
        }

        .user-info {
          width: 100%;
          padding-right: $item-actions-width + 5px;

          a {
            margin-top: 5px;
          }

          h5 {
            margin: 0;
            line-height: 50px;
          }
        }
      }
      
      .item-description {
        z-index: 2;
        background-color: rgba(0,0,0,0);
        @include transition(background-color .2s ease-out);
        width: 100%;
        @include transition(opacity .2s ease-out);
        @include opacity(1);
        clear: both;
        padding: 10px 10px $item-info-bottom-height;

        p {
          width: 100%;
          z-index: 3;
          margin: 0;
        }
      }

      .item-actions {
        padding: 0;
        z-index: 10;
        margin: 0 8px 0 0;

        li {
          display: block;
          float: left;
          padding-left: 8px;
          border-left: 1px solid $morsel-medium;
          height: $item-info-bottom-height;
          padding-top: 3px;

          & + li {
            margin-left: 8px;
          }
        }

        a {
          line-height: 1;
          font-weight: bold;
        }

        div {
          display: inline-block;
          text-align: center;
        }

        i:hover {
          cursor: pointer;
        }
      }

      .social-sharing {
        display: none;
      }

      &.full-photo {
        .item-description, .item-actions {
          @include opacity(0);
        }
      }
    }
  }

  .item-indicators {
    position: absolute;
    right: 8px;
    top: $mini-header-height + 15px;
    z-index: 8;
  
    span {
      width: $indicator-size;
      height: $indicator-size;
      background-color: $morsel-dark;
      border: 1px solid $morsel-light;
      border-radius: 50%;
      margin: 2px 0;
      display: block;
      @include transition(background-color .2s ease-out);

      &:hover, &:focus {
        cursor: pointer;
      }

      &.active {
        background-color: $morsel-primary;
      }
    }
  }

  .in-morsel {
    .current-morsel {
      .morsel-title {
        @include translate3d(0,0,0);
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .morsel {
    .extra-page {
      .cover-title-wrap {
        h2 {
          font-size: 30px;
        }
      }
    }

    .share-page {
      .cover-title-wrap, .cover-photo-wrap {
        height: 30%;
      }
    }
  }
}

@media (max-width: $screen-md) {
  .morsel {
    .cover-page {
      .cover-info {
        .profile-pic-link {
          width: $profile-pic-xs;
          height: $profile-pic-xs;
        }
      }
    }

    .item {
      .item-actions {
        position: absolute;
        right: 0;
        bottom: 0;

        a {
          display: block;

          span {
            display: none;
          }
        }

        li:last-child {
          display: none;
        }
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  .morsel {
    .morsel-title {
      h1 {
        font-size: 22px;
        color: white;
      }
    }

    .morsel-container {
      width: $screen-md-min;
    }

    .cover-page {
      .cover-actions {
        right: -40px;
        top: 5px;
        bottom: auto;
      }

      .cover-info {
        padding-top: 50px;

        h5 {
          font-size: 22px;
        }

        .time-ago {
          top: auto;
          bottom: 3px;
        }
      }
    }

    .items {
      .item {
        background-image: url(images/bg/morsel-detail-noise.png);
        padding: $mini-header-height 0 10px;
        background-color: $morsel-background-dark;

        .morsel-container {
          overflow: hidden;
          @include box-shadow(0px 1px 7px 0px rgba(0, 0, 0, 0.5));
          height: auto;
          @include border-radius(3px);

          .user-info {
            h5 {
              font-size: 20px;
            }

            span {
              margin-left: 0;
            }
          }
        }

        .item-description {
          margin-bottom: 25px;
          padding-bottom: 0;

          p {
            color: $morsel-dark;
          }
        }

        .item-img {
          background-position: left top;
        }

        .item-photo-wrap {
          width: $detail-left-col-width;
          float: left;
          padding: 0;
          text-align: left;
        }

        .item-info {
          width: $detail-right-col-width;
          float: right;
          position: relative;
          padding-top: 20px;

          .item-info-bottom {
            position: relative;
            background-color: transparent;
          }

          .scrollable-info {
            overflow-y: auto;
          }
        }

        .item-actions {
          margin-top: 10px;

          li {
            border: none;
            height: auto;
          }

          div {
            text-align: center;
          }

          i {
            vertical-align: middle;
            margin-right: 8px;
          }
          
          a {
            color: $morsel-dark;
          }
        }

        .social-sharing {
          display: block;
        }
      }
    }
    
    .extra-page {
      background-image: url(images/bg/morsel-detail-noise.png);

      .morsel-container {
        padding-bottom: 3%;
      }

      .cover-title-wrap {
        h2 {
          font-size: 40px;
        }
      }
    }

    .share-page {
      .cover-photo-wrap, .cover-title-wrap {
        height: 40%;
      }

      .cover-photo-wrap {
        margin-bottom: 15px;
      }

      .share-this-morsel {
        display: inline-block;
        font-size: 26px;
        margin: 0 20px 0 0;
        vertical-align: middle;
      }

      .social-sharing {
        display: inline-block;
      }

      .user-info {
        h4 {
          display: inline-block;
          margin-right: 10px;
        }

        h5 {
          display: inline-block;
        }

        p {
          clear: none;
        }
      }
    }

    .in-morsel {
      .current-morsel {
        .morsel-title {
          h2 {
            font-size: 24px;
            line-height: $morsel-header-lg-line-height;
          }
        }
      }
    }
  }
}

@media (min-width: $screen-lg-min) {
  .morsel {
    .item {
      .morsel-container {
        width: $screen-lg-min;
      }
    }
  }
}