.morsel-grid {
  width: 100%;
  margin: 0;

  li {
    position: relative;
    float: left;
    display: inline-block;
    width: percentage(1/3);
    margin: 0;
    list-style: none;
    min-height: 100px;
    max-width: $max-grid-morsel-width;

    a {
      display: block;
      padding: 1px;
      text-align: center;
      min-height: 60px;//so it doesn't look so nasty when they load
    }
  }

  .centered-white {
    div {
      background-color: rgba(0,0,0,0);
      @include transition(background-color .1s ease-out);
    }
  }

  .morsel-grid-title {
    font-size: 13px;
    line-height: 16px;
    padding: 0 5px;
    text-transform: none;
  }
}

@media (min-width: $screen-xs-min) {
  .morsel-grid {
    .morsel-grid-title {
      font-size: 22px;
      line-height: 24px;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .morsel-grid {
    li {
      min-height: 200px;
      
      a {
        &:hover {
          div {
            background-color: rgba(0,0,0,.2);
          }
        }
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  .morsel-grid {
    li {
      width: percentage(1/4);
    }
  }
}

@media (min-width: $screen-lg-min) {
  .morsel-grid {
    li {
      width: percentage(1/5);
    }

    .morsel-grid-title {
      font-size: 24px;
      line-height: 26px;
    }
  }
}