$morsel-header-padding: 10px;
$morsel-header-lg-line-height: 40px;
$detail-left-col-width: 55%;
$detail-right-col-width: 42%;
$cover-block-height: 140px;
$item-actions-width: 90px;
$item-info-bottom-height: 55px + $hr-height;

.morsel {
  position: relative;
  white-space: normal;
  vertical-align: top;
  display: inline-block;
  width: 100%;
  height: 100%;
  @include backface-visibility(hidden);

  &:last-child:after {
    @include replace-text-with-dimensions('icons/loader-030000.gif');
    display: block;
    content: ' ';
    position: absolute;
    right: -40px;
    top: 50%;
  }

  .morsel-title {
    position: fixed;
    top: 0;
    z-index: 2;
    text-align: center;
    padding: $morsel-header-padding;
    @include transition(all .2s ease-out);
    @include translate(0,-$mini-header-height);
    width: 100%;

    h1 {
      width: 50%;
      font-size: 14px;
      margin: 0 auto;
      color: $morsel-dark;
    }
  }

  .morsel-loader {
    height: 250px;
    margin-top: $mini-header-height;
  }

  .morsel-container {
    height: 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  }

  .cover-page {
    div[class*="col-"] {
      padding-left: 0;
      padding-right: 0;
    }

    .cover-actions {
      position: absolute;
      right: 51%;
      z-index: 2;
      padding-top: 10px;
    }

    .cover-bg {
      display: none;
    }

    .cover-info {
      padding: 25px 5px 0;
      text-align: center;
      height: $cover-block-height;

      .time-ago {
        position: absolute;
        left: 5px;
        top: 3px;
      }

      .profile-pic-link {
        float: none;
      }
    }

    .cover-more {
      position: relative;
      height: $cover-block-height;
      overflow: hidden;

      .cover-more-btn {
        display: block;
        @include replace-text('icons/more.png');
        background-position: center center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        &:hover + .cover-more-bg {
          @include filter(grayscale(70%) blur(0px));
          @include opacity(.8);
        }
      }

      .cover-more-bg {
        background-position: center center;
        background-size: cover;
        @include filter(grayscale(100%) blur(2px));
        @include opacity(.5);
        @include transition(all .1s ease-out);
        width: 110%;
        height: 110%;
        position: absolute;
        top: -3px;
        left: -3px;
      }
    }
  }

  .user-info {
    h5 {
      margin-top: 10px;
      font-size: 15px;
      text-transform: none;
      color: $morsel-primary;

      a {
        color: $morsel-primary;
      }
    }
  }

  .extra-page {
    background-color: $morsel-light-off;
    position: relative;
    overflow: hidden;
    padding-top: $mini-header-height;

    .cover-photo-wrap {
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      position: relative;
    }

    .cover-title-wrap {
      display: table;
      text-align: center;
      width: 100%;
      z-index: 3;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2; 

      .cover-title {
        padding: 0 15px;
        text-align: center;
        margin: 0;
        white-space: normal;
        color: white;
        display: table-cell;
        vertical-align: middle;
        @include text-shadow(0px 1px 2px rgba(0, 0, 0, 1));
      }
    }
  }

  .share-page {
    .cover-photo-wrap, .cover-title-wrap {
      height: 20%;
    }

    .user-info {
      p {
        padding: 15px;
        clear: both;
      }
    }

    .social-sharing {
      padding-bottom: 0;
    }

    .share-this-morsel {
      text-align: center;
      margin: 10px auto 0;
      font-size: 20px;
    }

    hr {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  .items {
    list-style: none;
    margin: 0;

    .item {
      display: block;
      position: relative;

      .morsel-container {
        background-color: $morsel-light-off;
      }

      .item-photo-wrap {
        padding-top: $mini-header-height;
        text-align: center;
        position: relative;
      }

      .item-info-btn {
        position: absolute;
        bottom: 8px;
        left: 12px;
        z-index: 1;
        color: white;
        @include text-shadow(0px 1px 2px rgba(0, 0, 0, 1));
        padding: 15px;
      }

      .item-img {
        max-height: 100%;
      }

      .item-info {
        width: 100%;
        height: 100%;
        background-color: $morsel-light-off;

        .item-info-bottom {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: $item-info-bottom-height;
          background-color: $morsel-background;
          z-index: 2;

          hr {
            margin: 0;
          }
        }

        .user-info {
          width: 100%;
          padding-right: $item-actions-width + 5px;

          a {
            margin-top: 5px;
          }

          h5 {
            margin: 0;
            line-height: 50px;
          }
        }
      }
      
      .item-description {
        z-index: 2;
        background-color: $morsel-light-off;
        @include transition(all .2s ease-out);
        width: 100%;
        height: 100%;
        clear: both;
        padding-bottom: ($item-info-bottom-height + 5px);

        hr {
          margin: 0;
        }

        p {
          padding: 25px 10px 0;
          width: 100%;
          z-index: 3;
          margin: 0;
          height: 100%;
        }

        .close {
          position: absolute;
          top: 0px;
          right: 10px;
          display: none;
          padding: 10px;
        }
      }

      .item-actions {
        padding: 0;
        z-index: 10;
        margin: 0 8px 0 0;

        li {
          display: block;
          float: left;
          padding-left: 8px;
          border-left: 1px solid $morsel-medium;
          height: $item-info-bottom-height - $hr-height;
          padding-top: 3px;

          & + li {
            margin-left: 8px;
          }
        }

        a {
          line-height: 1;
          font-weight: bold;
        }

        div {
          display: inline-block;
          text-align: center;
        }

        i:hover {
          cursor: pointer;
        }
      }

      .social-sharing {
        display: none;
      }
    }
  }

  .item-indicators {
    position: absolute;
    right: 8px;
    top: $mini-header-height + 15px;
    z-index: 8;
  
    span {
      width: $indicator-size;
      height: $indicator-size;
      background-color: $morsel-dark;
      border: 1px solid $morsel-light;
      border-radius: 50%;
      margin: 2px 0;
      display: block;
      @include transition(background-color .2s ease-out);

      &:hover, &:focus {
        cursor: pointer;
      }

      &.active {
        background-color: $morsel-primary;
      }
    }
  }

  .in-morsel {
    .current-morsel {
      .morsel-title {
        @include translate(0,0);
      }
    }
  }
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  z-index: 10;

  &.banner-featured {
    @include replace-text-with-dimensions('graphics/banner-featured-top.png');
  }
}

.morsel-control {
  display: none;
  width: $arrow-height;
  height: $arrow-height;
  position: absolute;
  z-index: 10;
  background-repeat: no-repeat;
  background-color: transparent;
  @include transition(background-color .1s ease-out, box-shadow .1s ease-out);
  @include box-shadow(0px 0px 0px 0px rgba(0, 0, 0, 0));
  @include border-top-right-radius(5px);
  @include border-top-left-radius(5px);

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAA8CAYAAACtrX6oAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAmRJREFUeNrsnL9LVWEchz3moCAEOenqInfw6lBNiTQH/QHlGBgtOgSJ1BJG0aJoQzQFdxJapDsrOQlObdoguDiplCYOwu1z4SM49B5Pen7d2/PAw5Vzvu973u/9ePX1yL1Ro9HogPalk6eAgIGAgYCBgIGAgYCBgAkYCBgIGAgYCBgIGAiYgIGAgYCBgIGAgYCBgIGACRgIGMpMV9LCn0/Gv+nhXuD0vvwg38vjlNfYK5/LZ7IvULN+89PaWMrXLXW/ciztV/CSPAucay7kldyST2VPCo32eK4tzx1q9sxrS5u26DdxwHqFLOvhkfwhQ29oGpCLclM+lN1XaLTbYzc910CgruG1NNe0kkHAKyXudzmr38HNiUfktNwL1NyQFflF1uXthNfpdG3dYyue62/seQ0jXtNpBgGflrjfTDdZJ3JBDsl38jCm8ftyQ36WgzFzDrpmw2NCjR76mkNew0kO+5SW7vc6u+hfckaOylrMxSP5WG57U9J/4Vy/j227Jop5kmu+1oyvnTct2W/0L+8P1k467vRd+VaOXzLNgXztr1/KW5fUr8kX/m6P2yPkHXih/RYR8DkP5JwcvubavstZ+TXhJrCoPzUL6bfIGx3NBVblpNy9wvhdj62m3WxGlLrfLO9kffTO8I08SlB/5NqKx7Yapew361uVv/1jp+pNQ4iaa2Y9plUpXb953YvekRPyjly9cHzVxyZc0y6Upt+oiE/Z0WZtyhuj+Y7/gyk/5t5vxMcotTf8u5CAgYCBgIGAgYCBgIGACRgIGAgYCBgIGAgYCJiAgYCBgIGAgYAhPf4IMACYE7i5FNCFjQAAAABJRU5ErkJggg==);

  &:hover {
    cursor: pointer;
    background-color: $morsel-primary;
    @include box-shadow(0px 1px 7px 0px rgba(0, 0, 0, 0.5));
    background-position: right top;
  }
}

@media (min-width: $screen-sm-min) {
  .morsel {
    .extra-page {
      .cover-title-wrap {
        h2 {
          font-size: 30px;
        }
      }
    }

    .share-page {
      .cover-title-wrap, .cover-photo-wrap {
        height: 30%;
      }

      .user-info {
        p {
          clear: none;
        }
      }
    }
  }
}

@media (max-width: $screen-md) {
  .morsel {
    .cover-page {
      .cover-info {
        .profile-pic-link {
          width: $profile-pic-xs;
          height: $profile-pic-xs;
        }
      }
    }

    .item {
      .item-actions {
        position: absolute;
        right: 0;
        bottom: 0;

        a {
          display: block;

          span {
            display: none;
          }
        }

        li:last-child {
          display: none;
        }
      }
    }

    .item-description-open {
      .item-indicators, .item-info-btn {
        display: none;
      }

      .items {
        .item {
          .item-description {
            p {
              overflow-y: auto;
            }

            .close {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  .morsel {
    .morsel-title {
      h1 {
        font-size: 22px;
        color: white;
      }
    }

    .morsel-container {
      width: $screen-md-min;
    }

    .cover-page {
      padding-top:0;

      .morsel-container {
        width: 100%;
        margin: 0;
      }

      .cover-jumbo {
        .cover-bg {
          display: block;
          background-color: rgba(0,0,0,.2);
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 2;
        }

        .cover-title-wrap {
          z-index: 3;
        }
      }

      .cover-jumbo-info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 5;
        padding-bottom: $arrow-height + 10px;
      }

      .cover-actions {
        display: none;
      }

      .cover-info {
        height: auto;
        padding-top: 0;
        min-height: initial !important;

        h5 {
          font-size: 22px;
          @include text-shadow(0px 1px 2px rgba(0, 0, 0, .5));
          line-height: 30px;
          margin-bottom: 0;
        }

        .time-ago {
          position: relative;
          color: white;
          @include text-shadow(0px 1px 2px rgba(0, 0, 0, 1));
          top: auto;
          left: auto;
        }
      }

      .cover-more {
        display: none;
      }
    }

    .items {
      .item {
        background-image: url(images/bg/morsel-detail-noise.png);
        padding: $mini-header-height 0 10px;
        background-color: $morsel-background-dark;

        .morsel-container {
          overflow: hidden;
          @include box-shadow(0px 1px 7px 0px rgba(0, 0, 0, 0.5));
          height: auto;
          @include border-radius(3px);

          .user-info {
            h5 {
              font-size: 20px;
            }

            span {
              margin-left: 0;
            }
          }
        }

        .item-info-btn {
          display: none;
        }

        .item-description {
          margin-bottom: 25px;
          padding-bottom: 0;

          hr {
            display: none;
          }

          p {
            color: $morsel-dark;
            overflow-y: auto;
          }
        }

        .item-img {
          background-position: left top;
        }

        .item-photo-wrap {
          width: $detail-left-col-width;
          float: left;
          padding: 0;
          text-align: left;
        }

        .item-info {
          width: $detail-right-col-width;
          float: right;
          position: relative;
          padding-top: 20px;

          .item-info-bottom {
            position: relative;
            background-color: transparent;

            hr {
              display: none;
            }
          }

          .scrollable-info {
            overflow-y: auto;
          }
        }

        .item-actions {
          margin-top: 10px;

          li {
            border: none;
            height: auto;
          }

          div {
            text-align: center;
          }

          i {
            vertical-align: middle;
            margin-right: 8px;
          }
          
          a {
            color: $morsel-dark;
          }
        }

        .social-sharing {
          display: block;
        }
      }
    }
    
    .extra-page {
      background-image: url(images/bg/morsel-detail-noise.png);

      .morsel-container {
        padding-bottom: 3%;
      }

      .cover-title-wrap {
        h2 {
          font-size: 40px;
        }
      }
    }

    .share-page {
      .cover-photo-wrap, .cover-title-wrap {
        height: 40%;
      }

      .cover-photo-wrap {
        margin-bottom: 15px;
      }

      .share-this-morsel {
        display: inline-block;
        font-size: 26px;
        margin: 0 20px 0 0;
        vertical-align: middle;
      }

      .social-sharing {
        display: inline-block;
      }

      .user-info {
        h4 {
          display: inline-block;
          margin-right: 10px;
        }

        h5 {
          display: inline-block;
        }
      }
    }

    .in-morsel {
      .current-morsel {
        .morsel-title {
          h2 {
            font-size: 24px;
            line-height: $morsel-header-lg-line-height;
          }
        }
      }

      .morsel-control-up {
        @include opacity(0);
        @include transition(opacity .1s ease-out);

        &:hover {
          @include opacity(1);
        }
      }
    }

    .morsel-control {
      display: block;
    }

    .morsel-control-up {
      top: 0;
      left: 50%;
      margin-left: -$arrow-height/2;
      @include rotate(180deg);
    }

    .morsel-control-down {
      top: auto;
      bottom: 0;
      left: 50%;
      margin-left: -$arrow-height/2;
    }
  }

  .banner {
    &.banner-featured {
      top: auto;
      bottom: 0;
      @include replace-text-with-dimensions('graphics/banner-featured-bottom.png');
    }
  }
}

@media (min-width: $screen-lg-min) {
  .morsel {
    .item {
      .morsel-container {
        width: $screen-lg-min;
      }
    }
  }
}