.morsel-summary-grid {
  .morsel-summary {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid $morsel-light;
    list-style: none;

    .morsel-summary-info {
      text-align: left;
      padding-top: 5px;
      position: relative;
      overflow: hidden;
      min-height: 29px;

      span {
        float: left;
        
        i {
          vertical-align: bottom;
        }
      }

      .time-ago {
        float: right;
        color: $morsel-medium;
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .morsel-summary-grid {
    .morsel-summary {
      border-right: 1px solid $morsel-light;
      
      &:nth-child(2n) {
        border-right-color: transparent;
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  .morsel-summary-grid {
    .morsel-summary {
      &:nth-child(2n) {
        border-right-color: $morsel-light;
      }

      &:nth-child(3n) {
        border-right-color: transparent;
      }
    }
  }
}