.profile {
  & > .container {
    position: relative;
  }

  .profile-container {
    min-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid $morsel-light;
    background-color: $morsel-light;

    .follow-btn {
      margin-top: 10px;
    }
    
    .profile-bg {
      z-index: 1;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: center center;
      @include opacity(.2);
      @include filter(grayscale(100%));
    }

    .profile-info {
      margin-bottom: 15px;
      z-index: 2;

      .h3 {
        margin: 2px 0 8px;
      }

      .col-xs-4 {
        text-align: center;
      }

      .profile-pic-link {
        margin: 0;
        float: none;
      }

      .user-body {
        p {
          margin-bottom: 0;
        }
      }
    }
  }
  
  .loader {
    height: 250px;

    &.spacer {
      height: auto;
    }
  }

  .empty-state {
    padding: 100px 0;
  }

  .nav-tabs {
    > li {
      width: percentage(1/2);
    }
  }

  .profile-tab-content {
    padding: 20px 25px;
  }
}

@media (max-width: $screen-sm) {
  .profile {
    padding-top: 0;
  }
}

@media (min-width: $screen-sm-min) {
  .profile {
    .profile-container {
      padding-top: 15px;
      
      .profile-info {
        margin-bottom: 0;
      }
    }
  }
}