<div class="activity-feed">
  <ul ng-if="feed && feed.length > 0">
    <li bindonce ng-repeat="activity in feed">
      <div mrsl-activity="activity"></div>
    </li>
  </ul>
  <div ng-if="!feed" class="loader"></div>
  <div ng-if="feed && feed.length === 0" class="empty-state">
    <p>No activity</p>
  </div>
  <div mrsl-view-more mrsl-view-more-func="loadActivity" mrsl-view-more-data="feed" mrsl-view-more-inc="ACTIVITY_LIST_NUMBER" mrsl-view-more-copy="View more activity" mrsl-view-more-order="last" mrsl-view-more-btn="true"></div>
</div>