<div class="activity-feed">
  <ul ng-show="feed.length > 0">
    <li ng-repeat="activity in feed">
      <div class="user-info">
        <div mrsl-user-image mrsl-username="activity.creator.username" mrsl-user-photos="activity.creator.photos" mrsl-user-image-size="profile-pic-s"></div>
        <div class="user-body">
          <div ng-if="activity.subject_type === 'Item'">
          <!-- COME BACK TO THIS -->
            <a href="/{{activity.subject.creator.username}}/{{activity.subject.morsel_id}}-{{activity.subject.morsel_slug}}">
              <img ng-src="{{activity.subject.photos ? activity.subject.photos._80x80 : morselPlaceholder}}" />
            </a>
            <p>{{activity.creator.id === user.id ? 'You' : activity.creator.first_name}} {{activity.action_type === 'Like' ? 'liked':''}}{{activity.action_type === 'Comment' ? 'commented on':''}} <a href="/{{activity.creator.username}}">{{activity.creator.first_name+' '+activity.creator.last_name}}</a>'s {{activity.morsel.title+(likeable.description ? ': '+likeable.description : '') | truncate:80}}</p>
          </div>
          <div ng-if="activity.subject_type === 'User' && activity.action_type === 'Follow'">
            <div mrsl-user-image mrsl-username="activity.subject.username" mrsl-user-photos="activity.subject.photos" mrsl-user-image-size="profile-pic-s"></div>
            <p>{{activity.creator.id === user.id ? 'You' : activity.creator.first_name}} followed 
          </div>
          <span am-time-ago="activity.liked_at" class="time-ago"></span>
        </div>
      </div>
    </li>
  </ul>
  <div ng-show="!feed" class="loader"></div>
  <div ng-show="feed && feed.length === 0" class="empty-state">
    <p>No activity to show</p>
  </div>
</div>