<div class="activity-feed">
  <ul ng-if="feed.length > 0">
    <li bindonce ng-repeat="activity in feed">
      <div class="user-info">
        <div mrsl-user-image mrsl-username="activity.creator.username" mrsl-user-photos="activity.creator.photos" mrsl-user-image-size="profile-pic-s"></div>
        <div class="user-body">
          <div bo-if="activity.subject_type === 'Item'">
            <a class="activity-subject" bo-href="'/'+activity.subject.creator.username.toLowerCase()+'/'+activity.subject.morsel.id+'-'+activity.subject.morsel.slug">
              <img bo-src="activity.subject.photos ? activity.subject.photos._80x80 : morselPlaceholder" />
            </a>
            <p><span bo-if="activity.creator.id === user.id">You</span><a bo-href="'/'+activity.creator.username.toLowerCase()" bo-if="activity.creator.id !== user.id" bo-text="activity.creator.username"></a> {{activity.action_type === 'Like' ? 'liked':''}}{{activity.action_type === 'Comment' ? 'commented on':''}} <span bo-if="activity.subject.creator.id === user.id">your</span><a bo-if="activity.subject.creator.id !== user.id" bo-href="'/'+activity.subject.creator.username.toLowerCase()" bo-text="activity.subject.creator.username+'\'s'"></a> "{{activity.subject.morsel.title+(activity.subject.description ? ': '+activity.subject.description : '') | truncate:80}}"</p>
            <span am-time-ago="activity.action.created_at" class="time-ago"></span>
          </div>
          <div ng-if="activity.subject_type === 'User' && activity.action_type === 'Follow'">
            <div class="activity-subject" mrsl-user-image mrsl-username="activity.subject.username" mrsl-user-photos="activity.subject.photos" mrsl-user-image-size="profile-pic-s"></div>
            <p><span bo-if="activity.creator.id === user.id">You</span><a bo-href="'/'+activity.creator.username.toLowerCase()" bo-if="activity.creator.id !== user.id" bo-text="activity.creator.username"></a> followed <span bo-if="activity.subject.id === user.id">you</span><a bo-href="'/'+activity.subject.username.toLowerCase()" bo-if="activity.subject.id != user.id" bo-text="activity.subject.username"></a></p>
            <span am-time-ago="activity.action.created_at" class="time-ago"></span>
          </div>
          <div bo-if="activity.subject_type === 'Place' && activity.action_type === 'Follow'">
            <div class="activity-subject">Place icon!</div>
            <p><span bo-if="activity.creator.id === user.id">You</span><a bo-href="'/'+activity.creator.username.toLowerCase()" bo-if="activity.creator.id !== user.id" bo-text="activity.creator.username"></a> followed <a bo-href="'/places/'+activity.subject.id+'-'+activity.subject.slug" bo-text="activity.subject.name"></a></p>
            <span am-time-ago="activity.action.created_at" class="time-ago"></span>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div ng-if="!feed" class="loader"></div>
  <div ng-if="feed && feed.length === 0" class="empty-state">
    <p>No activity to show</p>
  </div>
</div>