<div class="activity-feed">
  <ul ng-if="feed.length > 0">
    <li bindonce ng-repeat="likeable in feed">
      <div class="user-info">
        <div mrsl-user-image mrsl-username="user.username" mrsl-user-photos="user.photos" mrsl-user-image-size="profile-pic-s"></div>
        <div class="user-body">
          <a class="activity-subject" bo-href="'/'+likeable.creator.username.toLowerCase()+'/'+likeable.id+'-'+likeable.slug">
            <img bo-src="getMorselPhoto(likeable)" />
          </a>
          <p><span bo-text="user.username + ' liked '"></span><a bo-href="'/'+likeable.creator.username.toLowerCase()" bo-if="likeable.creator.id != user.id" bo-text="likeable.creator.username+'\'s'"></a> "{{likeable.title}}"</p>
          <span am-time-ago="likeable.created_at" class="time-ago"></span>
        </div>
      </div>
    </li>
  </ul>
  <div ng-if="!feed" class="loader"></div>
  <div ng-if="feed && feed.length === 0" class="empty-state">
    <p bo-text="user.username+' hasn\'t liked anything yet'"></p>
  </div>
</div>