<div class="activity-feed">
  <ul ng-if="feed.length > 0">
    <li bindonce ng-repeat="likeable in feed">
      <div class="user-info">
        <div mrsl-user-image mrsl-username="user.username" mrsl-user-photos="user.photos" mrsl-user-image-size="profile-pic-s"></div>
        <div class="user-body">
          <a class="activity-subject" bo-href="'/'+likeable.morsel.creator.username+'/'+likeable.morsel.id+'-'+likeable.morsel.slug">
            <img bo-src="likeable.photos ? likeable.photos._80x80 : morselPlaceholder" />
          </a>
          <p>{{user.first_name}} liked <a bo-href="'/'+likeable.creator.username" bo-text="likeable.creator.first_name+' '+likeable.creator.last_name"></a>'s "{{likeable.morsel.title+(likeable.description ? ': '+likeable.description : '') | truncate:80}}"</p>
          <span am-time-ago="likeable.liked_at" class="time-ago"></span>
        </div>
      </div>
    </li>
  </ul>
  <div ng-if="!feed" class="loader"></div>
  <div ng-if="feed && feed.length === 0" class="empty-state">
    <p bo-text="user.first_name+' '+user.last_name+' hasn't liked anything yet'"></p>
  </div>
</div>