<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h4 class="h2">{{user.first_name+' '+user.last_name}}'s Like{{likeFeed.length === 1 ? '':'s'}} <span ng-show="likeFeed.length > 0">({{likeFeed.length}})</span></h4>
</div>
<div class="modal-body activity-feed">
  <ul ng-show="likeFeed.length > 0">
    <li ng-repeat="likeable in likeFeed | reverse">
      <div class="user-info">
        <div mrsl-user-image mrsl-username="user.username" mrsl-user-photos="user.photos" mrsl-user-image-size="profile-pic-s"></div>
        <div class="user-body">
          <img ng-src="{{likeable.display_photo}}" />
          <p>{{user.first_name}} liked <a href="/{{likeable.user.username}}">{{likeable.user.first_name+' '+likeable.user.last_name}}</a>'s {{likeable.message}}</p>
          <span am-time-ago="likeable.liked_at" class="time-ago"></span>
        </div>
      </div>
    </li>
  </ul>
  <div ng-show="!likeFeed" class="loader"></div>
  <div ng-show="likeFeed && likeFeed.length === 0" class="empty-state">
    <p>{{user.first_name+' '+user.last_name}} hasn't liked anything yet</p>
  </div>
</div>