<div class="user-list">
  <ul ng-if="users.length > 0">
    <li bindonce ng-repeat="user in users">
      <div class="user-info">
        <div mrsl-user-image mrsl-username="user.username" mrsl-user-photos="user.photos" mrsl-user-image-size="profile-pic-s"></div>
        <div class="user-body">
          <button mrsl-follow mrsl-id-to-follow="user.id" mrsl-is-following="user.following"></button>
          <h5 class="user-info-main">
            <a bo-href="'/'+user.username.toLowerCase()" bo-text="user.first_name+' '+user.last_name"></a>
          </h5>
        </div>
      </div>
    </li>
  </ul>
  <div ng-if="!users" class="loader"></div>
  <div ng-if="users && users.length === 0" class="empty-state">
    <p bo-text="emptyText || 'No users'"></p>
  </div>
</div>