<div class="user-list">
  <ul ng-if="users.length > 0">
    <li bindonce ng-repeat="user in users">
      <div class="user-info">
        <div mrsl-user-image mrsl-username="user.username" mrsl-user-photos="user.photos" mrsl-user-image-size="profile-pic-s"></div>
        <div class="user-body">
          <button mrsl-follow mrsl-id-to-follow="user.id" mrsl-is-following="user.following"></button>
          <h5 class="user-info-main overflow-ellipsis">
            <a bo-href="'/'+user.username.toLowerCase()" mrsl-users-name="user"></a>
          </h5>
        </div>
      </div>
    </li>
  </ul>
  <div mrsl-view-more mrsl-view-more-func="userLoadFunc" mrsl-view-more-data="users" mrsl-view-more-inc="userIncrement" mrsl-view-more-copy="View more" mrsl-view-more-order="last"></div>
  <div ng-if="!users" class="loader"></div>
  <div ng-if="users && users.length === 0" class="empty-state">
    <p ng-bind="emptyText || 'No users'"></p>
  </div>
</div>