<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h4 class="h2 overflow-ellipsis">{{heading || 'Users'}}</h4>
</div>
<div class="modal-body">
  <div class="user-search" ng-if="canSearchUsers && searchModel">
    <input type="text" placeholder="Search users" class="form-control" ng-model="searchModel.query" ng-change="searchModel.func()" />
  </div>
  <div mrsl-user-list="users" mrsl-user-list-load-func="loadUsers" mrsl-user-list-tag-morsel="morselTagged" mrsl-user-list-blank-links="blankLinks" mrsl-user-list-view="{{view}}"></div>
</div>