@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: white url(../images/landing-tile.jpg) center center repeat;
  color: #394038;
  font-family: "Roboto", Helvetica, Arial, sans-serif; }

.error-page {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 200px 30px 40px;
  background: url(../images/octopus.png) center top no-repeat; }
  h1 {
    width: 130px;
    height: 80px;
    margin: 10px auto 20px;
    background: url(../images/morsel.png) center top no-repeat;
    background-size: 130px 59px;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    border-bottom: 1px solid #e2ddd7; }

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .error-page h1{
    background-image: url(../images/morsel@2x.png); } }