<form role="form">
  <fieldset disabled>
    <div class="form-group">
      <label for="text" class="control-label">Text Input <abbr title="Required">*</abbr></label>
      <input class="form-control" id="text" type="text" placeholder="Text Input">
    </div>
    <div class="form-group">
      <label for="textarea" class="control-label">Textarea</label>
      <textarea class="form-control" id="textarea" rows="3" placeholder="Enter your message here"></textarea>
    </div>
    <div class="form-group">
      <label for="select">Select</label>
      <select id="select" class="form-control">
        <optgroup label="Option Group">
            <option>Option One</option>
            <option>Option Two</option>
            <option>Option Three</option>
        </optgroup>
      </select>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Option two is this and that&mdash;be sure to include why it's great
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Option three is this and that&mdash;be sure to include why it's great
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        Option one is this and that&mdash;be sure to include why it's great
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
        Option two can be something else and selecting it will deselect option one
      </label>
    </div>
  </fieldset>
</form>