$post-info-height: 70px;

.post-detail {
  h1 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: $morsel-dark;
  }

  .post-header {
    background-color: $morsel-light;
    padding: 20px 0 10px 65px;
    height: $mobile-header-height;

    h1 {
      width: 95%;
      margin: 0 auto 10px;
      font-size: 22px;
      font-weight: lighter;
      text-align: center;
    }
  }

  .container {
    max-width: $morsel-max-width;
    padding-left: 0;
    padding-right: 0;
  }

  .post-info {
    overflow: hidden;
    height: $post-info-height;

    h1 {
      display: none;
    }
  }

  .blur-bg {
    display: none;
  }
}

@media (min-width: $morsel-max-width) {
  .post-detail {
    //need this here since it's not a standard breakpoint
    .container-shadow {
      @include container-shadow();
    }
    .post-header {
      @include box-shadow(0px 1px 7px 0px rgba(0, 0, 0, 0.5));

      .container {
        max-width: $morsel-max-width;
      }
    }

    .blur-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: block;
      z-index: -1;
      background-color: $morsel-background;

      div {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: block;
        background-size: 200%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 50% 50%;
        display: block;
        z-index: -1;
        opacity: 0.4;
        @include filter(blur(15px));
        //extra blur support for fox and ie
        filter: url(images/utility/blur.svg#blur);
        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='15');
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .post-detail {
    .post-header {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
@media (min-width: $screen-md-min) {
  $user-info-max-width: 240px;

  .post-detail {
    .post-header {
      display: none;
    }

    .post-info {
      h1 {
        float: left;
        max-width: $morsel-max-width - $user-info-max-width;
        display: block;
        float: left;
        font-size: 26px;
        margin: 0 0 0 15px;
        line-height: $post-info-height;
        color: $morsel-dark;
      }

      .user-info {
        float: right;

        div {
          float: right;
          text-align: right;
          max-width: $user-info-max-width;
        }

        .profile-pic-link {
          float: right;
        }
      }
    }

    .morsels-wrap {
      .morsel-indicators {
        background-color: rgba(0,0,0,.2);
        display: inline-block;
        position: absolute;
        right: 0;
        top: $morsel-height-s - $morsel-indicator-size - $morsel-indicator-padding*2;
        z-index: 10;
        padding: $morsel-indicator-padding;

        span {
          float: left;
        }
      }
    }
  }
}