<div morsel-swipe class="post-detail">
  <div class="post-header">
    <div class="container">
      <h1>{{post.title}}</h1>
      <morselSwipeSpot></morselSwipeSpot>
    </div>
  </div>
  <div class="container">
    <div class="user-info">
      <img ng-src="{{post.creator.photos._80x80}}" class="img-circle" />
      <div>
        <morselPostedAtSpot></morselPostedAtSpot>
        <h2>{{post.creator.first_name}} {{post.creator.last_name}}</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <ul morsels class="morsels">
      <li ng-repeat="morsel in post.morsels" class="morsel">
        <i morsel-like></i>
        <div ng-if="morsel.photos" class="morsel-img" href="{{morsel.photos._640x640}}" style="background-image: url({{morsel.photos._640x640}});"></div>
        <div ng-if="morsel.description" ng-class="{'morsel-content': true, 'text-morsel': !morsel.photos }">
          <p>{{morsel.description}}</p>
        </div>
      </li>
    </ul>
  </div>
</div>