<div class="immersive">
  <div ng-class="{'in-story': immersiveState.inStory, 'on-share': immersiveState.onShare}">
    <header class="immersive-header user-info">
      <div class="story-container">
        <a ng-click="goHome()" class="morsel-logo"><i>Morsel</i><span>Claim Your Username</span></a>
      </div>
    </header>
    <div class="story current-story">
      <div story-swipe="{{story.items.length > 0}}" story-swipe-count="{{story.items.length}}" ng-style="{'height': immersiveHeight}">
        <div class="story-title">
          <div class="story-container">
            <h1>{{story.title}}</h1>
          </div>
        </div>
        <div story-indicators index="currentIndicatorIndex" count="morselsCount"></div>
        <ul class="morsels">
          <li class="cover-page extra-page" ng-style="{'height': immersiveHeight}">
            <div class="story-container">
              <div class="cover-photo-wrap" responsive-images="{{getCoverPhotoArray(story.items, story.primary_item_id)}}" ri-image-type="background"></div>
              <div class="cover-title-wrap">
                <h2 class="cover-title">{{story.title}}</h2>
              </div>
              <div class="cover-info">
                <div class="user-info">
                  <div user-image username="owner.username" user-photos="owner.photos" user-image-size="profile-pic-xs"></div>
                  <h5 class="h2 overflow-ellipsis">{{owner.first_name + ' ' + owner.last_name}}</h5>
                </div>
                <div story-thumbnails index="currentIndicatorIndex" story="story"></div>
                <div class="cover-actions">
                  <span am-time-ago="story.created_at" class="time-ago"></span>
                  <a ng-click="currentIndicatorIndex = story.items.length+1"><i class="common-share"></i></a>
                </div>
              </div>
              <div class="cover-browse">
                <span>Scroll</span>
                <i class="glyphicon glyphicon-circle-arrow-down"></i>
              </div>
            </div>
          </li>
          <li ng-repeat="morsel in story.items" class="morsel" ng-class="{'full-photo': fullPhoto}" ng-style="{'height': immersiveHeight}">
            <div class="story-container">
              <div class="item-photo-wrap">
                <img class="morsel-img" responsive-images="{{getItemPhotoArray(morsel)}}" />
              </div>
              <div class="item-info">
                <div class="user-info">
                  <div user-image username="owner.username" user-photos="owner.photos" user-image-size="profile-pic-xs"></div>
                  <h5 class="h2 overflow-ellipsis">{{owner.first_name + ' ' + owner.last_name}}</h5>
                </div>
                <div morsel-actions actionable-morsel="morsel" index="$parent.currentIndicatorIndex" morsels="story.items"></div>
                <p text-limit class="morsel-description" char-limit="200" text-content="morsel.description"></p>
                <div social-sharing="story"></div>
              </div>
            </div>
          </li>
          <li class="share-page extra-page" ng-style="{'height': immersiveHeight}">
            <div class="story-container">
              <div class="cover-photo-wrap" responsive-images="{{getCoverPhotoArray(story.items, story.primary_item_id)}}" ri-image-type="background"></div>
              <div class="cover-title-wrap">
                <h2 class="cover-title">{{story.title}}</h2>
              </div>
              <h5 class="share-this-story h2">Share this morsel:</h5>
              <div social-sharing="story" social-full="true"></div>
              <hr />
              <div class="user-info">
                <div user-image username="owner.username" user-photos="owner.photos" user-image-size="profile-pic-m"></div>
                <h4 class="h3">{{owner.first_name + ' ' + owner.last_name}}</h4>
                <h5>{{owner.title}}</h5>
                <p>{{owner.bio}}</p>
              </header>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <footer class="immersive-footer user-info">
      <div user-image username="owner.username" user-photos="owner.photos" user-image-size="profile-pic-xs"></div>
      <h2 class="overflow-ellipsis">{{owner.first_name + ' ' + owner.last_name}}</h2>
    </footer>
  </div>
</div>