.join-landing {
  text-align: center;

  .btn {
    display: block;
    margin-bottom: 10px;
    text-align: left;
  }
}

.have-an-account {
  margin-top: 10px;
}

.industry-btns {
  .radio {
    width: 33%;
    padding: 0 5px;
  }
}