<form name="basicInfoForm" method="post" ng-submit="basicInfoSubmit()" class="padded-form" novalidate>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div mrsl-base-errors mrsl-val-form="basicInfoForm"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 col-md-4 col-md-offset-1">
      <div class="form-group">
        <div mrsl-image-upload mrsl-image-to-upload="profilePhoto" mrsl-image-remote-url="remotePhotoUrl" class="avatar-add"></div>
        <label class="control-label center-block text-center" for="photo">Profile Photo</label>
      </div>
    </div>
    <div class="col-sm-7 col-md-6">
      <input mrsl-validated-element mrsl-val-form="basicInfoForm" mrsl-val-en-name="First Name" mrsl-val-type="text" mrsl-val-name="first_name" mrsl-val-form-model="basicInfoModel" mrsl-val-placeholder="John" mrsl-val-required="true" />

      <input mrsl-validated-element mrsl-val-form="basicInfoForm" mrsl-val-en-name="Last Name" mrsl-val-type="text" mrsl-val-name="last_name" mrsl-val-form-model="basicInfoModel" mrsl-val-placeholder="Smith" mrsl-val-required="true" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <input mrsl-validated-element mrsl-val-form="basicInfoForm" mrsl-val-en-name="Username" mrsl-val-type="text" mrsl-val-name="username" mrsl-val-form-model="basicInfoModel" mrsl-val-placeholder="johnnyboy" mrsl-val-required="true" mrsl-val-help-text="Must be alphanumeric and not include spaces" />

      <input mrsl-validated-element mrsl-val-form="basicInfoForm" mrsl-val-en-name="Email" mrsl-val-type="email" mrsl-val-name="email" mrsl-val-form-model="basicInfoModel" mrsl-val-placeholder="johnsmith@example.com" mrsl-val-required="true" />

      <input ng-if="usingEmail" mrsl-validated-element mrsl-val-form="basicInfoForm" mrsl-val-en-name="Password" mrsl-val-type="password" mrsl-val-name="password" mrsl-val-form-model="basicInfoModel" mrsl-val-required="true" />

      <input ng-if="usingEmail" mrsl-validated-element mrsl-val-form="basicInfoForm" mrsl-val-en-name="Confirm Password" mrsl-val-type="password" mrsl-val-name="verification" mrsl-val-form-model="basicInfoModel" mrsl-val-custom="customMatchVer" mrsl-val-required="true" />

      <input mrsl-validated-element mrsl-val-form="basicInfoForm" mrsl-val-en-name="I am a professional chef, sommelier, mixologist, etc." mrsl-val-name="professional" mrsl-val-form-model="basicInfoModel" mrsl-val-tag-type="single-checkbox" />

      <button mrsl-submit-btn mrsl-submit-btn-form="basicInfoForm" mrsl-submit-btn-copy="Sign Up" mrsl-submit-btn-block="true"  mrsl-submit-btn-tooltip-placement="top"></button>
      <div>By continuing you indicate that you have read and agree to our <a href="/terms" target="_blank">Terms of Service</a></div>
    </div>
  </div>
  <div class="have-an-account">Have an account already? <a href="/auth/login">Login here.</a></div>
</form>