.profile {
  padding-top: $mini-header-height;
  background-color: white;

  .user-container {
    li {
      padding: 15px;
    }
  }

  .user-info {
    .h3 {
      margin: 2px 0 8px;
    }

    .col-xs-4 {
      text-align: center;
    }

    .profile-pic-link {
      margin: 0;
      float: none;
    }

    button {
      margin-top: 10px;
    }

    .user-username {
      margin: 5px 0;
      color: $morsel-medium;
      font-size: 15px;
      font-family: inherit;
    }
  }

  .user-stats {
    text-align: center;

    li {
      list-style: none;
      display: inline-block;
      text-align: center;
      padding: 0 15px;

      p {
        color: $morsel-primary;
        margin: 0;
      }

      span {
        display: block;
        color: $morsel-dark;
      }

      & + li {
        border-left: 1px solid $morsel-medium;
      }
    }
  }

  .user-morsels {
    width: 100%;
    margin: 0;

    li {
      position: relative;
      float: left;
      display: inline-block;
      width: percentage(1/3);
      margin: 0;
      list-style: none;

      a {
        display: block;
        padding: 1px;

        &:hover {
          div {
            background-color: rgba(0,0,0,.2);
          }
        }
      }
    }

    .centered-white {
      div {
        background-color: rgba(0,0,0,0);
        @include transition(background-color .1s ease-out);
      }
    }

    .user-morsel-title {
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}