.profile {
  padding-top: $mobile-header-height;

  .user-info {
    background-color: rgba($morsel-medium, .5);

    > div {

      h1 {
        color: $morsel-light;
      }

      span {
        display: inline-block;
        margin-right: 15px;
        font-size: 16px;
        color: $morsel-light;
      }

      p {
        clear: both;
        color: $morsel-light;
      }
    }
  }
}