<div class="profile">
  <div class="container">
    <ul rn-carousel rn-carousel-indicator class="user-container">
      <li class="">
        <div class="user-info row col-md-7">
          <div class="col-xs-4 row">
            <div mrsl-user-image mrsl-username="user.username" mrsl-user-photos="user.photos"  mrsl-no-link="true" class="profile-pic-m col-12"></div>
            <div class="col-12">
              <button mrsl-follow mrsl-id-to-follow="user.id"></button>
            </div>
          </div>
          <div class="user-body col-xs-8">
            <h3 class="user-username" ng-bind="user.username"></h3>
            <h1 class="h3" ng-bind="user.first_name+' '+user.last_name"></h1>
            <p ng-bind="user.bio"></p>
          </div>
        </div>
        <ul class="user-stats col-md-5">
          <li>
            <p class="h3">{{user.like_count}}<span class="h6">like{{user.like_count === 1 ? '':'s'}}</span></p>
          </li>
          <li>
            <p class="h3">{{user.item_count}}<span class="h6">item{{user.item_count === 1 ? '':'s'}}</span></p>
          </li>
          <li>
            <p class="h3">1,000<span class="h6">Followers</span></p>
          </li>
          <li>
            <p class="h3">2,000<span class="h6">Following</span></p>
          </li>
        </ul>
        <a href="/{{user.username}}/edit" ng-show="canEdit" class="edit-profile">Edit</a>
      </li>
      <li class="">
        <div class="user-tags user-cuisines col-md-6" ng-show="cuisines">
          <span>Cuisines:</span>
          <ul>
            <li ng-repeat="cuisine in cuisines">
              <a href="">{{cuisine}}</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <hr />
    <ul class="user-morsels clearfix">
      <li ng-repeat="morsel in morsels | reverse">
        <a href="/{{user.username}}/{{morsel.id}}-{{morsel.slug}}" class="centered-white">
          <div>
            <span class="user-morsel-title">{{morsel.title}}</span>
          </div>
          <img mrsl-responsive-images="{{getCoverPhotoArray(morsel)}}" />
        </a>
      </li>
    </ul>
    <div ng-show="!morsels" class="loader"></div>
    <div ng-show="morsels && morsels.length === 0" class="empty-state">
      <p>This user hasn't made any morsels yet</p>
    </div>
  </div>
</div>