<div class="immersive">
  <header>
    <h1>
      <img ng-src="" />
    </h1>
    <nav role="navigation">
      <ul>
        <li>
          <a>Info</a>
        </li>
      </ul>
    </nav>
  </header>
  <div immersive-swipe="{{stories.length > 1}}">
    <div class="stories-wrap">
      <ul class="stories">
        <li ng-repeat="story in stories" class="story">
          <h2>{{story.name}}</h2>
          <ul class="morsels">
            <li ng-repeat="morsel in story.morsels" class="morsel">
              <div style="background-color: {{morsel.color}}">
                <p>{{morsel.name}}</p>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>