<div class="immersive">
  <div immersive-swipe ng-class="{'in-story': immersiveState.inStory}">
    <header>
      <a ng-click="goTo(owner.username)">
        <img ng-src="{{owner.photos._40x40}}" />
      </a>
      <div class="owner-info">
        <h1>
          <a ng-click="goTo(owner.username)">{{owner.first_name + ' ' + owner.last_name}}</a>
        </h1>
        <h5>{{owner.title}}</h5>
      </div>
    </header>
    <div immersive-controls index="currentControlIndex" count="storiesCount"></div>
    <div class="stories-wrap">
      <ul class="stories">
        <li ng-repeat="story in stories" class="story" ng-class="{'current-story': $index===currentControlIndex}">
          <div story-swipe="{{story.morsels.length > 1}}" story-swipe-count="{{story.morsels.length}}" style="height: {{immersiveHeight}}">
            <div class="story-title">
              <h2>{{story.title}}</h2>
            </div>
            <div story-indicators index="currentIndicatorIndex" count="morselsCount"></div>
            <ul class="morsels">
              <li class="cover-page" style="height: {{immersiveHeight}}">
                <div class="cover-photo-wrap" style="background-image:url({{story.morsels[0].photos._640x640}})">
                  <h2 class="cover-title">{{story.title}}</h2>
                </div>
                <div story-thumbnails index="currentIndicatorIndex" morsels="story.morsels"></div>
                <div class="cover-actions">
                  <span><i class="glyphicon glyphicon-heart"></i></span>
                  <span><i class="glyphicon glyphicon-comment"></i></span>
                  <span><i class="glyphicon glyphicon-share"></i></span>
                </div>
                <div class="cover-browse">
                  <p>
                    <span>Browse</span>
                    <i class="glyphicon glyphicon-circle-arrow-down"></i>
                  </p>
                </div>
              </li>
              <li ng-repeat="morsel in story.morsels" class="morsel">
                <p class="morsel-description">{{morsel.description}}</p>
                <div ng-if="morsel.photos" class="morsel-img" href="{{morsel.photos._640x640}}" style="background-image: url({{morsel.photos._640x640}}); height: {{immersiveHeight}}">
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>