<div class="thumbnails-wrap">
  <ul ng-if="story.items.length <= 4">
    <li ng-repeat="morsel in story.items" ng-click="$parent.$parent.index=$index+1; sendMixpanel(morsel.id)">
      <img responsive-images="{{getItemThumbnailArray(morsel)}}" />
    </li>
  </ul>
  <ul ng-if="story.items.length > 4">
    <li ng-repeat="morsel in story.items.slice(0,3)" ng-click="$parent.$parent.index=$index+1; sendMixpanel(morsel.id)">
      <img responsive-images="{{getItemThumbnailArray(morsel)}}" />
    </li>
    <li ng-click="$parent.index=4; sendMixpanel(story.items[3].id)" class="additional-thumbs">
      <div>
        <span>+{{story.items.slice(3).length}}</span>
      </div>
      <img responsive-images="{{getItemThumbnailArray(story.items[3])}}" />
    </li>
  </ul>
</div>