<div class="morsel">
  <div ng-if="!morsel" class="loader morsel-loader"></div>
  <div ng-if="morsel">
    <div bindonce="morsel">
      <ul class="items">
        <li class="cover-page extra-page" ng-style="{'height': layout.pageHeight}">
          <div class="morsel-container">
            <div class="cover-jumbo">
              <span bo-if="morsel.featured" class="banner banner-featured">Featured</span>
              <span bo-if="morsel.draft" class="banner banner-draft">Draft</span>
              <div bo-if="morsel.items" class="cover-photo-wrap" mrsl-responsive-images="{{getCoverPhotoArray()}}" mrsl-ri-image-type="background" mrsl-ri-preload="{{getCoverPhotoArray(true)}}" ng-style="{'height': layout.pageHeight}"></div>
              <div class="cover-title-wrap">
                <h2 class="cover-title" bo-bind="morsel.title"></h2>
              </div>
              <div class="cover-bg"></div>
            </div>
            <div class="cover-jumbo-info">
              <div class="cover-info">
                <div class="user-info">
                  <div mrsl-user-image mrsl-username="morsel.creator.username" mrsl-user-photos="morsel.creator.photos" mrsl-user-image-size="profile-pic-s"></div>
                  <h5 class="h2 overflow-ellipsis">
                    <a bo-href="'/'+morsel.creator.username.toLowerCase()" bo-bind="morsel.creator.first_name + ' ' + morsel.creator.last_name"></a>
                  </h5>
                  <h6 class="overflow-ellipsis" bo-if="morsel.place">
                    <a bo-href="'/places/'+morsel.place.id+'-'+morsel.place.slug" class="h2" bo-text="morsel.place.name"></a>
                    <span bo-text="(morsel.place.city ? morsel.place.city+', ':'')+morsel.place.state"></span>
                  </h6>
                </div>
                <span am-time-ago="morsel.published_at" class="time-ago"></span>
              </div>
              <div>
                <span class="morsel-control morsel-control-down" ng-click="moreClick()"></span>
              </div>
            </div>
          </div>
        </li>
        <li bindonce ng-repeat="item in morsel.items" class="item">
          <div class="morsel-container loader">
            <div mrsl-item-description="item"></div>
            <div class="item-wrap">
              <div class="item-photo-wrap">
                <img class="item-img" mrsl-responsive-images="{{getItemPhotoArray(item)}}" />
                <div ng-if="!morsel.draft" mrsl-item-action-bar mrsl-item="item" mrsl-items="morsel.items"></div>
              </div>
            </div>
          </div>
        </li>
        <li class="share-page extra-page" ng-if="!morsel.draft">
          <hr />
          <h5 class="share-this-morsel h2">Share this morsel:</h5>
          <div mrsl-social-sharing="morsel" mrsl-social-full="true"></div>
          <hr />
          <div>
            <div mrsl-user-image mrsl-username="morsel.creator.username" mrsl-user-photos="morsel.creator.photos" mrsl-user-image-size="profile-pic-s"></div>
            <h4 class="h3">
              <a bo-href="'/'+morsel.creator.username.toLowerCase()" bo-bind="morsel.creator.first_name + ' ' + morsel.creator.last_name"></a>
            </h4>
            <p class="user-bio" ng-if="morsel.creator.bio" bo-bind="morsel.creator.bio"></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>