<div class="thumbnails-wrap">
  <ul ng-if="story.morsels.length <= 4">
    <li ng-repeat="morsel in story.morsels" ng-click="$parent.$parent.index=$index+1; sendMixpanel(morsel.id)">
      <img responsive-images="[ [ 'default', '{{morsel.photos._100x100}}' ], [ 'screen-xs', '{{morsel.photos._240x240}}' ] ]" />
    </li>
  </ul>
  <ul ng-if="story.morsels.length > 4">
    <li ng-repeat="morsel in story.morsels.slice(0,3)" ng-click="$parent.$parent.index=$index+1; sendMixpanel(morsel.id)">
      <img responsive-images="[ [ 'default', '{{morsel.photos._100x100}}' ], [ 'screen-xs', '{{morsel.photos._240x240}}' ] ]" />
    </li>
    <li ng-click="$parent.index=4; sendMixpanel(morsel.id)" class="additional-thumbs">
      <div>
        <span>+{{story.morsels.slice(3).length}}</span>
      </div>
      <img responsive-images="[ [ 'default', '{{story.morsels[3].photos._100x100}}' ], [ 'screen-xs', '{{story.morsels[3].photos._240x240}}' ] ]" />
    </li>
  </ul>
</div>