<ul class="sg-colors">
	<li>
		<span class="sg-swatch morsel-primary"></span>
		<span class="sg-label">morsel-primary</span>
	</li>
	<li>
		<span class="sg-swatch morsel-secondary"></span>
		<span class="sg-label">morsel-secondary</span>
	</li>
	<li>
		<span class="sg-swatch morsel-tertiary"></span>
		<span class="sg-label">morsel-tertiary</span>
	</li>
	<li>
		<span class="sg-swatch morsel-background"></span>
		<span class="sg-label">morsel-background</span>
	</li>
	<li>
		<span class="sg-swatch morsel-light"></span>
		<span class="sg-label">morsel-light</span>
	</li>
	<li>
		<span class="sg-swatch morsel-medium"></span>
		<span class="sg-label">morsel-medium</span>
	</li>
	<li>
		<span class="sg-swatch morsel-dark"></span>
		<span class="sg-label">morsel-dark</span>
	</li>
</ul>