<ul class="sg-colors">
	<li>
		<span class="sg-swatch morsel-primary"></span>
		<span class="sg-label">.morsel-primary</span>
	</li>
	<li>
		<span class="sg-swatch morsel-secondary"></span>
		<span class="sg-label">.morsel-secondary</span>
	</li>
	<li>
		<span class="sg-swatch morsel-tertiary"></span>
		<span class="sg-label">.morsel-tertiary</span>
	</li>
	<li>
		<span class="sg-swatch morsel-interface"></span>
		<span class="sg-label">.morsel-interface</span>
	</li>
	<li>
		<span class="sg-swatch morsel-light-content"></span>
		<span class="sg-label">.morsel-light-content</span>
	</li>
	<li>
		<span class="sg-swatch morsel-dark-content"></span>
		<span class="sg-label">.morsel-dark-content</span>
	</li>
</ul>