<ul class="sg-colors">
	<li class="sg-colors-sub">
		<ul class="sg-colors">
			<li class="morsel-primary">
				<span class="sg-swatch"></span>
				<span class="sg-label"></span>
			</li>
			<li class="morsel-primary-light">
				<span class="sg-swatch"></span>
				<span class="sg-label"></span>
			</li>
			<li class="morsel-primary-dark">
				<span class="sg-swatch"></span>
				<span class="sg-label"></span>
			</li>
			<li class="morsel-primary-bright">
				<span class="sg-swatch"></span>
				<span class="sg-label"></span>
			</li>
		</ul>
	</li>
	<li class="sg-colors-sub">
		<ul class="sg-colors">
			<li class="morsel-secondary">
				<span class="sg-swatch"></span>
				<span class="sg-label"></span>
			</li>
			<li class="morsel-secondary-bright">
				<span class="sg-swatch"></span>
				<span class="sg-label"></span>
			</li>
		</ul>
	</li>
	<li class="morsel-tertiary">
		<span class="sg-swatch"></span>
		<span class="sg-label"></span>
	</li>
	<li class="morsel-background">
		<span class="sg-swatch"></span>
		<span class="sg-label"></span>
	</li>
	<li class="sg-colors-sub">
		<ul class="sg-colors">
			<li class="morsel-light">
				<span class="sg-swatch"></span>
				<span class="sg-label"></span>
			</li>
			<li class="morsel-light-off">
				<span class="sg-swatch"></span>
				<span class="sg-label"></span>
			</li>
			<li class="morsel-medium">
				<span class="sg-swatch"></span>
				<span class="sg-label"></span>
			</li>
			<li class="morsel-dark">
				<span class="sg-swatch"></span>
				<span class="sg-label"></span>
			</li>
		</ul>
	</li>
</ul>