<p class="font-primary"></p>
<p class="font-primary italic">Italic: </p>
<p class="font-primary light">Light: </p>
<p class="font-secondary"></p>
<p class="font-secondary italic">Italic: </p>
<p class="font-secondary bold">Bold: </p>