<p class="font-primary">Primary font: "HelveticaNeue", "Arial", sans-serif;</p>
<p class="font-primary"><em>Primary font italic: "HelveticaNeue", "Arial", sans-serif;</em></p>
<p class="font-primary"><strong>Primary font bold: "HelveticaNeue", "Arial", sans-serif;</strong></p>
<p class="font-secondary">Secondary font: "Helvetica", Times, "Times New Roman", serif;</p>
<p class="font-secondary"><em>Secondary font italic: "Helvetica", Times, "Times New Roman", serif;</em></p>
<p class="font-secondary"><strong>Secondary font bold: "Helvetica", Times, "Times New Roman", serif;</strong></p>