<!DOCTYPE html>
<html ng-app="Morsel" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

  </head>
  <body>
    <div class="page-wrapper">
      <nav class="side-nav" role="navigation">
        <ul>
          <li ui-route="/home" ng-class="{active:$uiRoute}">
            <a href="#/home">Home</a>
          </li>
          <li ui-route="/about" ng-class="{active:$uiRoute}">
            <a href="#/about">About</a>
          </li>
          <li ui-route="/myfeed" ng-class="{active:$uiRoute}">
            <a href="#/myfeed" ng-show="isLoggedIn">My Feed</a>
          </li>
          <li ui-route="/dashboard" ng-class="{active:$uiRoute}" ng-show="isLoggedIn">
            <a href="#/dashboard">Dashboard</a>
          </li>
          <li ui-route="/users/{{currentUserId}}" ng-class="{active:$uiRoute}" ng-show="isLoggedIn">
            <a ng-href="#/users/{{currentUserId}}">Profile</a>
          </li>
          <li ui-route="/logout" ng-show="isLoggedIn">
            <a ui-route="/logout" href="#/logout">Logout</a>
          </li>
          <li ui-route="/login" ng-hide="isLoggedIn">
            <a ui-route="/login" href="#/login">Login</a>
          </li>
          <li ui-route="/users/{{currentUserId}}" ng-hide="isLoggedIn">
            <a ui-route="/join" href="#/join">Join</a>
          </li>
        </ul>
      </nav>

      <div id="site" ng-class="{site: true, open:menuOpen}">
        <header>
          <a ng-click="menuOpen = !menuOpen" class="side-nav-trigger">
            <img src="assets/images/icons/morsel-icon.png"/>
          </a>
          <nav role="navigation">
            <ul>
              <li ui-route="/home" ng-class="{active:$uiRoute}">
                <a href="#/home">Home</a>
              </li>
              <li ui-route="/about" ng-class="{active:$uiRoute}">
                <a href="#/about">About</a>
              </li>
              <li ui-route="/myfeed" ng-class="{active:$uiRoute}">
                <a href="#/myfeed" ng-show="isLoggedIn">My Feed</a>
              </li>
              <li ui-route="/dashboard" ng-class="{active:$uiRoute}" ng-show="isLoggedIn">
                <a href="#/dashboard">Dashboard</a>
              </li>
              <li ui-route="/users/{{currentUserId}}" ng-class="{active:$uiRoute}" ng-show="isLoggedIn">
                <a ng-href="#/users/{{currentUserId}}">Profile</a>
              </li>
              <li ui-route="/logout" ng-show="isLoggedIn">
                <a ui-route="/logout" href="#/logout">Logout</a>
              </li>
              <li ui-route="/login" ng-hide="isLoggedIn">
                <a ui-route="/login" href="#/login">Login</a>
              </li>
              <li ui-route="/users/{{currentUserId}}" ng-hide="isLoggedIn">
                <a ui-route="/join" href="#/join">Join</a>
              </li>
            </ul>
          </nav>
        </header>

        <div ui-view="main" class="main-view"></div>

        <footer class="footer">
          <div class="container">
            <div class="footer-inner">
            Morsel!
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
