<!DOCTYPE html>
<html ng-app="Morsel" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <script type="text/javascript">
      var MorselConfig = {
        version: '<%= version %>'
      };
    </script>
    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

  </head>
  <body>
    <div class="page-wrapper">
      <nav class="side-nav" role="navigation">
        <div class="user-info user-info-xs">
          <div user-image username="post.creator.username" user-photos="post.creator.photos" class="profile-pic-xs"></div>
          <div>
            <h2 ng-bind="currentUser.first_name + ' ' + currentUser.last_name"></h2>
            <a ng-click="goTo(currentUser.username)">View Profile</a>
          </div>
        </div>
        <span>Feeds</span>
        <ul>
          <li ui-route="/myfeed" ng-class="{active:$uiRoute}" ng-show="isLoggedIn">
            <a ng-click="goTo('myfeed')"><i class="sidenav-feed"></i>My Feed</a>
          </li>
        </ul>
        <span>Create</span>
        <ul>
          <li ui-route="/add-morsel" ng-class="{active:$uiRoute}" ng-show="isLoggedIn">
            <a ng-click="goTo('add-morsel')"><i class="sidenav-add-morsel"></i>My Feed</a>
          </li>
        </ul>
        <span>Other</span>
        <ul>
          <li ui-route="/home" ng-class="{active:$uiRoute}">
            <a ng-click="goTo('home')">Home</a>
          </li>
          <li ui-route="/about" ng-class="{active:$uiRoute}">
            <a ng-click="goTo('about')">About</a>
          </li>
          <li ui-route="/dashboard" ng-class="{active:$uiRoute}" ng-show="isLoggedIn">
            <a ng-click="goTo('dashboard')">Dashboard</a>
          </li>
        </ul>
        <span>Settings</span>
        <ul>
          <li ng-show="isLoggedIn">
            <a ng-click="goTo('logout')"><i class="sidenav-logout"></i>Logout</a>
          </li>
          <li ng-hide="isLoggedIn">
            <a ng-click="goTo('login')">Login</a>
          </li>
          <li ng-hide="isLoggedIn">
            <a ng-click="goTo('join')">Join</a>
          </li>
        </ul>
      </nav>

      <div id="site" ng-class="{site: true, open:menuOpen}">
        <header>
          <a ng-click="menuOpen = !menuOpen" class="side-nav-trigger"></a>
          <a ng-click="goTo('home')"><h1 class="text-hide">Morsel</h1></a>
          <nav role="navigation">
            <ul>
              <li ui-route="/about" ng-class="{active:$uiRoute}">
                <a ng-click="goTo('about')">About</a>
              </li>
              <li ng-show="isLoggedIn" ui-route="/add-morsel" ng-class="{active:$uiRoute}">
                <a ng-click="goTo('add-morsel')">Add Morsel</a>
              </li>
              <li ui-route="/myfeed" ng-class="{active:$uiRoute}">
                <a ng-click="goTo('myfeed')" ng-show="isLoggedIn">My Feed</a>
              </li>
              <li ui-route="/dashboard" ng-class="{active:$uiRoute}" ng-show="isLoggedIn">
                <a ng-click="goTo('dashboard')">Dashboard</a>
              </li>
              <li ui-route="/{{currentUser.username}}" ng-class="{active:$uiRoute}" ng-show="isLoggedIn">
                <a ng-click="goTo(currentUser.username)">Profile</a>
              </li>
              <li ng-show="isLoggedIn">
                <a ng-click="goTo('logout')">Logout</a>
              </li>
              <li ng-hide="isLoggedIn">
                <a ng-click="goTo('login')">Login</a>
              </li>
              <li ng-hide="isLoggedIn">
                <a ng-click="goTo('join')">Join</a>
              </li>
            </ul>
          </nav>
        </header>

        <div ui-view="main" class="main-view"></div>

        <footer class="footer">
          <div class="container">
            <div class="footer-inner">
              <a ng-click="goTo('home')" class="text-hide morsel-link">Morsel</a>
              <a ng-click="goTo('join')" class="btn btn-primary">Sign Up</a>
              <form role="form">
                <input class="form-control" type="text" placeholder="Search chefs, dishes, ingredients" />
              </form>
              <nav role="navigation">
                <ul class="">
                  <li ui-route="/add-morsel">
                    <a ng-click="goTo('add-morsel')">Add Morsel</a>
                  </li>
                  <li ui-route="/myfeed">
                    <a ng-click="goTo('myfeed')" ng-show="isLoggedIn">My Feed</a>
                  </li>
                  <li>
                    <a ng-click="">Get The App</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
