.place-profile {
  .nav-tabs {
    > li {
      width: percentage(1/3);
    }
  }

  .profile-container {
    text-align: center;

    > div {
      z-index: 2;
    }

    .col-sm-6 {
      padding: 0;
    }

    .col-sm-2 {
      text-align: center;
    }

    .place-map {
      img {
        border: 1px solid $morsel-medium;
      }
    }
  }

  .place-details {
    .place-open-time {
      display: inline;
    }

    .h3 {
      font-size: 16px;
      clear: both;
      margin-top: 0;
    }

    .place-details-section {
      margin-bottom: 20px;

      & > a {
        display: inline-block;
        margin-bottom: 10px;
      }

      & > p {
        margin-bottom: 10px;
      }
    }

    dl {
      overflow: hidden;
      margin-bottom: 0;
    }

    dt {
      margin-right: 10px;
      clear: both;
    }

    dt, dd {
      float: left;
      line-height: 26px;
    }

    .foursquare-icon {
      width: 250px;
      margin: 0 auto;
      display: block;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .place-profile {
    .profile-container {
      text-align: left;
    }
  }
}