<div bindonce="place" class="profile place-profile" ng-style="viewOptions.minimumMainHeight()">
  <div class="container">
    <div class="profile-container">
      <div class="profile-info col-sm-10">
        <div class="profile-body">
          <h1 class="h3" bo-text="place.name"></h1>
          <p bo-html="(place.address ? place.address + '<br/>' : '') + (place.city ? place.city + ', ':'') + place.state + (place.postal_code ? ' ' + place.postal_code : '')"></p>
        </div>
      </div>
      <div class="col-sm-2">
        <button mrsl-follow mrsl-id-to-follow="place.id" mrsl-is-following="place.following" mrsl-follow-type="place"></button>
      </div>
      <div class="profile-bg" mrsl-responsive-images="{{getPlacePhoto()}}" mrsl-ri-image-type="background"></div>
    </div>
    <div>
      <tabset class="places-tabs">
        <tab heading="Morsels">
          <ul class="clearfix morsel-grid">
            <li ng-repeat="morsel in morsels | reverse">
              <a ng-click="goTo(morsel.creator.username.toLowerCase()+'/'+morsel.id+'-'+morsel.slug)" class="centered-white">
                <div>
                  <span class="morsel-grid-title">{{morsel.title}}</span>
                </div>
                <img mrsl-responsive-images="{{getCoverPhotoArray(morsel)}}" />
              </a>
            </li>
          </ul>
          <div mrsl-view-more mrsl-view-more-func="getMorsels" mrsl-view-more-data="morsels" mrsl-view-more-inc="morselIncrement" mrsl-view-more-copy="View more morsels"></div>
          <div ng-show="!morsels" class="loader"></div>
          <div ng-show="morsels && morsels.length === 0" class="empty-state">
            <p bo-if="place.twitter_username">Eek! There are no morsels yet. <a bo-href="'https://twitter.com/home?status=Hey%20%40'+place.twitter_username+'%20I%27d%20love%20to%20see%20your%20food%20and%20drinks%20on%20%40eatmorsel!'" target="_blank">Tell {{place.name}}</a> you want to see their food and drinks on Morsel!</p>
            <p bo-if="!place.twitter_username">Eek! There are no morsels yet.</p>
          </div>
        </tab>
        <tab heading="People" select="initialLoadPeople()">
          <div class="container container-max-sm profile-tab-content" mrsl-user-list="placeUsers" mrsl-user-list-empty="'There are no users associated with this place'" mrsl-user-list-load-func="loadPeople"></div>
        </tab>
        <tab heading="Details" select="loadDetails()">
          <div class="container container-max-sm place-details profile-tab-content">
            <div class="row" bindonce="place">
              <div class="col-sm-6">
                <div class="place-details-section">
                  <a bo-if="place.information.menu_mobile_url" class="visible-xs-block visible-sm-block" bo-href="place.information.menu_mobile_url" target="_blank"><i class="common-menu"></i> View Menu</a>
                  <a bo-if="place.information.menu_url" class="visible-md-block visible-lg-block" bo-href="place.information.menu_url" target="_blank"> <i class="common-menu"></i>View Menu</a>
                  <a bo-if="place.information.reservations_url" bo-href="place.information.reservations_url" target="_blank" class="menu-link"> <i class="common-calendar"></i>Make a Reservation</a>
                </div>
                <div class="place-details-section">
                  <h5 class="h3">Contact</h5>
                  <a bo-if="place.information.website_url" bo-href="place.information.website_url" target="_blank"><i class="common-website"></i><span bo-text="place.information.website_url_text"></span></a>
                  <a bo-if="place.information.formatted_phone" bo-href="'tel:'+place.information.formatted_phone" target="_blank" class="visible-xs-block visible-sm-block"><i class="common-phone"></i><span bo-text="place.information.formatted_phone"></span></a>
                  <p bo-if="place.information.formatted_phone" target="_blank" class="visible-md-block visible-lg-block"><i class="common-phone"></i><span bo-text="place.information.formatted_phone"></span></p>
                  <a bo-if="place.twitter_username" bo-href="'https://twitter.com/' + place.twitter_username" target="_blank"><i class="common-twitter"></i><span bo-text="place.twitter_username"></span></a>
                  <a bo-if="place.facebook_page_id" bo-href="'https://facebook.com/' + place.facebook_page_id" target="_blank"><i class="common-facebook"></i><span>Facebook</span></a>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="place-details-section">
                  <h5 bo-if="place.information.price_tier" class="h3">Dining</h5>
                  <dl bo-if="place.information.price_tier">
                    <dt>Price</dt>
                    <dd><span ng-repeat="i in priceRange">$</span></dd>
                  </dl>
                </div>
                <div class="place-details-section">
                  <h5 bo-if="place.foursquare_timeframes" class="h3">Hours</h5>
                  <dl bo-if="place.foursquare_timeframes">
                    <dt bindonce ng-repeat-start="timeframe in place.foursquare_timeframes" bo-text="timeframe.days"></dt>
                    <dd ng-repeat-end>
                      <p bindonce ng-repeat="openTime in timeframe.open" class="place-open-time"><span bo-if="$index > 0">, </span><span bo-text="openTime.renderedTime"></span></p>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
            <img class="foursquare-icon" src="https://playfoursquare.s3.amazonaws.com/press/logo/poweredByFoursquare_gray.png" />
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>