<div class="profile place-profile" ng-style="viewOptions.minimumMainHeight()">
  <div class="container">
    <div class="profile-container">
      <div class="profile-info col-sm-6">
        <div class="row">
          <div class="col-xs-4">
            <div class="row">
              
              <div class="col-12">
                <!--<button mrsl-follow mrsl-id-to-follow="user.id" mrsl-is-following="user.following"></button>-->
              </div>
            </div>
          </div>
          <div class="profile-body col-xs-8">
            <h1 class="h3" ng-bind="place.name"></h1>
            <p ng-bind-html="place.address + '<br/>' + place.city + ', ' + place.state + ' ' + place.postal_code"></p>
          </div>
        </div>
      </div>
      <!--<div class="profile-bg" mrsl-responsive-images="{{getUserPhoto()}}" mrsl-ri-image-type="background"></div>-->
    </div>
    <div>
      <tabset>
        <tab heading="Morsels">
          <ul class="clearfix profile-morsels">
            <li ng-repeat="morsel in morsels | reverse">
              <a ng-click="goTo(morsel.creator.username+'/'+morsel.id+'-'+morsel.slug)" class="centered-white">
                <div>
                  <span class="profile-morsel-title">{{morsel.title}}</span>
                </div>
                <img mrsl-responsive-images="{{getCoverPhotoArray(morsel)}}" />
              </a>
            </li>
          </ul>
          <div ng-show="!morsels" class="loader"></div>
          <div ng-show="morsels && morsels.length === 0" class="empty-state">
            <p ng-if="place.twitter_username">Eek! There are no morsels yet. <a ng-href="{{'https://twitter.com/home?status=Hey%20%40'+place.twitter_username+'%20I%27d%20love%20to%20see%20your%20food%20and%20drinks%20on%20%40eatmorsel!'}}" target="_blank">Tell them</a> you want to see their food and drinks on Morsel!</p>
            <p ng-if="!place.twitter_username">Eek! There are no morsels yet.</p>
          </div>
        </tab>
        <tab heading="People" select="loadPeople()">
          <div class="container container-max-sm profile-tab-content" mrsl-user-list="placeUsers" mrsl-user-list-empty="'There are no users associated with this place'"></div>
        </tab>
      </tabset>
    </div>
  </div>
</div>