<!-- Begin Footer -->
<footer class="footer">
<div class="container">
  <div class="footer-inner">
    <a ng-click="goTo('home')" class="text-hide morsel-link">Morsel</a>
    <a ng-click="goTo('join')" class="btn btn-primary" ng-hide="isLoggedIn">Sign Up</a>
    <form role="form">
      <input class="form-control" type="text" placeholder="Search chefs, dishes, ingredients" />
    </form>
    {{> molecules-footer-nav }}
  </div>
</div>
</footer>
<!-- End Footer -->