<div class="user-list">
  <ul ng-if="places.length > 0">
    <li bindonce ng-repeat="place in places | orderBy:'name'">
      <div class="user-info">
        <div>place icon</div>
        <div class="user-body">
          <!--<button mrsl-follow mrsl-id-to-follow="user.id" mrsl-is-following="user.following"></button>-->
          <h5 class="user-info-main">
            <a bo-href="'/places/'+place.id+'-'+place.slug" bo-text="place.name"></a>
          </h5>
          <p bo-text="place.title"></p>
        </div>
      </div>
    </li>
  </ul>
  <div ng-show="!places" class="loader"></div>
  <div ng-show="places && places.length === 0" class="empty-state">
    <p>{{emptyText || 'No places'}}</p>
  </div>
</div>