<div class="user-list place-list">
  <ul ng-if="places.length > 0">
    <li bindonce ng-repeat="place in places | orderBy:'name'">
      <div class="user-info">
        <a bo-href="'/places/'+place.id+'-'+place.slug" class="user-info-icon">
          <img src="/assets/images/icons/place-icon_large.png" />
        </a>
        <div class="user-body">
          <h5 class="user-info-main">
            <a bo-href="'/places/'+place.id+'-'+place.slug" bo-text="place.name"></a>
          </h5>
          <p bo-text="place.title"></p>
        </div>
      </div>
    </li>
  </ul>
  <div ng-show="!places" class="loader"></div>
  <div ng-show="places && places.length === 0" class="empty-state">
    <p>{{emptyText || 'No places'}}</p>
  </div>
</div>