<div class="feed">
  <div class="feed-notification" ng-class="{'no-new-items': newFeedItemCount === 0}">
    <a ng-click="showNewFeedItems()">{{newFeedItemCount}} new morsel{{newFeedItemCount === 1? '':'s'}}</a>
  </div>
  <div class="feed-container container-shadow">
    <ul class="clearfix morsel-grid morsel-grid-big">
      <li ng-repeat="feedItem in feedItems">
        <div mrsl-morsel-summary="feedItem.subject" mrsl-feed-item-id="feedItem.id"></div>
      </li>
    </ul>
    <div ng-if="!feedItems" class="loader"></div>
    <div mrsl-view-more mrsl-view-more-func="grabOldFeed" mrsl-view-more-data="feedItems" mrsl-view-more-inc="feedItemIncrement" mrsl-view-more-order="last" mrsl-view-more-copy="View more morsels"></div>
    <div ng-if="feedItems && feedItems.length === 0" class="empty-state">
      <p>You don't have anything in your feed</p>
    </div>
  </div>
</div>