<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h4 class="h2">Likers <span ng-show="item.likers.length > 0">({{item.likers.length}})</span></h4>
</div>
<div class="modal-body user-list">
  <ul ng-show="item.likers.length > 0">
    <li ng-repeat="liker in item.likers | reverse">
      <div class="user-info">
        <div mrsl-user-image mrsl-username="liker.username" mrsl-user-photos="liker.photos" mrsl-user-image-size="profile-pic-xs"></div>
        <div class="user-body">
          <h5 class="user-info-main">
            <a href="/{{liker.username}}">{{liker.first_name}} {{liker.last_name}}</a>
          </h5>
        </div>
      </div>
    </li>
  </ul>
  <div ng-show="!item.likers" class="loader"></div>
  <div ng-show="item.likers && item.likers.length === 0" class="empty-state">
    <p>No one has liked this yet</p>
  </div>
</div>